<template>
  <div class="app-container">
    <!-- <el-form ref="form" :rules="videoRules" :model="form" label-width="120px">
       <el-form-item prop="storeId" label="店铺">
            <el-select filterable v-model="form.storeId" placeholder="请选择" style="width: 100%;">
              <el-option v-for="item in storeList" :key="item.id" :label="item.name" :value="item.id" />
            </el-select>
      </el-form-item>
      <el-form-item prop="name" label="名称">
        <el-input v-model="form.name" />
      </el-form-item>
      <el-form-item prop="description" label="描述">
        <el-input v-model="form.description" type="textarea" />
      </el-form-item>
       <el-form-item prop="thumbnail" style="margin-bottom: 30px;" label="缩略图">
        <Upload v-model="form.thumbnail" @on:input="onUpload" />
      </el-form-item>
      <el-form-item prop="content" label="内容">
        <el-input v-model="form.content" type="textarea" />
      </el-form-item>
      <el-form-item prop="url" label="视频URL">
        <el-input v-model="form.url"/>
      </el-form-item>
      <el-form-item prop="length" label="视频时长">
        <el-input v-model="form.length" />
      </el-form-item>
      <el-form-item prop="resolution" label="视频分辨率">
        <el-input v-model="form.resolution" />
      </el-form-item>
      <el-form-item prop="goodsIds" label="商品列表">
        <el-select v-model="form.goodsIds" multiple filterable placeholder="请选择" style="width: 100%;">
          <el-option v-for="item in goodsIdsList" :key="item.id" :label="item.name" :value="item.id" />
        </el-select>
      </el-form-item>
      <el-form-item prop="rank" label="排序">
        <el-input v-model="form.rank" min="1" type="number"/>
      </el-form-item>
      <el-form-item prop="isShow" label="是否展示">
        <el-checkbox v-model="form.isShow"></el-checkbox>
      </el-form-item>
      <el-form-item>
        <el-button :loading="loading" type="primary" @click="onSubmit">保存</el-button>
      </el-form-item>
    </el-form> -->
      <div  class="prism-player" id="J_prismPlayer"></div>
      <h3>视频评论</h3>
      <!-- <el-table
      v-loading="listLoading"
      :data="list"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >
      <el-table-column align="center" label="作者id">
        <template slot-scope="scope">
          {{ scope.row.authorId }}
        </template>
      </el-table-column>
      <el-table-column label="作者昵称" align="center">
        <template slot-scope="scope">
          {{ scope.row.authorNickName }}
        </template>
      </el-table-column>
     
      <el-table-column  label="	作者头像" width="100" align="center">
        <template slot-scope="scope">
          <el-popover
            placement="top"
            trigger="hover">
            <div
            style="
            width: 400px; 
            height: 400px;
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex-box;
            display:flex;
            -webkit-box-align:center;
            -ms-flex-align:center;
            align-items:center;
            -webkit-box-pack:center;
            -ms-flex-pack:center;
            justify-content:center;
            text-align:center;
            ">
                <img style="max-width: 100%; max-height: 100%;" :src="scope.row.authorAvatorUrl" alt="" srcset="">
            </div>
            <img  slot="reference" style="width: 80px; height: 80px;" :src="scope.row.authorAvatorUrl" alt="" srcset="">
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column label="评论内容" align="center">
        <template slot-scope="scope">
          <span>{{ scope.row.commentContent }}</span>
        </template>
      </el-table-column>
       <el-table-column label="评论回复数" align="center">
        <template slot-scope="scope">
          <span>{{ scope.row.commentReplyNum }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" prop="created_at" label="评论时间">
        <template slot-scope="scope">
          <i class="el-icon-time" />
          <span>{{ scope.row.commentDatetime}}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" prop="created_at" label="点赞数">
        <template slot-scope="scope">
          <span>{{ scope.row.commentSupportNum}}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="操作">
        <template slot-scope="scope">
          <el-button plain  type="primary" @click="handleEdit(scope.row.commentId)">
            查看回复
          </el-button>
        </template>
      </el-table-column>
    </el-table> -->
    <ArticleComment v-if="list!=null" :list='list' :videoId='sendvideoId' @getnewlist="getlist"></ArticleComment>  
  </div>
</template>

<script>
import Upload from '@/components/Upload/SingleImage'
import { validEmpty } from '@/utils/validate'
import { modify, get ,getplayer,getcommonList,videorepeatrequest} from '@/api/video'
import { GoodsGetList as GoodsGetList } from '@/api/goods'
import { getList } from '@/api/store';
import Cookies from 'js-cookie'
let  token=JSON.parse(Cookies.get('userinfo'));
import ArticleComment from '@/components/commentrepeat/commentrepeat';
export default {
  components: { Upload ,
    ArticleComment
  },
 data() {
    const validateName = (rule, value, callback) => {
      if (!validEmpty(value)) {
        callback(new Error('请输入！'))
      } else {
        callback()
      }
    }
    return {
      params:{
        size:10000,
        page:1
      },
       list: null,
      listLoading: true,
      playAuth:'',
      goodsIdsList:'',
      storeList:'',
      videoId:'',
      sendvideoId:'',
      form: {
        storeId: '',
        name: '',
        description: '',
        thumbnail: '',
        content: '',
        url: '',
        length: '',
        resolution: '',
        goodsIds: [],
        isShow: false
      },
      videoRules: {
        storeId:[{ required: true, trigger: 'blur', validator: validateName }],
        name:[{ required: true, trigger: 'blur', validator: validateName }],
        thumbnail:[{ required: true, trigger: 'blur', validator: validateName }],
        url: [{ required: true, trigger: 'blur', validator: validateName }],
        length:[{ required: true, trigger: 'blur', validator: validateName }],
        resolution:[{ required: true, trigger: 'blur', validator: validateName }],
        // goodsIds:[{ required: true, trigger: 'blur', validator: validateName }]
      },
      loading: false,
      player:null
    }
  },
  created() {
    // this.fetchData()
    this.sendvideoId=Number(this.$route.params.id)
   getplayer(this.$route.params.id,JSON.parse(Cookies.get('userinfo'))).then(rs=>{
     console.log(rs);
     this.playAuth=rs.data.playAuth;
     this.videoId=rs.data.videoId;
     this.setplayer();
   })
   getcommonList(this.$route.params.id,JSON.parse(Cookies.get('userinfo'))).then(rs=>{
     console.log(rs);
      this.list = rs.data;
     this.listLoading = false
     console.log("获取评论");
   })
  },
  mounted() {
    // this.fetch(this.$route.params.id)
    // this.fetchData()
   
   
         
  },
  methods: {
    getlist(e){
console.log(e)
   if(e){
     getcommonList(this.$route.params.id,JSON.parse(Cookies.get('userinfo'))).then(rs=>{
     console.log(rs);
      this.list = rs.data;
     this.listLoading = false
     console.log("获取评论");
   })
   }
    },
    handleEdit(e){
     videorepeatrequest(e).then(rs=>{

     })
    },
      setplayer(){
    this.player= new Aliplayer({
            id: 'J_prismPlayer',       
            vid: this.videoId,
            playauth:this.playAuth,
            qualitySort: "asc",
            format: "mp4",
            mediaType: "video",
            width: "100%",
            height: "400px",
            autoplay: true,
            isLive: false,
            rePlay: false,
            playsinline: true,
            preload: true,
            controlBarVisibility: "hover",
            useH5Prism: true
            },function(player){
                console.log('播放器创建好了。')
           })

      },

    fetch(id) {
      get(id).then(response => {
        this.form = response.data
        this.loaded = true
        this.thumbnail = response.data.thumbnail
      })
    },
    fetchData() {
      GoodsGetList().then(response => {
        this.goodsIdsList = response.data
      })
      getList(this.params,JSON.parse(Cookies.get('userinfo'))).then(response => {
        this.storeList = response.data
      })
    },
    onUpload(data) {
      this.form.thumbnail = data
    },
    onSubmit() {
      // this.form.thumbnail = Object.values(this.thumbnail)
      // this.form.detail = Object.values(this.detail)
      // this.form.specification = Object.values(this.specification)
      // this.form.other = Object.values(this.other)
      this.$refs.form.validate(valid => {
        if (valid) {

          this.loading = true
        
          modify(this.form, this.$route.params.id,).then(response => {
            this.loading = false
            this.$router.push({ path: '/video/list' })
          }).catch((error) => {
            this.$message({
              message: error.response.data,
              type: 'warning'
            })
            this.loading = false
          })
           
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
  }
}
</script>

<style scoped>
.line{
  text-align: center;
}
</style>

