<template>
  <div class="app-container">
    <template>
      <el-input v-model="listQuery.title" placeholder="输入关键字搜索" style="width: 200px;position: fixed;left:80vw;z-index:10;" class="filter-item" @keyup.enter.native="handleFilter">
        <el-button slot="append">搜索</el-button>
      </el-input>
        <el-tabs type="border-card" v-model="activeName" @tab-click="handleClick">
            <el-tab-pane v-for="(item,index) in tagList" :key="index" :label="item.label" :name="item.name">
                <div class="filter-container">
                    <el-select filterable v-model="listQuery.importance" placeholder="次级分类" clearable style="width: 380px" class="filter-item">
                        <el-option v-for="item in importanceOptions" :key="item" :label="item" :value="item" />
                    </el-select>
                    <el-select filterable v-model="listQuery.importance" placeholder="品牌" clearable style="width: 380px" class="filter-item">
                        <el-option v-for="item in importanceOptions" :key="item" :label="item" :value="item" />
                    </el-select>
                    <el-select filterable v-model="listQuery.type" placeholder="价格区间" clearable class="filter-item" style="width: 380px">
                        <el-option v-for="item in calendarTypeOptions" :key="item.key" :label="item.display_name+'('+item.key+')'" :value="item.key" />
                    </el-select>
                    <!-- <el-select filterable v-model="listQuery.sort" style="width: 140px" class="filter-item" @change="handleFilter">
                        <el-option v-for="item in sortOptions" :key="item.key" :label="item.label" :value="item.key" />
                    </el-select> -->
                    <!-- <el-button v-waves class="filter-item" icon="el-icon-search" @click="handleFilter">
                        仅显示缺货
                    </el-button> -->
                        <el-button v-waves class="filter-item" style="margin-left:0.8rem;padding: 8px 20px;"   @click="handleFilter">
                        <el-checkbox v-model="showReviewer" class="filter-item" style="margin-bottom:0;font-weight: normal;" @change="tableKey=tableKey+1">
                        仅显示有货
                    </el-checkbox>  
                    </el-button>
                        <el-button v-waves class="filter-item" style="padding: 8px 20px;"  @click="handleFilter">
                        <el-checkbox v-model="showReviewer" class="filter-item" style="margin-bottom:0;font-weight: normal;" @change="tableKey=tableKey+1">
                        活动商品
                    </el-checkbox>  
                    </el-button>
                    <el-badge   style="float:right"  class="item settlementBtn">
                        <el-button @click="orderSettlement" type="success" plain size="medium">结算</el-button>
                    </el-badge>
                    <el-badge   style="float:right"  class="item resetBtn">
                        <el-button type="primary" plain size="medium">重置筛选</el-button>
                    </el-badge>
            </div>
            <el-row :gutter="20">
              <el-col v-for="(item) in goodsList" :key="item.id" :span="12">
                <div class="goods-content">
                   <el-checkbox class="goods-checkbox" label=""></el-checkbox>
                   <img class="goods-img" :src="item.imgUrl" :alt="item.name"/>
                   <div class="goods-text">
                     <span>
                       {{item.name}}
                     </span>
                      <span>
                       {{item.number}}{{item.quality}}
                     </span>
                      <span>
                       {{item.specification}}
                     </span>
                      <span>
                       库存:{{item.stock}}
                     </span>
                      <span>
                       {{item.total}}
                     </span>
                      <span>
                       {{item.offer}}
                     </span>
                   </div>
                   <el-input-number class="input-number" v-model="goodsNum" @change="goodsNumberChange" :min="1" :max="10" label="描述文字"></el-input-number>
                </div>
              </el-col>
            </el-row>
            </el-tab-pane>
        </el-tabs>
    </template>
    <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.limit" @pagination="getList" />
    <Settlement ref="Settlement"></Settlement>
  </div>
</template>

<script>
import waves from '@/directive/waves' // waves directive
import Pagination from '@/components/Pagination' // secondary package based on el-pagination
import Settlement from './components/Settlement/Settlement'
const calendarTypeOptions = [
  { key: 'CN', display_name: 'China' },
  { key: 'US', display_name: 'USA' },
  { key: 'JP', display_name: 'Japan' },
  { key: 'EU', display_name: 'Eurozone' }
]

// arr to obj, such as { CN : "China", US : "USA" }
const calendarTypeKeyValue = calendarTypeOptions.reduce((acc, cur) => {
  acc[cur.key] = cur.display_name
  return acc
}, {})

export default {
  name: 'SalesDesk',
  components: { 
    Pagination:Pagination,
    Settlement:Settlement
  },
  directives: { waves },
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'info',
        deleted: 'danger'
      }
      return statusMap[status]
    },
    typeFilter(type) {
      return calendarTypeKeyValue[type]
    }
  },
  data() {
    return {
      goodsNum:1,
      goodsList:[
        {
          id:'1',
          name:'鸡蛋',
          number:8,
          quality:'500g',
          specification:'500g/盒',
          stock:12,
          total:20,
          imgUrl:require('../../../static/egg.jpg'),
          offer:'两件99折'
        },
        {
          id:'2',
          name:'鸡蛋',
          number:8,
          quality:'500g',
          specification:'500g/盒',
          stock:12,
          total:20,
          imgUrl:require('../../../static/egg.jpg'),
          offer:''
        },
        {
          id:'3',
          name:'鸡蛋',
          number:8,
          quality:'500g',
          specification:'500g/盒',
          stock:12,
          total:20,
          imgUrl:require('../../../static/egg.jpg'),
          offer:''
        },
        {
          id:'4',
          name:'鸡蛋',
          number:8,
          quality:'500g',
          specification:'500g/盒',
          stock:12,
          total:20,
          imgUrl:require('../../../static/egg.jpg'),
          offer:''
        },{
          id:'5',
          name:'鸡蛋',
          number:8,
          quality:'500g',
          specification:'500g/盒',
          stock:12,
          total:20,
          imgUrl:require('../../../static/egg.jpg'),
          offer:''
        },{
          id:'6',
          name:'鸡蛋',
          number:8,
          quality:'500g',
          specification:'500g/盒',
          stock:12,
          total:20,
          imgUrl:require('../../../static/egg.jpg'),
          offer:''
        },{
          id:'7',
          name:'鸡蛋',
          number:8,
          quality:'500g',
          specification:'500g/盒',
          stock:12,
          total:20,
          imgUrl:require('../../../static/egg.jpg'),
          offer:''
        },{
          id:'8',
          name:'鸡蛋',
          number:8,
          quality:'500g',
          specification:'500g/盒',
          stock:12,
          total:20,
          imgUrl:'',
          offer:''
        },{
          id:'9',
          name:'鸡蛋',
          number:8,
          quality:'500g',
          specification:'500g/盒',
          stock:12,
          total:20,
          imgUrl:'',
          offer:''
        },{
          id:'10',
          name:'鸡蛋',
          number:8,
          quality:'500g',
          specification:'500g/盒',
          stock:12,
          total:20,
          imgUrl:'',
          offer:''
        },
      ],
      tagList:[
          {
              label:'分类001',
              name:'first'
          },
          {
              label:'分类002',
              name:'second'
          },
          {
              label:'分类003',
              name:'third'
          },
          {
              label:'分类004',
              name:'fourth'
          },
      ],
      activeName: 'first',
      initialA:false,
      initialB:false,
      initialC:false,
      initialD:false,
      showDetails:false,
      tableKey: 0,
      list: null,
      total: 0,
      listLoading: true,
      listQuery: {
        page: 1,
        limit: 20,
        importance: undefined,
        title: undefined,
        type: undefined,
        sort: '+id'
      },
      importanceOptions: [1, 2, 3],
      calendarTypeOptions,
      sortOptions: [{ label: 'ID Ascending', key: '+id' }, { label: 'ID Descending', key: '-id' }],
      statusOptions: ['published', 'draft', 'deleted'],
      showReviewer: false,
      temp: {
        id: undefined,
        importance: 1,
        remark: '',
        timestamp: new Date(),
        title: '',
        type: '',
        status: 'published'
      },
      dialogFormVisible: false,
      dialogStatus: '',
      textMap: {
        update: 'Edit',
        create: 'Create'
      },
      dialogPvVisible: false,
      pvData: [],
      downloadLoading: false
    }
  },
  created() {
    this.getList()
  },
  methods: {
    orderSettlement(){
      this.$refs.Settlement.isShow()
    },
    handleClick(tab, event) {
        console.log(tab, event);
    },
    goodsNumberChange(){

    },
    getList() {
      this.listLoading = false
      this.list = [{
        id: 1045,
        importance: 1,
        remark: "123123",
        timestamp: "2019-11-22T07:15:31.567Z",
        title: "123123",
        status: "published",
        type: "CN",
        author: "vue-element-admin"
      }];
      this.total = 0;
    },
    handleFilter() {
      this.listQuery.page = 1
      this.getList()
    }
  }
}
</script>
<style scoped>
.btn{
  display:inline-block;
  height: 2rem;
  line-height: 2rem;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #DCDFE6;
  border-radius: 4px;
}
.btnA{
  display:inline-block;
  height: 2rem;
  line-height: 2rem;
  padding-left: 10px;
  padding-right: 10px;
  font-family: MicrosoftYaHeiLight;
  font-size: 14px;
  color: #606266;
  letter-spacing: 0;
}
.btn_item{
  display:inline-block;
}
.btn_text{
  font-family: MicrosoftYaHeiLight;
  font-size: 14px;
  color: #C0C4CC;
  letter-spacing: 0;
}
.btn_text_Click{
  font-family: MicrosoftYaHeiLight;
  font-size: 14px;
  color: #5E6166;
  letter-spacing: 0;
}
.listItemText{
  font-family: MicrosoftYaHeiLight;
  font-size: 14px;
  color: #606266;
  letter-spacing: 0;
  line-height: 14px;
}
.goods-content{
  height: 13.3rem;
  background: #FFFFFF;
  border: 1px solid #DCDFE6;
  border-radius: 4px;
  margin-bottom: 1.7rem;
}
.goods-img{
  display: inline-block;
  margin-top: 2vh;
  margin-left: 1.8rem;
  width: 120px;
  height: 120px;
}
.goods-text{
  display: inline-block;
}
.goods-text span{
  display: block;
}
.input-number{
  margin-left: 18.5vw;
}
.settlementBtn{

}
.resetBtn{
  margin-right: 0.8rem;
}
.goods-checkbox{
  display: inline-block;
  line-height: 13.3rem;
}
</style>