<template>
  <div class="app-container">
    <el-form ref="form" :rules="brandRules" :model="form" label-width="120px">
      <el-form-item prop="name" label="名称">
        <el-input v-model="form.name" />
      </el-form-item>
      <el-form-item prop="description" label="描述">
        <el-input v-model="form.description" type="textarea" />
      </el-form-item>
      <el-form-item prop="thumbnail" style="margin-bottom: 30px;" label="缩略图">
        <Upload v-model="form.thumbnail" @on:input="onUpload" />
      </el-form-item>
      <el-form-item>
        <el-button :loading="loading" type="primary" @click="onSubmit">修改</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import Upload from '@/components/Upload/SingleImage'
import { validEmpty } from '@/utils/validate'
import { getbrandinfo,upadte} from '@/api/brand'
export default {
  components: { Upload },
  data() {
    const validateName = (rule, value, callback) => {
      if (!validEmpty(value)) {
        callback(new Error('请输入品牌名称！'))
      } else {
        callback()
      }
    }
    return {
      id:'',
      form: {
        name: '',
        description: '',
        thumbnail: ''
      },
      brandRules: {
        name: [{ required: true, trigger: 'blur', validator: validateName }]
      },
      loading: false
    }
  },
   created(){
    this.id=this.$route.params.id;
    this.brandinfo(this.id)
  },
  methods: {
    brandinfo(e){
   getbrandinfo(e).then(res=>{
     if(res.success==true){
      this.form=res.data
    }
   })
    },
    onUpload(data) {
      this.form.thumbnail = data
    },
    onSubmit() {
      this.$refs.form.validate(valid => {
        if (valid) {
          this.loading = true
          upadte(this.form,this.id).then(response => {
               if(response.success==true){
                   this.$message({
          message:response.message,
          type: 'success'
        });
          this.loading = false
            this.$router.push({ path: '/brand/list' })
              }
          
          }).catch((error) => {
            this.$message({
              message: error.response.data,
              type: 'warning'
            })
            this.loading = false
          })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    }
  }
}
</script>

<style scoped>
.line{
  text-align: center;
}
</style>

