<template>
  <div class="app-container">
    <el-form ref="form" :rules="goodsRules" :model="form" label-width="120px">
      <el-row>
        <el-col :span="12">
          <el-form-item prop="categoryId" label="所属类别">
            <el-tree
              style="margin-left:5vw"
              ref="treeForm"
              :data="categories"
              show-checkbox
              node-key="id"
              check-strictly
              :default-expanded-keys="[form.categoryId]"
              :default-checked-keys="[form.categoryId]"
              @check-change="handleCheckChange"
              :props="defaultProps">
            </el-tree>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item prop="brandId" label="所属品牌">
            <el-select filterable v-model="form.brandId" placeholder="请选择" style="width: 100%;">
              <el-option v-for="item in brands" :key="item.id" :label="item.name" :value="item.id" />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-form-item prop="tagIds" label="所属标签">
        <el-select filterable v-model="form.tagIds" multiple placeholder="请选择" style="width: 100%">
          <el-option v-for="item in tags" :key="item.id" :label="item.name" :value="item.id" />
        </el-select>
      </el-form-item>
      <el-form-item prop="name" label="名称">
        <el-input v-model="form.name" />
      </el-form-item>
      <el-form-item prop="shortName" label="短名称">
        <el-input v-model="form.shortName" />
      </el-form-item>
      <el-form-item prop="description" label="描述">
        <el-input v-model="form.description" type="textarea" />
      </el-form-item>
      <el-form-item prop="sn" label="货号">
        <el-input v-model="form.sn" />
      </el-form-item>
      <el-form-item prop="thumbnail" label="首图">
        <el-upload
          action="http://www.miaodou.club/api/v2/upload"
          list-type="picture-card"
          :on-preview="handlePictureCardPreview"
          :on-remove="handleRemove"
             :headers="header"
          :on-success="handleSuccess"
          :file-list="thumbnail"
          multiple
        >
          <i class="el-icon-plus" />
        </el-upload>
        <el-dialog :visible.sync="dialogVisible">
          <img width="100%" :src="dialogImageUrl" alt="">
        </el-dialog>
      </el-form-item>
      <el-form-item prop="detail" label="产品详情">
        <el-upload
          action="http://www.miaodou.club/api/v2/upload"
          list-type="picture-card"
          :on-preview="handlePictureCardPreview"
          :on-remove="handleDetailRemove"
          :on-success="handleDetailSuccess"
          :file-list="detail"
          multiple
        >
          <i class="el-icon-plus" />
        </el-upload>
        <el-dialog :visible.sync="dialogVisible">
          <img width="100%" :src="dialogImageUrl" alt="">
        </el-dialog>
      </el-form-item>
      <el-form-item prop="specification" label="产品规格">
        <el-upload
          action="http://www.miaodou.club/api/v2/upload"
          list-type="picture-card"
          :on-preview="handlePictureCardPreview"
          :on-remove="handleSpecificationRemove"
          :on-success="handleSpecificationSuccess"
          :file-list="specification"
             :headers="header"
          multiple
        >
          <i class="el-icon-plus" />
        </el-upload>
        <el-dialog :visible.sync="dialogVisible">
          <img width="100%" :src="dialogImageUrl" alt="">
        </el-dialog>
      </el-form-item>
      <el-form-item prop="other" label="包装售后">
        <el-upload
          action="http://www.miaodou.club/api/v2/upload"
          list-type="picture-card"
          :on-preview="handlePictureCardPreview"
          :on-remove="handleOtherRemove"
          :on-success="handleOtherSuccess"
          :file-list="other"
             :headers="header"
          multiple
        >
          <i class="el-icon-plus" />
        </el-upload>
        <el-dialog :visible.sync="dialogVisible">
          <img width="100%" :src="dialogImageUrl" alt="">
        </el-dialog>
      </el-form-item>
      <el-row>
        <el-col :span="8">
          <el-form-item prop="price" label="售价">
            <el-input v-model="form.price" />
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item prop="marketPrice" label="市场价">
            <el-input v-model="form.marketPrice" />
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item prop="promotePrice" label="促销价">
            <el-input v-model="form.promotePrice" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="8">
          <el-form-item label-width="120px" prop="promoteStartDate" label="促销开始时间">
            <el-date-picker v-model="form.promoteStartDate" type="datetime" format="yyyy-MM-dd HH:mm:ss" placeholder="选择日期和时间" style="width: 100%;" />
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label-width="120px" prop="promoteEndDate" label="促销结束时间">
            <el-date-picker v-model="form.promoteEndDate" type="datetime" format="yyyy-MM-dd HH:mm:ss" placeholder="选择日期和时间" style="width: 100%;" />
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label-width="120px" prop="isPromote" >
            <el-checkbox v-model="form.isPromote">是否促销</el-checkbox>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="6">
          <el-form-item label-width="120px" prop="isBest" >
            <el-checkbox v-model="form.isBest">是否精品</el-checkbox>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label-width="120px" prop="isNew" >
            <el-checkbox v-model="form.isNew">是否新品</el-checkbox>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label-width="120px" prop="isHot" >
            <el-checkbox v-model="form.isHot">是否热销</el-checkbox>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label-width="120px" prop="isSale" >
            <el-checkbox v-model="form.isSale">是否售卖</el-checkbox>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item prop="weightUnit" label="重量单位">
            <el-input v-model="form.weightUnit" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item prop="weight" label="重量">
            <el-input v-model="form.weight" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-form-item prop="integral" label="购买获得积分">
        <el-input v-model="form.integral" />
      </el-form-item>
      <el-form-item>
        <el-button :loading="loading" type="primary" @click="onSubmit">保存</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import Upload from '@/components/Upload/SingleImage'
import { validEmpty } from '@/utils/validate'
import { modify, get } from '@/api/goods'
import { create } from '@/api/snapshot'
import { CategoryGetList as CategoryGetList } from '@/api/category'
import { BrandGetList as BrandGetList } from '@/api/brand'
import { TagGetList as TagGetList } from '@/api/tag'
import { getToken } from '@/utils/auth'
export default {
  components: { Upload },
  data() {
    const validateName = (rule, value, callback) => {
      if (!validEmpty(value)) {
        callback(new Error('请输入品牌名称！'))
      } else {
        callback()
      }
    }
    return {
      header:{
        Authorization:'Bearer '+getToken()
      },
      dialogImageUrl: '',
      dialogVisible: false,
      categories: [],
      brands: [],
      tags: [],
      thumbnail: [],
      detail: [],
      specification: [],
      other: [],
      loaded: false,
      form: {
        categoryId: '',
        brandId: '',
        tagIds: '',
        name: '',
        shortName: '',
        description: '',
        sn: '',
        thumbnail: [],
        detail: [],
        specification: [],
        price: '',
        marketPrice: '',
        promotePrice: '',
        other: [],
        promoteStartDate: '',
        promoteEndDate: '',
        isPromote: false,
        isBest:false,
        isNew: false,
        isHot: false,
        isSale: false,
        weightUnit: '',
        weight: '',
        integral: 0
      },
      goodsRules: {
        categoryId:[{ required: true, trigger: 'blur', validator: validateName }],
        // brandId:[{ required: true, trigger: 'blur', validator: validateName }],
        // tagIds:[{ required: true, trigger: 'blur', validator: validateName }],
        name: [{ required: true, trigger: 'blur', validator: validateName }],
        shortName:[{ required: true, trigger: 'blur', validator: validateName }],
        sn:[{ required: true, trigger: 'blur', validator: validateName }],
        thumbnail:[{ required: true, trigger: 'blur', validator: validateName }],
        // detail:[{ required: true, trigger: 'blur', validator: validateName }],
        weight:[{ required: true, trigger: 'blur', validator: validateName }], 
        other:[{ required: true, trigger: 'blur', validator: validateName }],
        price:[{ required: true, trigger: 'blur', validator: validateName }],
        marketPrice:[{ required: true, trigger: 'blur', validator: validateName }],
        weightUnit:[{ required: true, trigger: 'blur', validator: validateName }]
      },
      loading: false,
      defaultProps:{
        label:'name',
        children:'categories'
      }
    }
  },
  created() {
    this.fetch(this.$route.params.id)
    this.fetchData()
  },
  methods: {
    handlePictureCardPreview(file) {
      
      this.dialogImageUrl = file.url
      this.dialogVisible = true
    },
    handleRemove(file, list) {
      this.thumbnail = list
    },
    handleSuccess(response, file, list) {
      console.log(file);
      console.log(response);
      list.forEach(element => {
        if (element.response) {
          element.url = element.response.data.path
          element.dimensions = element.response.data.dimensions
        }
        delete element.response
        delete element.raw
      })
      this.thumbnail = list
    },
    handleDetailRemove(file, list) {
      this.detail = list
    },
    handleDetailSuccess(response, file, list) {
      list.forEach(element => {
        if (element.response) {
          element.url = element.response.data.path
          element.dimensions = element.response.data.dimensions
        }
        delete element.response
        delete element.raw
      })
      this.detail = list
    },
    handleSpecificationRemove(file, list) {
      this.specification = list
    },
    handleSpecificationSuccess(response, file, list) {
      list.forEach(element => {
        if (element.response) {
          element.url = element.response.data.path
          element.dimensions = element.response.data.dimensions
        }
        delete element.response
        delete element.raw
      })
      this.specification = list
    },
    handleOtherRemove(file, list) {
      this.other = list
    },
    handleOtherSuccess(response, file, list) {
      list.forEach(element => {
        if (element.response) {
          element.url = element.response.data.path
          element.dimensions = element.response.data.dimensions
        }
        delete element.response
        delete element.raw
      })
      this.other = list
    },
    fetch(id) {
      get(id).then(response => {
        this.form = response.data
        this.loaded = true
        this.thumbnail = response.data.thumbnail
        this.detail = response.data.detail
        this.specification = response.data.specification
        this.other = response.data.other
      })
    },
    fetchData() {
      CategoryGetList().then(response => {
        console.log(response);
        this.categories = response.data
      })

      BrandGetList().then(response => {
        this.brands = response.data
      })

      TagGetList().then(response => {
        this.tags = response.data
      })
    },
    onUpload(data) {
      console.log(data)
    },
    onSubmit() {
      // this.form.thumbnail = Object.values(this.thumbnail)
      // this.form.detail = Object.values(this.detail)
      // this.form.specification = Object.values(this.specification)
      // this.form.other = Object.values(this.other)
      this.form.thumbnail = this.thumbnail
      this.form.detail = this.detail
      this.form.specification = this.specification
      this.form.other = this.other
      this.$refs.form.validate(valid => {
        if (valid) {
          this.loading = true
          modify(this.form, this.$route.params.id).then(response => {
            this.loading = false
            this.form['goodsId']=this.form.id
            create(this.form).then(response => {
            // this.loading = false
           this.$router.push({ path: '/goods/list' });
          }).catch((error) => {
            // this.$message({
            //   message: error.response.data.errors.name,
            //   type: 'warning'
            // })
            // this.loading = false
          })
            
          }).catch((error) => {
            this.$message({
              message: error.response.data,
              type: 'warning'
            })
            this.loading = false
          })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    addSpecification() {
      var _this = this;
      _this.specification.push(
        {
          price: '',
          marketPrice: '',
          promotePrice: '',
        }
      );
    },
    delSpecification(e) {
      var _this = this;
      _this.specification.splice(e,1);
    },
    handleCheckChange(data, checked) {
      if(checked == true){
        this.form.categoryId = data.id;
        this.$refs.treeForm.setCheckedNodes([data]);
      }   
    }

  }
}
</script>

<style scoped>
.line{
  text-align: center;
}
</style>

