<template>
  <div class="OrderSettlement-container">
    <el-row :gutter="40">
      <el-col class="model-item" :span="6" :offset="1">
       <h3>
         <span class="orderNumber">订单编号:</span>
         <span class="orderText">{{orderCode}}</span>
         <span class="orderText" style="margin-left:8vw;">{{orderTime}}</span>
       </h3>
       <div class="lineA"></div>
       <el-table
        :data="tableData"
        style="width: 20vw">
        <el-table-column
          prop="name"
          label="品名"
          align="left">
        </el-table-column>
        <el-table-column
          prop="price"
          label="价格"
          align="center">
        </el-table-column>
        <el-table-column
          prop="number"
          label="数量"
          align="center">
        </el-table-column>
        <el-table-column
          prop="subtotal"
          label="小计"
          align="right">
        </el-table-column>
      </el-table>
      <el-row :gutter="20">
        <el-col :span="12">
          <div class="grid-content bg-purple bg_purple_l">
            <span class="get_Total_l">合计</span>
          </div>
        </el-col>
        <el-col :span="12">
          <div class="grid-content bg-purple bg_purple_r">
            <span class="get_Total_r">{{getTotal()}}</span>
          </div>
        </el-col>
      </el-row>
      <el-row :gutter="20">
        <el-col :span="12">
          <div class="grid-content bg-purple bg_purple_l">
            <span class="discounted_Price_l">优惠金额</span>
          </div>
        </el-col>
        <el-col :span="12">
          <div class="grid-content bg-purple bg_purple_r">
            <span class="discounted_Price_r">{{discountedPrice}}</span>
          </div>
        </el-col>
      </el-row>
       <div class="lineB"></div>
      <el-row :gutter="20">
        <el-col :span="12">
          <div class="grid-content bg-purple bg_purple_l">
            <span class="actually_paid_l">实付金额</span>
          </div>
        </el-col>
        <el-col :span="12">
          <div class="grid-content bg-purple bg_purple_r">
            <span class="actually_paid_r">{{getTotal()}}</span>
          </div>
        </el-col>
      </el-row>
      <el-button class="cancelOrder" type="primary">取消订单</el-button>
      </el-col>
      <el-col :span="16">
          <el-tabs class="model-item" type="border-card" v-model="activeName">
            <el-tab-pane class="el_tab_pane" v-for="(item,index) in tagList" :key="index" :label="item.label" :name="item.name">
            </el-tab-pane>
          </el-tabs>
      </el-col>
    </el-row>
  </div>
</template>

<script>
export default {
  name: 'OrderSettlement',
  data() {
    return {
      orderCode:'DD20191128',
      orderTime:'2019.11/28',
      discountedPrice:0,
      tableData:[
        {
          name:'鸡蛋',
          price:12,
          number:'X 1',
          subtotal:12
        },
        {
          name:'鸡蛋',
          price:12,
          number:'X 1',
          subtotal:12
        },
        {
          name:'鸡蛋',
          price:12,
          number:'X 1',
          subtotal:12
        },
        {
          name:'鸡蛋',
          price:12,
          number:'X 1',
          subtotal:12
        },
        {
          name:'鸡蛋',
          price:12,
          number:'X 1',
          subtotal:12
        },
        {
          name:'鸡蛋',
          price:12,
          number:'X 1',
          subtotal:12
        },
        {
          name:'鸡蛋',
          price:12,
          number:'X 1',
          subtotal:12
        },
        {
          name:'鸡蛋',
          price:12,
          number:'X 1',
          subtotal:12
        },
        {
          name:'鸡蛋',
          price:12,
          number:'X 1',
          subtotal:12
        },
        {
          name:'鸡蛋',
          price:12,
          number:'X 1',
          subtotal:12
        },
        {
          name:'鸡蛋',
          price:12,
          number:'X 1',
          subtotal:12
        },
        {
          name:'鸡蛋',
          price:12,
          number:'X 1',
          subtotal:12
        },
        {
          name:'鸡蛋',
          price:12,
          number:'X 1',
          subtotal:12
        },
      ],
      tagList:[
          {
              label:'APP扫码支付',
              name:'first'
          },
          {
              label:'微信收款',
              name:'second'
          },
          {
              label:'支付宝',
              name:'third'
          },
          {
              label:'现金收款',
              name:'fourth'
          },
      ],
      activeName: 'first'
    }
  },
  created() {
    this.getTotal();
  },
  methods: {
    getTotal() {
      let a = 0;
      for(let i=0;i<this.tableData.length;i++){
        a = a+ this.tableData[i].price;
      }
      a = a-this.discountedPrice;
      return a;
    }
  }
}
</script>
<style scoped>
.model-item{
  overflow-x: hidden;
  margin-top: 20px;
  height: 80vh;
  background: #FFFFFF;
  border: 1px solid #DCDFE6;
  border-radius: 4px;
}
.el_tab_pane{
  height: 72.5vh;
  background: #FFFFFF;
  border-radius: 4px;
}
.lineA{
  margin: auto;
  height: 30vw;
  height: 1px;
  border: 1px solid #D8D8D8;
}
.lineB{
  margin: auto;
  margin-top: 10px;
  height: 30vw;
  height: 1px;
  border: 1px solid #D8D8D8;
}
.orderNumber{
  font-family: MicrosoftYaHeiLight;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  line-height: 19px;
}
.orderText{
  font-family: MicrosoftYaHeiLight;
  font-size: 14px;
  color: #909399;
  letter-spacing: 0;
  line-height: 19px;
}
.bg_purple_l{
  text-align: left;
  margin-top: 20px;
}
.bg_purple_r{
  text-align: right;
  margin-top: 20px;
}
.get_Total_l{
  font-family: MicrosoftYaHeiLight;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
}
.get_Total_r{
  font-family: Impact;
  font-size: 14px;
  color: #606266;
  letter-spacing: 0;
  line-height: 14px;
}
.discounted_Price_l{
  font-family: MicrosoftYaHeiLight;
  font-size: 14px;
  color: #F57323;
  letter-spacing: 0;
}
.discounted_Price_r{
  font-family: Impact;
  font-size: 14px;
  color: #F57323;
  letter-spacing: 0;
  line-height: 14px;
}
.actually_paid_l{
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
}
.actually_paid_r{
  font-family: Impact;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  line-height: 14px;
}
.cancelOrder{
  margin-top: 10px;
  margin-left: 16vw;
}
</style>