<template>
  <div class="app-container">
    <div class="filter-container">
      <div class="btn">
        <div class="btn_item" @click="selectAllOrder">
          <span class="btn_text" :class="{btn_text_Click:initialA}">全选</span>
        </div>
        <span class="btn_text" style="line-height: 2rem;">|</span>
        <div class="btn_item" @click="InverseSelectionOrder">
          <span class="btn_text" :class="{btn_text_Click:initialB}">反选</span>
        </div>
      </div>
      <div class="btn">
        <div class="btn_item" @click="DeleteOrder">
          <span class="btn_text" :class="{btn_text_Click:initialC}">删除</span>
        </div>
        <span class="btn_text" style="line-height: 2rem;">|</span>
        <div class="btn_item" @click="MergerOrder">
          <span class="btn_text" :class="{btn_text_Click:initialD}">合并订单</span>
        </div>
      </div>
      <div class="btnA" @click="RefreshOrderList">
        <i class="el-icon-refresh-right"></i>
        <span>刷新</span>
      </div>
       <el-input v-model="listQuery.title" placeholder="输入关键字搜索" style="display:inline-block;width: 20rem;margin-left:50vw" class="filter-item" @keyup.enter.native="handleFilter" />
    </div>

   <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="list"
      :border="false"
      fit
      highlight-current-row
      style="width: 100%;"
      @sort-change="sortChange"
    >
      <el-table-column label="" type="selection"  align="center" width="40" :class-name="getSortClass('id')">
        <template slot-scope="{row}">
          <span>
            <el-checkbox label="" :id="row.id"></el-checkbox>
             <!-- <el-input type="checkbox" name="" :id="row.id"/> -->
          </span>
       
        </template>
      </el-table-column>
      <el-table-column label="订单编号" prop="id" sortable="custom" align="left" width="150" :class-name="getSortClass('id')">
        <template slot-scope="{row}">
          <span class="listItemText">{{ row.id }}</span>
        </template>
      </el-table-column>
      <el-table-column class="showIcon" type="expand" align="left" width="20">
        <template slot-scope="props">
          <el-form label-position="left" inline class="demo-table-expand">
            <el-form-item label="商品名称">
              <span>{{ props.row.name }}</span>
            </el-form-item>
            <el-form-item label="所属店铺">
              <span>{{ props.row.shop }}</span>
            </el-form-item>
            <el-form-item label="商品 ID">
              <span>{{ props.row.id }}</span>
            </el-form-item>
            <el-form-item label="商品描述">
              <span>{{ props.row.desc }}</span>
            </el-form-item>
          </el-form>
        </template>
      </el-table-column>
      <el-table-column label="商品" mix-width="550px" align="center">
        <template slot-scope="{row}">
          <span class="listItemText">{{ row.timestamp | parseTime('{y}-{m}-{d} {h}:{i}') }}</span>
        </template>
      </el-table-column>
      <el-table-column label="订单金额"  sortable="custom" width="150px">
        <template slot-scope="{row}">
          <span 
          style="
          font-family: Impact;
          font-size: 14px;
          color: #606266;
          letter-spacing: 0;
          line-height: 14px;
          "
           class="listItemText"
          >{{ row.id }}</span>
        </template>
      </el-table-column>
      <el-table-column label="下单日期"  sortable="custom" width="310px" align="left">
        <template slot-scope="{row}">
          <span class="listItemText">{{ row.timestamp | parseTime('{y}-{m}-{d} {h}:{i}') }}</span>
        </template>
      </el-table-column>
      <el-table-column label="操作" align="left" width="330" class-name="small-padding fixed-width">
        <template slot-scope="{row}">
          <span 
          style="
          font-family: MicrosoftYaHeiLight;
          font-size: 14px;
          color: #1989FA;
          letter-spacing: 0;
          line-height: 14px;
          " @click="editOrder(row)">
            编辑订单
          </span>
          <span 
          style="
          font-family: MicrosoftYaHeiLight;
          font-size: 14px;
          color: #67C23A;
          letter-spacing: 0;
          line-height: 14px;
          margin-left: 30px;
          " @click="settlementOrder(row,'published')">
            结算订单
          </span>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.limit" @pagination="getList" />

    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible">
      <el-form ref="dataForm" :rules="rules" :model="temp" label-position="left" label-width="70px" style="width: 400px; margin-left:50px;">
        <el-form-item label="Type" prop="type">
          <el-select filterable v-model="temp.type" class="filter-item" placeholder="Please select">
            <el-option v-for="item in calendarTypeOptions" :key="item.key" :label="item.display_name" :value="item.key" />
          </el-select>
        </el-form-item>
        <el-form-item label="Date" prop="timestamp">
          <el-date-picker v-model="temp.timestamp" type="datetime" placeholder="Please pick a date" />
        </el-form-item>
        <el-form-item label="Title" prop="title">
          <el-input v-model="temp.title" />
        </el-form-item>
        <el-form-item label="Status">
          <el-select filterable v-model="temp.status" class="filter-item" placeholder="Please select">
            <el-option v-for="item in statusOptions" :key="item" :label="item" :value="item" />
          </el-select>
        </el-form-item>
        <el-form-item label="Imp">
          <el-rate v-model="temp.importance" :colors="['#99A9BF', '#F7BA2A', '#FF9900']" :max="3" style="margin-top:8px;" />
        </el-form-item>
        <el-form-item label="Remark">
          <el-input v-model="temp.remark" :autosize="{ minRows: 2, maxRows: 4}" type="textarea" placeholder="Please input" />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">
          Cancel
        </el-button>
        <el-button type="primary" @click="dialogStatus==='create'?createData():updateData()">
          Confirm
        </el-button>
      </div>
    </el-dialog>

    <el-dialog :visible.sync="dialogPvVisible" title="Reading statistics">
      <el-table :data="pvData" border fit highlight-current-row style="width: 100%">
        <el-table-column prop="key" label="Channel" />
        <el-table-column prop="pv" label="Pv" />
      </el-table>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="dialogPvVisible = false">Confirm</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { fetchList, fetchPv, createArticle, updateArticle } from '@/api/article'
import waves from '@/directive/waves' // waves directive
import { parseTime } from '@/utils'
import Pagination from '@/components/Pagination' // secondary package based on el-pagination

const calendarTypeOptions = [
  { key: 'CN', display_name: 'China' },
  { key: 'US', display_name: 'USA' },
  { key: 'JP', display_name: 'Japan' },
  { key: 'EU', display_name: 'Eurozone' }
]

// arr to obj, such as { CN : "China", US : "USA" }
const calendarTypeKeyValue = calendarTypeOptions.reduce((acc, cur) => {
  acc[cur.key] = cur.display_name
  return acc
}, {})

export default {
  name: 'ComplexTable',
  components: { Pagination },
  directives: { waves },
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'info',
        deleted: 'danger'
      }
      return statusMap[status]
    },
    typeFilter(type) {
      return calendarTypeKeyValue[type]
    }
  },
  data() {
    return {
      initialA:false,
      initialB:false,
      initialC:false,
      initialD:false,
      showDetails:false,
      tableKey: 0,
      list: null,
      total: 0,
      listLoading: true,
      listQuery: {
        page: 1,
        limit: 20,
        importance: undefined,
        title: undefined,
        type: undefined,
        sort: '+id'
      },
      importanceOptions: [1, 2, 3],
      calendarTypeOptions,
      sortOptions: [{ label: 'ID Ascending', key: '+id' }, { label: 'ID Descending', key: '-id' }],
      statusOptions: ['published', 'draft', 'deleted'],
      showReviewer: false,
      temp: {
        id: undefined,
        importance: 1,
        remark: '',
        timestamp: new Date(),
        title: '',
        type: '',
        status: 'published'
      },
      dialogFormVisible: false,
      dialogStatus: '',
      textMap: {
        update: 'Edit',
        create: 'Create'
      },
      dialogPvVisible: false,
      pvData: [],
      rules: {
        type: [{ required: true, message: 'type is required', trigger: 'change' }],
        timestamp: [{ type: 'date', required: true, message: 'timestamp is required', trigger: 'change' }],
        title: [{ required: true, message: 'title is required', trigger: 'blur' }]
      },
      downloadLoading: false
    }
  },
  created() {
    this.getList()
  },
  methods: {
    editOrder(){
      this.$router.push({ path: './OrderSettlement' })
    },
    settlementOrder(){
      this.$router.push({ path: './OrderSettlement' })
    },
    selectAllOrder() {
      this.initialA = true;
      this.initialB = false;
      this.initialC = false;
      this.initialD = false;
    },
    InverseSelectionOrder() {
      this.initialB = true;
      this.initialA = false;
      this.initialC = false;
      this.initialD = false;
    },
    DeleteOrder() {
      this.initialC = true;
      this.initialA = false;
      this.initialB = false;
      this.initialD = false;
    },
    MergerOrder() {
      this.initialD = true;
      this.initialA = false;
      this.initialB = false;
      this.initialC = false;
    },
    RefreshOrderList() {
      
    },
    getList() {
      this.listLoading = false
      this.list = [{
        id: 1045,
        importance: 1,
        remark: "123123",
        timestamp: "2019-11-22T07:15:31.567Z",
        title: "123123",
        status: "published",
        type: "CN",
        author: "vue-element-admin"
      }];
      this.total = 0;
      // fetchList(this.listQuery).then(response => {
      //   this.list = response.data.items
      //   this.total = response.data.total

      //   // Just to simulate the time of the request
      //   setTimeout(() => {
      //     this.listLoading = false
      //   }, 1.5 * 1000)
      // })
    },
    handleFilter() {
      this.listQuery.page = 1
      this.getList()
    },
    handleModifyStatus(row, status) {
      this.$message({
        message: '操作Success',
        type: 'success'
      })
      row.status = status
    },
    sortChange(data) {
      const { prop, order } = data
      if (prop === 'id') {
        this.sortByID(order)
      }
    },
    sortByID(order) {
      if (order === 'ascending') {
        this.listQuery.sort = '+id'
      } else {
        this.listQuery.sort = '-id'
      }
      this.handleFilter()
    },
    resetTemp() {
      this.temp = {
        id: undefined,
        importance: 1,
        remark: '',
        timestamp: new Date(),
        title: '',
        status: 'published',
        type: ''
      }
    },
    handleCreate() {
      this.resetTemp()
      this.dialogStatus = 'create'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    createData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          this.temp.id = parseInt(Math.random() * 100) + 1024 // mock a id
          this.temp.author = 'vue-element-admin'
          createArticle(this.temp).then(() => {
            this.list.unshift(this.temp)
            this.dialogFormVisible = false
            this.$notify({
              title: 'Success',
              message: 'Created Successfully',
              type: 'success',
              duration: 2000
            })
          })
        }
      })
    },
    handleUpdate(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.temp.timestamp = new Date(this.temp.timestamp)
      this.dialogStatus = 'update'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    updateData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          const tempData = Object.assign({}, this.temp)
          tempData.timestamp = +new Date(tempData.timestamp) // change Thu Nov 30 2017 16:41:05 GMT+0800 (CST) to 1512031311464
          updateArticle(tempData).then(() => {
            for (const v of this.list) {
              if (v.id === this.temp.id) {
                const index = this.list.indexOf(v)
                this.list.splice(index, 1, this.temp)
                break
              }
            }
            this.dialogFormVisible = false
            this.$notify({
              title: 'Success',
              message: 'Update Successfully',
              type: 'success',
              duration: 2000
            })
          })
        }
      })
    },
    handleDelete(row) {
      this.$notify({
        title: 'Success',
        message: 'Delete Successfully',
        type: 'success',
        duration: 2000
      })
      const index = this.list.indexOf(row)
      this.list.splice(index, 1)
    },
    handleFetchPv(pv) {
      fetchPv(pv).then(response => {
        this.pvData = response.data.pvData
        this.dialogPvVisible = true
      })
    },
    handleDownload() {
      this.downloadLoading = true
      import('@/vendor/Export2Excel').then(excel => {
        const tHeader = ['timestamp', 'title', 'type', 'importance', 'status']
        const filterVal = ['timestamp', 'title', 'type', 'importance', 'status']
        const data = this.formatJson(filterVal, this.list)
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'table-list'
        })
        this.downloadLoading = false
      })
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => {
        if (j === 'timestamp') {
          return parseTime(v[j])
        } else {
          return v[j]
        }
      }))
    },
    getSortClass: function(key) {
      const sort = this.listQuery.sort
      return sort === `+${key}`
        ? 'ascending'
        : sort === `-${key}`
          ? 'descending'
          : ''
    }
  }
}
</script>
<style scoped>
.btn{
  display:inline-block;
  height: 2rem;
  line-height: 2rem;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #DCDFE6;
  border-radius: 4px;
}
.btnA{
  display:inline-block;
  height: 2rem;
  line-height: 2rem;
  padding-left: 10px;
  padding-right: 10px;
  font-family: MicrosoftYaHeiLight;
  font-size: 14px;
  color: #606266;
  letter-spacing: 0;
}
.btn_item{
  display:inline-block;
}
.btn_text{
  font-family: MicrosoftYaHeiLight;
  font-size: 14px;
  color: #C0C4CC;
  letter-spacing: 0;
}
.btn_text_Click{
  font-family: MicrosoftYaHeiLight;
  font-size: 14px;
  color: #5E6166;
  letter-spacing: 0;
}
.listItemText{
  font-family: MicrosoftYaHeiLight;
  font-size: 14px;
  color: #606266;
  letter-spacing: 0;
  line-height: 14px;
}
.th{
  font-family: MicrosoftYaHeiLight;
  font-size: 14px;
  color: #909399;
  letter-spacing: 0;
  line-height: 14px;
}
.demo-table-expand {
    font-size: 0;
  }
.demo-table-expand label {
    width: 90px;
    color: #99a9bf;
  }
.demo-table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 50%;
  }
.showIcon .el-table__expand-icon{
  text-align: left
}
</style>