<template>
  <div class="app-container">
    <el-row style="padding:15px">
      <el-col :span="2">
       <el-select v-model="paramsA.provinceId" @change="changeProvince" filterable placeholder="请选择">
          <el-option
            v-for="item in provinceOptions"
            :key="item.id"
            :label="item.name"
            :value="item.id">
          </el-option>
        </el-select>
      </el-col>
      <el-col :span="2">
       <el-select v-model="paramsA.cityId" @change="changeCity" filterable placeholder="请选择">
          <el-option
            v-for="item in cityOptions"
            :key="item.id"
            :label="item.name"
            :value="item.id">
          </el-option>
        </el-select>
      </el-col>
      <el-col :span="2" :offset="18">
        <el-button plain v-if="checkPermission(['admin'])" type="success" @click="handleAdd()">
            添加城区
        </el-button>
      </el-col>
    </el-row>
    <el-table
      v-loading="listLoading"
      :data="list"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >
      <el-table-column align="center" label="ID">
        <template slot-scope="scope">
          {{ scope.row.id }}
        </template>
      </el-table-column>
      <el-table-column label="名称" align="center">
        <template slot-scope="scope">
          {{ scope.row.name }}
        </template>
      </el-table-column>
      <el-table-column label="编号" align="center">
        <template slot-scope="scope">
          {{ scope.row.code }}
        </template>
      </el-table-column>
      <el-table-column align="center" prop="created_at" label="最后修改日期">
        <template slot-scope="scope">
          <i class="el-icon-time" />
          <span>{{ newData(scope.row.updatedAt) }}</span>
        </template>
      </el-table-column>
        <el-table-column label="操作">
          <!-- v-permission="['admin']" -->
        <template slot-scope="scope">
         <el-button plain v-if="checkPermission(['admin'])" type="primary" @click="handleEdit(scope.row.id)">
            编辑
          </el-button>
           <el-button plain v-if="checkPermission(['admin'])" type="danger" @click="toDelete(scope.row.id)">
            删除
          </el-button>
        </template>
      </el-table-column>
    </el-table>
     <pagination v-show="total>0"   :total="total" :page.sync="params.page" :limit.sync="params.size" @pagination="fetchData(params)" />
  </div>
</template>

<script>
import { getDistrictList ,deleteby} from '@/api/district';
import { provinceGetList } from '@/api/province';
import { getCityList } from '@/api/city';
import permission from '@/directive/permission/index.js' // 权限判断指令
import checkPermission from '@/utils/permission' // 权限

import Pagination from '@/components/Pagination' // secondary package based on el-pagination
export default {
  components: { Pagination },
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'gray',
        deleted: 'danger'
      }
      return statusMap[status]
    }
  },
  directives: { permission },
  data() {
    return {
      id:'',
      provinceId:'',
      imgconst:'http://www.miaodou.club/',
      provinceOptions:'',
      cityOptions:'',
      total: 0,
      params:{
        cityId:'',
        size:10,
        page:1
      },
      paramsA:{
        provinceId:'',
        size:100000,
        page:1
      },
      list: null,
      listLoading: true
    }
  },
  created() {
    this.id=this.$route.params.id;
    this.provinceId=this.$route.params.provinceId;
    this.fetchData()
  },
  methods: {
   checkPermission,
    fetchData() {
        this.listLoading = true
        provinceGetList().then(responseA => {
          this.provinceOptions = responseA.data;
          this.paramsA.provinceId = this.provinceId
          getCityList(this.paramsA).then(responseB => {
          this.cityOptions = responseB.data;
          this.paramsA.cityId = this.id
          getDistrictList(this.paramsA).then(responseC => {
            this.list = responseC.data;
            this.total=responseC.total;
            this.listLoading = false
          })
        })
      })
    },
      handleCurrentChange(val) {
      this.handleEdit(val.id);
      },
      handleEdit(id) {
      this.$router.push({ name: 'districtUpdate', params: { id: id,cityId:this.paramsA.cityId,provinceId:this.provinceId }})
    },
    toDelete(id){
      deleteby(id).then(rs=>{
        if(rs.success==true){
        this.$message({
          message:rs.message,
          type: 'success'
        });
        this.fetchData(this.params);
        }
      }).catch((error) => {
            this.$message({
              message: error.response.data,
              type: 'warning'
            })
            this.loading = false
          })
    },
    handleAdd() {
      console.log(this.params.cityId)
      this.$router.push({ name: 'districtCreate',params:{cityId:this.paramsA.cityId,provinceId:this.paramsA.provinceId}})
    },
    newData(e){
      let date=new Date(e);
      let Y = date.getFullYear() +'年';
      let M = (date.getMonth() +1 <10 ?'0' + (date.getMonth() +1) : date.getMonth() +1) +'月';
      let D = date.getDate() +'日';
      let h = date.getHours() +':';
      let m = date.getMinutes() +':';
      let s = date.getSeconds();
      return Y+M+D+h+m+s;
    },
    //筛选(省份)
    changeProvince() {
      this.listLoading = true
      getCityList(this.paramsA).then(response => {
        this.cityOptions = response.data;
        this.paramsA.cityId = response.data[0].id
        this.changeCity()
        this.listLoading = false
      })
    },
     //筛选(城市)
    changeCity() {
      this.listLoading = true
      getDistrictList(this.paramsA).then(response => {
        this.list = response.data;
        this.total=response.total;
        this.listLoading = false
      })
    }
  }
}
</script>