<template>
  <div class="app-container" style="background:white;">
    <!-- <el-row style="padding:15px">
      <el-col :span="2" :offset="22">
        <el-button plain  type="success" @click="handleAdd()">
            添加视频
        </el-button>
      </el-col>
    </el-row>
    <el-table
      v-loading="listLoading"
      :data="list"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >
      <el-table-column align="center" label="ID">
        <template slot-scope="scope">
          {{ scope.row.playId }}
        </template>
      </el-table-column>
      <el-table-column label="名称" align="center">
        <template slot-scope="scope">
          {{ scope.row.playTitle }}
        </template>
      </el-table-column>
      <el-table-column label="描述" align="center">
        <template slot-scope="scope">
          <span>{{ scope.row.playDecription }}</span>
        </template>
      </el-table-column>
       <el-table-column label="状态" align="center">
        <template slot-scope="scope">
          <span v-if="scope.row.state==0">待审核</span>
          <span v-if="scope.row.state==1">已通过</span>
          <span v-if="scope.row.state==2">已拒绝</span>
          <span v-if="scope.row.state==3">上传中</span>
        </template>
      </el-table-column>
      <el-table-column cell-click="handleEdit(scope.row.id)" label="缩略图" width="100" align="center">
        <template slot-scope="scope">
          <el-popover
            placement="top"
            trigger="hover">
            <div
            style="
            width: 400px; 
            height: 400px;
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex-box;
            display:flex;
            -webkit-box-align:center;
            -ms-flex-align:center;
            align-items:center;
            -webkit-box-pack:center;
            -ms-flex-pack:center;
            justify-content:center;
            text-align:center;
            ">
                <img style="max-width: 100%; max-height: 100%;" :src="scope.row.coverUrl" alt="" srcset="">
            </div>
            <img  slot="reference" style="width: 80px; height: 80px;" :src="scope.row.coverUrl" alt="" srcset="">
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column align="center" prop="created_at" label="上传时间">
        <template slot-scope="scope">
          <i class="el-icon-time" />
          <span>{{ scope.row.playDatetime}}</span>
        </template>
      </el-table-column>
        <el-table-column align="center" prop="created_at" label="视频类型">
        <template slot-scope="scope">
         
          <span>{{ scope.row.playType==1?'短视频':'长视频'}}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="操作">
        <template slot-scope="scope">
          <el-button plain  type="primary" @click="handleEdit(scope.row.playId)">
            查看
          </el-button>
          <el-button plain  type="danger" @click="toDelete(scope.row.playId)">
            删除
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination v-show="total>0" :page-sizes="[50, 100, 500]"  :total="total" :page.sync="params.page" :limit.sync="params.size" @pagination="fetchData(params)" />-->
    <el-tabs v-model="activeName" >
      <el-tab-pane label="我的视频" name="first">
            <!-- <video id="myVideo" v-if="this.list.length!=0" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto" width="1080" height="708" data-setup='{}'>    
        <source id="source"  :src="this.list[0].playUrl[0].playURL"  type="application/x-mpegURL">
    </video> -->

        <div class="videoBlock--1R8JY5" v-for="(item,index) in list" :key="index" style="font-size: 14px;">
          <!-- <span>01</span> -->
          <!-- <div class="addLink--2bVPOd">
            <span>+</span>&nbsp;添加组件
          </div> -->
           <!-- <video id="myVideo" class=" video--1QgB33" controls preload="auto" width="1080" height="708" data-setup='{}'>    
        <source id="source"  :src="item.playUrl[0].playURL"  type="application/x-mpegURL">
    </video> -->
          <div class="wrapper--2AEjqt loaded--6QhTaJ" style="width: 218px; height: 388px;">
            
            <video :id="'myVideo'+index"  :src="item.playUrl[0].playURL"
              controls
              class="video-js  vjs-big-play-centered vjs-fluid"
              style="background: rgb(0, 0, 0); width: 100%;height: 100%;" height="388"  preload="auto" width="1080"  data-setup='{}'>    
        <source :id="'source'+index"   :src="item.playUrl[0].playURL"  type="application/x-mpegURL">
    </video>
            <!-- <video
              src="http://ecdn.miaodou.club/video/test2.mp4"
              controls
              class="video--1QgB33"
              style="background: rgb(0, 0, 0); width: 100%;"
            ></video> -->
          </div>
          <p>作者: {{item.authorNickName}}</p>
          <p>发布时间:{{item.playDatetime}}</p>
          <p>累计播放量: 2</p>
          <p>点赞数/点赞率: 2/1.0e+2%</p>
          <p>分享数/分享率: 0/0.0%</p>
          <p>评论数/评论率: 0/0.0%</p>
          <p class="buttonWrapper--2rF4Od">
            <button type="button" @click="drawer = true;getcrent()" class="ant-btn">
              <span>查看评论</span>
            </button>
            <button type="button" class="ant-btn ant-btn-primary">
              <span>投放DOU+</span>
            </button>
          </p>
        </div>
      </el-tab-pane>
      <el-drawer
 size="50%"
  :visible.sync="drawer"
  :direction="direction"
 >
 <div class="ant-drawer-body">
<el-tabs v-model="modifiyname" >
      <el-tab-pane label="视频详情" name="first">
      </el-tab-pane>
 </el-tabs>
 </div>
 
</el-drawer>
      <!-- <el-tab-pane label="配置管理" name="second">配置管理</el-tab-pane>
    <el-tab-pane label="角色管理" name="third">角色管理</el-tab-pane>
      <el-tab-pane label="定时任务补偿" name="fourth">定时任务补偿</el-tab-pane>-->
    </el-tabs>
  </div>
</template>

<script>
import { getList, deleteby } from "@/api/video";
import permission from "@/directive/permission/index.js"; // 权限判断指令
import checkPermission from "@/utils/permission"; // 权限
import Cookies from "js-cookie";
let token = JSON.parse(Cookies.get("userinfo"));
import Pagination from "@/components/Pagination"; // secondary package based on el-pagination
export default {
  components: { Pagination },
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: "success",
        draft: "gray",
        deleted: "danger"
      };
      return statusMap[status];
    }
  },
  directives: { permission },
  data() {
    return {
       drawer: false,
        direction: 'rtl',
      activeName: "first",
      modifiyname:'first',
      imgconst: "http://www.miaodou.club/",
      myVideo:[],
      total: 0,
      params: {
        size: 100,
        page: 1
      },
      list: [],
      listLoading: true
    };
  },
  created() {
    this.fetchData();
  },
  methods: {
    checkPermission,
      handleClick(tab, event) {
        console.log(tab, event);
      },
      getcrent(){
     console.log('初始化详情');
      },
    fetchData() {
      this.listLoading = true;
      getList(this.params, "", JSON.parse(Cookies.get("userinfo"))).then(
        response => {
          this.list = response.data;
          this.total = response.total;
          this.listLoading = false;
      // this.createvideo();
      //  console.log(this.list)
      //  console.log(this.myVideo);
       setTimeout(()=>{
 this.createvideo();
       },1000)
      
        }
      );
    },
    createvideo(){
    
 for(let i=0;i<this.list.length; i++){
   console.log('myVideo'+i);
   console.log(document.getElementById('myVideo'+i))
  let item=  videojs('myVideo'+i,{
        bigPlayButton : true, 
        textTrackDisplay : false, 
        posterImage: false,
        errorDisplay : false,

          })
          this.myVideo.push(item);
 }
    },
    handleEdit(id) {
      console.log(id);
      this.$router.push({ name: "videoModify", params: { id: id } });
    },
    toDelete(id) {
      this.$confirm("确认删除?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          deleteby(id, token)
            .then(rs => {
              if (rs.code == 200) {
                this.$message({
                  message: "删除成功",
                  type: "success"
                });
                this.fetchData(this.params);
              }
            })
            .catch(error => {
              this.$message({
                message: error.response.data,
                type: "warning"
              });
              this.loading = false;
            });
        })
        .catch(() => {
          // this.$message({
          //   type: 'info',
          //   message: '信息已更新'
          // });
        });
    },
    handleAdd() {
      this.$router.push({ path: "../video/form" });
    },
    newData(e) {
      let date = new Date(e);
      let Y = date.getFullYear() + "年";
      let M =
        (date.getMonth() + 1 < 10
          ? "0" + (date.getMonth() + 1)
          : date.getMonth() + 1) + "月";
      let D = date.getDate() + "日";
      let h = date.getHours() + ":";
      let m = date.getMinutes() + ":";
      let s = date.getSeconds();
      return Y + M + D + h + m + s;
    }
  }
};
</script>
<style lang="scss">
.el-tabs__item.is-active {
    color: #fe2c55;
}
.el-tabs__active-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: #fe2c55;
    z-index: 1;
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    list-style: none;
}
.video-js.vjs-4-3 {
  width: 100%;
  max-width: 100%;
  height: 388px !important;
}
.ant-drawer-body {
    padding: 24px;
    font-size: 14px;
    line-height: 1.5;
    word-wrap: break-word;
}
.el-drawer__header{
  -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #72767b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0px; 
    padding: 20px;
    padding-bottom: 0;
}

</style>

