<template>
  <div class="app-container">
    <el-form ref="form" :rules="collectionRules" :model="form" label-width="120px">
      <el-form-item prop="name" label="名称">
        <el-input v-model="form.name" />
      </el-form-item>
      <el-form-item prop="description" label="描述">
        <el-input v-model="form.description" type="textarea" />
      </el-form-item>
        <el-form-item prop="goodsIds" label="选择商品">
            <el-select filterable v-model="form.goodsIds" multiple placeholder="请选择" style="width: 100%;">
              <el-option v-for="item in goods" :key="item.id" :label="item.name" :value="item.id" />
            </el-select>
          </el-form-item>
           <el-form-item prop="thumbnail" style="margin-bottom: 30px;" label="缩略图">
        <Upload v-model="form.thumbnail" @on:input="onUpload" />
      </el-form-item>
      <el-form-item>
        <el-button :loading="loading" type="primary" @click="onSubmit">保存</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { validEmpty } from '@/utils/validate'
import { modify ,getinfo} from '@/api/collection'
import { getList } from '@/api/goods'
import Upload from '@/components/Upload/SingleImage'
export default {
    components: { Upload },
  data() {

    const validateName = (rule, value, callback) => {
      if (!validEmpty(value)) {
        callback(new Error('请输入标签名称！'))
      } else {
        callback()
      }
    }
    return {
        params:{
        size:1000000,
        page:1
      },
      form: {
        name: '',
        description: '',
        thumbnail:'',
        goodsIds:[]
      },
      goods:[],
      collectionRules: {
        name: [{ required: true, trigger: 'blur', validator: validateName }],
        goodsIds: [{ required: true, trigger: 'blur', validator: validateName }],
      },
      loading: false
    }
  },
  created(){
    getList(this.params).then(e=>{
    console.log(e.data)
    this.goods=e.data;
})
this.fetch(this.$route.params.id)
  },
  methods: {
      fetch(id) {
      console.log(id)
      getinfo(id).then(response => {
        console.log(response)
        this.form = response.data
        this.loaded = true
        console.log(this.thumbnail)
      })
    },
       onUpload(data) {
      console.log(data)
      this.form.thumbnail = data
    },
    onSubmit() {
      this.$refs.form.validate(valid => {
        console.log(valid);
        if (valid) {
          this.loading = true
          modify(this.form, this.$route.params.id).then(response => {
            if(response.success==true){
                   this.$message({
          message:response.message,
          type: 'success'
        });
         this.loading = false
            this.$router.push({ path: '/collection/list' })
              }
          }).catch((error) => {
            this.$message({
              message: error.response.data.errors.name,
              type: 'warning'
            })
            this.loading = false
          })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    }
  }
}
</script>

<style scoped>
.line{
  text-align: center;
}
</style>

