<template>
  <div class="app-container">
     <el-row  :gutter="20" type="flex" class="row-bg" justify="end">
       
       <!-- <el-col :span="2">
       <el-select v-model="params.provinceId" @change="changeProvince" filterable placeholder="请选择">
          <el-option
            v-for="item in provinceOptions"
            :key="item.id"
            :label="item.name"
            :value="item.id">
          </el-option>
        </el-select>
      </el-col>
      <el-col :span="2">
       <el-select v-model="params.cityId" @change="changeCity" filterable placeholder="请选择">
          <el-option
            v-for="item in cityOptions"
            :key="item.id"
            :label="item.name"
            :value="item.id">
          </el-option>
        </el-select>
      </el-col> -->
      <el-col :span="4" :offset="21"  >
        <el-button  style="margin-bottom:10px" plain v-if="checkPermission(['admin',])" type="success" @click="handleAdd()">
            修改订单状态
        </el-button>
      </el-col>
    </el-row>
    <el-table
      v-loading="listLoading"
      :data="list"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >
    >
      <!-- <el-table-column align="center" label="ID">
        <template slot-scope="scope">
          {{ scope.row.id }}
        </template>
      </el-table-column> -->
      <el-table-column label="订单状态" align="center">
        <template slot-scope="scope">
          {{ scope.row.status == 0 ? "已取消" :(scope.row.status == -1 ? "已删除":(scope.row.status == 2 ? "已付款":(scope.row.status == 4 ? "未取货" :(scope.row.status == 1 ? "未付款" :(scope.row.status == 6 ? "待提货" : (scope.row.status == 8 ? "已取货" : "")))))) }}
        </template>
      </el-table-column>
      <el-table-column label="记录描述" align="center">
        <template slot-scope="scope">
          <span>{{ scope.row.message }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" prop="created_at" label="最后修改日期">
        <template slot-scope="scope">
          <i class="el-icon-time" />
          <span>{{ newData(scope.row.updatedAt) }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" v-if="checkPermission(['admin'])" label="操作">
        <template slot-scope="scope">
          <el-button plain v-if="checkPermission(['admin',])" type="primary" @click="handleEdit(scope.row.id)">
            编辑
          </el-button>
          <el-button plain v-if="checkPermission(['admin',])" type="danger" @click="toDelete(scope.row.id)">
            删除
          </el-button>
        </template>
      </el-table-column>
    </el-table>
     <pagination v-show="total>0"   :total="total" :page.sync="params.page" :limit.sync="params.size" @pagination="fetchData(params)" />
  </div>
</template>

<script>
import { getList,deleteby } from '@/api/operation'
import { provinceGetList } from '@/api/province';
import { getCityList } from '@/api/city'
import permission from '@/directive/permission/index.js' // 权限判断指令
import checkPermission from '@/utils/permission' // 权限

import Pagination from '@/components/Pagination' // secondary package based on el-pagination
export default {
  components: { Pagination },
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'gray',
        deleted: 'danger'
      }
      return statusMap[status]
    }
  },
  directives: { permission },
  data() {
    return {
      total: 0,
      params:{
        id:'',
        size:10,
        page:1
      },
      cityId:'',
      list: null,
      listLoading: true,
      provinceOptions:'',
      cityOptions:''
    }
  },
  created() {
    console.log("获取订单id");
    console.log(this.$router);
    console.log(this.$router.currentRoute.query.id);
    console.log(this.$router.currentRoute.params.orderId);
    this.params.id = this.$router.currentRoute.params.orderId;
    this.fetchData()
  },
  methods: {
    checkPermission,
    fetchData() {
      this.list=[]
      this.listLoading = true
      if(this.$router.currentRoute.query.id && this.$router.currentRoute.query.id!=undefined){
        this.params.id=this.$router.currentRoute.query.id;
      }
    
          getList(this.params).then(response => {
            this.list = response.data
            this.total=response.total;
            this.listLoading = false
          })
      
    },
    handleEdit(id) {
      this.$router.push({ name: 'operationModify', params: { id: id }})
    },
    toDelete(id){
      deleteby(id).then(rs=>{
        if(rs.success==true){
        this.$message({
          message:rs.message,
          type: 'success'
        });
         this.fetchData(this.params);
        }
      }).catch((error) => {
            this.$message({
              message: error.response.data,
              type: 'warning'
            })
            this.loading = false
          })
    },
    handleAdd() {
      this.$router.push({ name: 'addOperation', params: { orderId: this.$router.currentRoute.query.id }})
    },
    newData(e){
      let date=new Date(e);
      let Y = date.getFullYear() +'年';
      let M = (date.getMonth() +1 <10 ?'0' + (date.getMonth() +1) : date.getMonth() +1) +'月';
      let D = date.getDate() +'日';
      let h = date.getHours() +':';
      let m = date.getMinutes() +':';
      let s = date.getSeconds();
      return Y+M+D+h+m+s;
    },
    //筛选(省份)
    changeProvince() {
      this.listLoading = true
      getCityList(this.params).then(response => {
        this.cityOptions = response.data;
        this.params.cityId = response.data[0].id
        this.changeCity()
        this.listLoading = false
      })
    },
     //筛选(城市)
    changeCity() {
      this.listLoading = true
      getList(this.params).then(response => {
        this.list = response.data
        this.total=response.total;
        this.listLoading = false
      })
      
    }
  }
}
</script>