<template>
  <div class="app-container">
    <el-row style="padding:15px" type="flex" justify="space-between">
      <el-col :span="5" >
        <el-autocomplete
          v-model="goodsname"
          clearable
          :fetch-suggestions="querySearchAsync"
          placeholder="请输入商品名称"
          @select="handleSelect"
         @keyup.enter.native="selectbyserch" 
          @input="valueIsNo"
        ></el-autocomplete>
     
      </el-col>  
      <el-col :span="2" :offset="17">
        <el-button plain v-if="checkPermission(['admin','employee'])" type="success" @click="handleAdd()">
            添加商品
        </el-button>
      </el-col>
    </el-row>
    <el-table
      v-loading="listLoading"
      :data="list"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >
      <el-table-column align="center" label="ID">
        <template slot-scope="scope">
          {{ scope.row.id }}
        </template>
      </el-table-column>
      <el-table-column label="名称" align="center">
        <template slot-scope="scope">
          {{ scope.row.name }}
        </template>
      </el-table-column>
      <el-table-column label="描述" align="center">
        <template slot-scope="scope">
          <span>{{ scope.row.description }}</span>
        </template>
      </el-table-column>
      <el-table-column cell-click="handleEdit(scope.row.id)" label="缩略图" width="100" align="center">
        <template slot-scope="scope">
          <el-popover
            placement="top"
            trigger="hover">
            <div
            style="
            width: 400px; 
            height: 400px;
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex-box;
            display:flex;
            -webkit-box-align:center;
            -ms-flex-align:center;
            align-items:center;
            -webkit-box-pack:center;
            -ms-flex-pack:center;
            justify-content:center;
            text-align:center;
            ">
                <img style="max-width: 100%; max-height: 100%;" :src="scope.row.thumbnail[0].url" alt="" srcset="">
            </div>
            <img  slot="reference" style="width: 80px; height: 80px;" :src="scope.row.thumbnail[0].url" alt="" srcset="">
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column align="center" prop="created_at" label="最后修改日期">
        <template slot-scope="scope">
          <i class="el-icon-time" />
          <span>{{ newData(scope.row.updatedAt) }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="操作" width="400">
        <template slot-scope="scope">
          <el-button plain v-if="checkPermission(['admin','employee'])" type="primary" @click="showSnapShot(scope.row.id)">
            查看商品快照
          </el-button>
         <el-button plain v-if="checkPermission(['admin','employee'])" type="primary" @click="handleEdit(scope.row.id)">
            编辑
          </el-button>
           <el-button plain v-if="checkPermission(['admin','employee'])" type="danger" @click="toDelete(scope.row.id)">
            删除
          </el-button>
        </template>
      </el-table-column>
    </el-table>
     <pagination v-show="total>0"   :total="total" :page-sizes="[100, 500, 1000, 2000]" :page.sync="params.page" :limit.sync="params.size" @pagination="fetchData(params)" />
  </div>
</template>

<script>
import { getList ,deleteby,goodssearch} from '@/api/goods'
import { get } from '@/api/snapshot'
import permission from '@/directive/permission/index.js' // 权限判断指令
import checkPermission from '@/utils/permission' // 权限

import Pagination from '@/components/Pagination' // secondary package based on el-pagination
export default {
  components: { Pagination },
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'gray',
        deleted: 'danger'
      }
      return statusMap[status]
    }
  },
  directives: { permission },
  data() {
    return {
      total: 0,
      goodsname:'',
      params:{
        size:100,
        page:1
      },
      list: null,
      listLoading: true
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
    checkPermission,
    showSnapShot(id) {
      
      this.$router.push({ name: 'snapshotlist', params: { goodsId: id }})
    },
     querySearchAsync(queryString, cb){
      for (let i of this.list) {
        i.value = i.name
      }
      var results = queryString ? this.list.filter(this.createStateFilter(queryString)) : this.list
      cb(results)
    },
    createStateFilter(queryString) {
      return (state) => {
        return (state.value.indexOf(queryString) === 0)
      }
    },
    handleSelect(item){
      console.log(item);
      
        this.list = [];
         this.listLoading = true;
       goodssearch(this.goodsname,this.params).then(rs=>{
       this.list = rs.data
          this.listLoading = false
          this.total = rs.total
     })
      
    },
     selectbyserch(data){
   
        this.list = [];
         this.listLoading = true;
       goodssearch(this.goodsname,this.params).then(rs=>{
       this.list = rs.data
          this.listLoading = false
          this.total = rs.total
     })
    },
    valueIsNo(value){
      if(value === ''){
        this.fetchData()
      }
    },
    fetchData() {
      this.listLoading = true
      getList(this.params).then(response => {
        this.list = response.data
        this.total=response.total;
        this.listLoading = false
      })
    },
    handleEdit(id) {
      this.$router.push({ name: 'GoodsModify', params: { id: id }})
    },
    toDelete(id){
      deleteby(id).then(rs=>{
        if(rs.success==true){
        this.$message({
          message:rs.message,
          type: 'success'
        });
         this.fetchData(this.params);
        }
      }).catch((error) => {
            this.$message({
              message: error.response.data,
              type: 'warning'
            })
            this.loading = false
          })
    },
    handleAdd() {
      this.$router.push({ path: '../goods/form' })
    },
    newData(e){
      let date=new Date(e);
      let Y = date.getFullYear() +'年';
      let M = (date.getMonth() +1 <10 ?'0' + (date.getMonth() +1) : date.getMonth() +1) +'月';
      let D = date.getDate() +'日';
      let h = date.getHours() +':';
      let m = date.getMinutes() +':';
      let s = date.getSeconds();
      return Y+M+D+h+m+s;
    }
  }
}
</script>
