<template>
  <div class="app-container">
    <el-row style="padding:15px" justify="space-between">
      <el-col :span="3" >
        <el-select :disabled="isDisabled" filterable v-model="storeId"  @change="getLists" style="width: 100%">
          <el-option v-for="item in stores" :key="item.id" :label="item.name" :value="item.id" />
        </el-select>
      </el-col>  
      <el-col :span="5" style="margin-left: 1vw;">
        <el-autocomplete
          v-model="orderId"
          clearable
          :fetch-suggestions="querySearchAsync"
          placeholder="订单号"
          @select="handleSelect"
          @input="valueIsNo"
          @keyup.enter.native="selectbyserch" 
        ></el-autocomplete>
      </el-col>  
      <el-col :span="1" :offset="14">
        <!-- <el-button plain v-if="checkPermission(['admin','manager'])" type="primary" @click="resetList()">
            重 置
        </el-button> -->
      </el-col>
    </el-row>
    <el-table
      v-loading="listLoading"
      :data="list"
      element-loading-text="Loading"
      :border="isBorder"
      fit
      highlight-current-row
    >
       <el-table-column align="center" label="订单号" width="150">
        <template slot-scope="scope">
          {{ scope.row.number }}
        </template>
      </el-table-column>
      <el-table-column type="expand" align="left">
        <template slot-scope="scope" v-if="scope.row.goodses">
            <el-form label-position="left">
                <el-form-item v-for="(item,index) in scope.row.goodses" :key="index">
                    <el-row v-if="item.detail">
                        <el-col class="goodsDetail" :span="4" :offset="3">{{item.detail.name}}</el-col>
                        <el-col class="goodsNumber" :span="1">X{{item.number}}</el-col>
                    </el-row>
                    <el-row v-else>
                        商品数据异常
                    </el-row>
                </el-form-item>
            </el-form>
        </template>
      </el-table-column>
      <el-table-column align="center" prop="goodses" label="商品" width="300">
        <template slot-scope="scope" v-if="scope.row.goodses.length!=0">
          <template v-if="scope.row.goodses[0].detail">
          <span>{{scope.row.goodses[0].detail.name}}</span>{{scope.row.goodses.length === 1 ? '':'...等'+scope.row.goodses.length+'件'}}
        </template>
        <template v-else>
          商品数据异常
        </template>
        </template>
      </el-table-column>
      <!-- <el-table-column align="center" prop="goodses" label="下单数量">
        <template slot-scope="scope">
          <el-row v-for="(item,index) in scope.row.goodses" :key="index" class="itemStyle">
            <el-col :span="24">{{item.number}}</el-col>
          </el-row>
        </template>
      </el-table-column> -->
      <el-table-column align="center" label="订单金额">
        <template slot-scope="scope" >
          <span v-if="scope.row.total">
            ¥{{scope.row.total.toFixed(2)}}
          </span>
         <span v-else>
          用户数据异常
         </span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="下单时间">
        <template slot-scope="scope" >
          <span v-if="scope.row.updatedAt">
            {{scope.row.updatedAt}}
          </span>
         <span v-else>
          用户数据异常
         </span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="下单手机号">
        <template slot-scope="scope" >
          <span v-if="scope.row.user">
            {{scope.row.user.mobile}}
          </span>
         <span v-else>
          用户数据异常
         </span>
        </template>
      </el-table-column>
      <!-- <el-table-column label="订单类型" align="center">
        <template slot-scope="scope">
          {{ scope.row.type == 1 ? '商品' : '充值' }}
        </template>
      </el-table-column> -->
      <!-- <el-table-column label="订单状态" align="center">
        <template slot-scope="scope">
          {{ backstatus(scope.row.status)
           
             }}
        </template>
      </el-table-column> -->
      <el-table-column align="center" label="操作" width="120">
        <template slot-scope="scope">
          <el-button plain v-if="checkPermission(['admin','manager','employee'])" type="primary" @click="goToSorting(scope.row.id)">
            货单分拣
          </el-button>
         <!-- <el-button plain v-if="checkPermission(['admin','manager','employee'])" type="primary" @click="handleEdit(scope.row.id)">
            编辑
          </el-button>
           <el-button plain v-if="checkPermission(['admin','manager','employee'])" type="danger" @click="toDelete(scope.row.id)">
            删除
          </el-button> -->
        </template>
      </el-table-column>
    </el-table>
     <pagination v-show="total>0"   :total="total" :page-sizes="[100, 500, 1000, 2000]" :page.sync="params.page" :limit.sync="params.size" @pagination="fetchData(params)" />
  </div>
</template>

<script>
import { getStoreId, getRoles } from '@/utils/getCookiesData'
import { getList} from '@/api/store'
import { getListByPagination, getserch } from '@/api/order'
import permission from '@/directive/permission/index.js' // 权限判断指令
import checkPermission from '@/utils/permission' // 权限

import Pagination from '@/components/Pagination' // secondary package based on el-pagination
export default {
  components: { Pagination },
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'gray',
        deleted: 'danger'
      }
      return statusMap[status]
    }
  },
  directives: { permission },
  data() {
    return {
      isBorder:false,
      stores:[],
      storeId:'',
      storeStatus:2,
      total: 0,
      size: 50,
      storeType: 1,
      params:{
        size:100,
        page:1
      },
      list: null,
      listLoading: true,
      isDisabled:true,
      allOrder:'',
      orderId:''
    }
  },
  created() {
    if(getRoles() === 'admin'){
      this.isDisabled = false
    }
    getList(this.params).then(e=>{
      this.stores=e.data;
      if(getStoreId()){
        this.storeId = getStoreId();
      }else{
        this.storeId = this.stores[0].id
      }
      this.getLists()
    })
  },
  methods: {
    checkPermission,
    selectbyserch(data){
 this.list=[];
       this.listLoading = true
     getserch(this.storeId,this.orderId).then(rs=>{
       this.list = rs.data
          this.listLoading = false
          this.total = rs.total
     })
    },
    getLists() {
      this.listLoading = true
      getListByPagination(this.storeId,this.storeType,this.storeStatus,this.size, 1).then(response => {
        this.list = response.data
        this.allOrder = response.data
        this.total = response.total
        setTimeout(() => {
          this.listLoading = false
        }, 1.5 * 1000)
      })
    },
    goToSorting(id) {
      this.$router.push({ name: 'goToSorting', params: { orderId: id }})
    },
     querySearchAsync(queryString, cb){
      for (let i of this.list) {
        i.value = i.number
      }
      var results = queryString ? this.list.filter(this.createStateFilter(queryString)) : this.list
      cb(results)
    },
    createStateFilter(queryString) {
      return (state) => {
        return (state.value.indexOf(queryString) === 0)
      }
    },
    handleSelect(item){
      this.list.forEach(e=>{
        if(e.id === item.id){
          this.list = []
          this.list.push(e)
        }
      })
    },
    valueIsNo(value){
      if(value === ''){
        this.getLists()
      }
    },
    handleEdit(id) {
      this.$router.push({ name: 'GoodsModify', params: { id: id }})
    },
    toDelete(id){
      deleteby(id).then(rs=>{
        if(rs.success==true){
        this.$message({
          message:rs.message,
          type: 'success'
        });
         this.fetchData(this.params);
        }
      }).catch((error) => {
            this.$message({
              message: error.response.data,
              type: 'warning'
            })
            this.loading = false
          })
    },
    resetList() {
      this.getLists()
    },
    newData(e){
      let date=new Date(e);
      let Y = date.getFullYear() +'年';
      let M = (date.getMonth() +1 <10 ?'0' + (date.getMonth() +1) : date.getMonth() +1) +'月';
      let D = date.getDate() +'日';
      let h = date.getHours() +':';
      let m = date.getMinutes() +':';
      let s = date.getSeconds();
      return Y+M+D+h+m+s;
    },
    backstatus(data){
      // console.log(data);
      let str=''
      switch (data){
        case 0:
          str='已取消';
          break;
           case 1:
             str='未付款';
          break;
          case 2:
             str='已付款';
          break;
          case 4:
             str='未取货';
          break;
           case 6:
             str='待提货';
          break;
           case 8:
             str='已取货';
          break;
      }
      // console.log(str);
      return str
      //  scope.row.status == 1 ? '未付款' : (scope.row.status == 6 ? '待提货' : (scope.row.status == 8 ? '已取货'  :''))
    }
  }
}
</script>
<style scoped>
.showIcon .el-table__expand-icon{
  text-align: left
}
.goodsDetail{
    text-align: left
}
.goodsNumber{
    text-align:end
}
</style>
