<template>
  <div class="app-container">
    <el-form ref="form" :rules="cityRules" :model="form" label-width="120px">
      <el-form-item prop="name" label="名称">
        <el-input v-model="form.name" />
      </el-form-item>
      <el-form-item prop="code" label="编号">
        <el-input v-model="form.code" />
      </el-form-item>
      <el-form-item>
        <el-button :loading="loading" type="primary" @click="onSubmit">修改</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import Upload from '@/components/Upload/SingleImage'
import { validEmpty } from '@/utils/validate'
import { create ,getcityinfo, update} from '@/api/city'
import { provinceGetList } from '@/api/province'
import Cookies from 'js-cookie'
export default {
  components: { Upload },
  data() {
    const validateName = (rule, value, callback) => {
      if (!validEmpty(value)) {
        callback(new Error('请输入城市名称！'))
      } else {
        callback()
      }
    }
    return {
      id:'',
      provinceId:'',
      form: {
        name: '',
        code:''
      },
      cityRules: {
        name: [{ required: true, trigger: 'blur', validator: validateName }],
        code: [{ required: true, trigger: 'blur', validator: validateName }],
      },
      loading: false
    }
  },
   created(){
    this.fetchData()
    this.id=this.$route.params.id;
    this.cityinfo(this.id)
  },
  methods: {
    fetchData() {
      provinceGetList().then(response => {
        this.provinceData = response.data
      })
    },
    cityinfo(e){
      getcityinfo(e).then(res=>{
        if(res.success==true){
          this.form=res.data
        }
      })
    },
    onUpload(data) {
      this.form.thumbnail = data
    },
    onSubmit() {
      this.$refs.form.validate(valid => {
        if (valid) {
          this.loading = true
          update(this.form,this.id).then(response => {
               if(response.success==true){
                   this.$message({
          message:response.message,
          type: 'success'
        });
          this.loading = false
            this.$router.push({ name: 'cityList', params: { id: this.form.provinceId }})
              }
          
          }).catch((error) => {
            this.$message({
              message: error.response.data,
              type: 'warning'
            })
            this.loading = false
          })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    }
  }
}
</script>

<style scoped>
.line{
  text-align: center;
}
</style>

