<template>
  <div  v-if="show" class="Settlement-container">
      <div v-if="show" class="shadowArea" @click="isHidden"></div>
      <transition name="SettlementB">
            <el-card v-if="show" class="box-card rightPanel">
              <div slot="header" class="clearfix">
                <span>结算</span>
                <el-button style="float: right; padding: 3px 0" type="text" icon="el-icon-close" @click="isHidden"></el-button>
              </div>
              <el-row :gutter="40">
                <el-col class="model-item" :span="21" :offset="2">
                <h3>
                  <span class="orderNumber">订单编号:</span>
                  <span class="orderText">{{orderCode}}</span>
                  <span class="orderText" style="margin-left:8vw;">{{orderTime}}</span>
                </h3>
                <div class="lineA"></div>
                <el-table
                  :data="tableData">
                  <el-table-column
                    prop="name"
                    label="品名"
                    align="left">
                  </el-table-column>
                  <el-table-column
                    prop="price"
                    label="价格"
                    align="center">
                  </el-table-column>
                  <el-table-column
                    prop="number"
                    label="数量"
                    align="center">
                  </el-table-column>
                  <el-table-column
                    prop="subtotal"
                    label="小计"
                    align="right">
                  </el-table-column>
                </el-table>
                <el-row :gutter="20">
                  <el-col :span="12">
                    <div class="grid-content bg-purple bg_purple_l">
                      <span class="get_Total_l">合计</span>
                    </div>
                  </el-col>
                  <el-col :span="12">
                    <div class="grid-content bg-purple bg_purple_r">
                      <span class="get_Total_r">{{getTotal()}}</span>
                    </div>
                  </el-col>
                </el-row>
                <el-row :gutter="20">
                  <el-col :span="12">
                    <div class="grid-content bg-purple bg_purple_l">
                      <span class="discounted_Price_l">优惠金额</span>
                    </div>
                  </el-col>
                  <el-col :span="12">
                    <div class="grid-content bg-purple bg_purple_r">
                      <span class="discounted_Price_r">{{discountedPrice}}</span>
                    </div>
                  </el-col>
                </el-row>
                <div class="lineB"></div>
                <el-row :gutter="20">
                  <el-col :span="12">
                    <div class="grid-content bg-purple bg_purple_l">
                      <span class="actually_paid_l">实付金额</span>
                    </div>
                  </el-col>
                  <el-col :span="12">
                    <div class="grid-content bg-purple bg_purple_r">
                      <span class="actually_paid_r">{{getTotal()}}</span>
                    </div>
                  </el-col>
                </el-row>
                <el-button class="cancelOrder" type="primary">取消订单</el-button>
                </el-col>
              </el-row>
            </el-card>
      </transition>
  </div>
</template>

<script>
export default {
  name: 'Settlement',
  data(){
      return {
          show:false,
          orderCode:'DD20191128',
          orderTime:'2019.11/28',
          discountedPrice:0,
          tableData:[
            {
              name:'鸡蛋',
              price:12,
              number:'X 1',
              subtotal:12
            },
            {
              name:'鸡蛋',
              price:12,
              number:'X 1',
              subtotal:12
            },
            {
              name:'鸡蛋',
              price:12,
              number:'X 1',
              subtotal:12
            },
            {
              name:'鸡蛋',
              price:12,
              number:'X 1',
              subtotal:12
            },
            {
              name:'鸡蛋',
              price:12,
              number:'X 1',
              subtotal:12
            },
            {
              name:'鸡蛋',
              price:12,
              number:'X 1',
              subtotal:12
            },
            {
              name:'鸡蛋',
              price:12,
              number:'X 1',
              subtotal:12
            },
            {
              name:'鸡蛋',
              price:12,
              number:'X 1',
              subtotal:12
            },
            {
              name:'鸡蛋',
              price:12,
              number:'X 1',
              subtotal:12
            },
            {
              name:'鸡蛋',
              price:12,
              number:'X 1',
              subtotal:12
            },
            {
              name:'鸡蛋',
              price:12,
              number:'X 1',
              subtotal:12
            },
            {
              name:'鸡蛋',
              price:12,
              number:'X 1',
              subtotal:12
            },
            {
              name:'鸡蛋',
              price:12,
              number:'X 1',
              subtotal:12
            },
          ],
          activeName: 'first'
      }
  },
  created() {
    this.getTotal();
  },
  methods:{
      isShow() {
          this.show = true;
      },
      isHidden() {
          this.show = false;
      },
      getTotal() {
      let a = 0;
      for(let i=0;i<this.tableData.length;i++){
        a = a+ this.tableData[i].price;
      }
      a = a-this.discountedPrice;
      return a;
    }
  }
}
</script>
<style scoped>
.Settlement-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 49999;
}
.shadowArea{
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 65vw;
    height: 100vh;
    z-index: 50000;
    background: rgba(0,0,0,0.35);
}
.rightPanel{
    display: inline-block;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 35vw;
    z-index: 50000;
    background: #FFFFFF;
}
.SettlementA-enter-active, .SettlementA-leave-active {
  transition: opacity .4s;
}
.SettlementA-enter, .SettlementA-leave-to /* .SettlementA-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.SettlementB-enter-active, .SettlementB-leave-active {
  transition: opacity .5s;
}
.SettlementB-enter, .SettlementB-leave-to /* .SettlementB-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.model-item{
  overflow-x: hidden;
  margin-top: 20px;
  height: 85vh;
  background: #FFFFFF;
  border: 1px solid #DCDFE6;
  border-radius: 4px;
}
.el_tab_pane{
  height: 72.5vh;
  background: #FFFFFF;
  border-radius: 4px;
}
.lineA{
  margin: auto;
  height: 30vw;
  height: 1px;
  border: 1px solid #D8D8D8;
}
.lineB{
  margin: auto;
  margin-top: 10px;
  height: 30vw;
  height: 1px;
  border: 1px solid #D8D8D8;
}
.orderNumber{
  font-family: MicrosoftYaHeiLight;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  line-height: 19px;
}
.orderText{
  font-family: MicrosoftYaHeiLight;
  font-size: 14px;
  color: #909399;
  letter-spacing: 0;
  line-height: 19px;
}
.bg_purple_l{
  text-align: left;
  margin-top: 20px;
}
.bg_purple_r{
  text-align: right;
  margin-top: 20px;
}
.get_Total_l{
  font-family: MicrosoftYaHeiLight;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
}
.get_Total_r{
  font-family: Impact;
  font-size: 14px;
  color: #606266;
  letter-spacing: 0;
  line-height: 14px;
}
.discounted_Price_l{
  font-family: MicrosoftYaHeiLight;
  font-size: 14px;
  color: #F57323;
  letter-spacing: 0;
}
.discounted_Price_r{
  font-family: Impact;
  font-size: 14px;
  color: #F57323;
  letter-spacing: 0;
  line-height: 14px;
}
.actually_paid_l{
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
}
.actually_paid_r{
  font-family: Impact;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  line-height: 14px;
}
.cancelOrder{
  margin-top: 6vh;
  margin-left: 23vw;
}
</style>