<template>
  <div class="app-container">
    <el-form ref="form" :rules="cartRules" :model="form" label-width="120px">
       <el-form-item prop="storeId" label="店铺">
            <el-select filterable v-model="form.storeId" placeholder="请选择" style="width: 100%;">
              <el-option v-for="item in storeList" :key="item.id" :label="item.name" :value="item.id" />
            </el-select>
      </el-form-item>
      <el-form-item prop="name" label="名称">
        <el-input v-model="form.name" />
      </el-form-item>
      <el-form-item prop="description" label="描述">
        <el-input v-model="form.description" type="textarea" />
      </el-form-item>
       <el-form-item prop="thumbnail" style="margin-bottom: 30px;" label="缩略图">
        <Upload v-model="form.thumbnail" @on:input="onUpload" />
      </el-form-item>
      <el-form-item prop="content" label="内容">
        <el-input v-model="form.content" type="textarea" />
      </el-form-item>
      <el-form-item prop="url" label="视频URL">
        <el-input v-model="form.url"/>
      </el-form-item>
      <el-form-item prop="length" label="视频时长">
        <el-input v-model="form.length" />
      </el-form-item>
      <el-form-item prop="resolution" label="视频分辨率">
        <el-input v-model="form.resolution" />
      </el-form-item>
      <el-form-item prop="goods" label="商品列表">
        <el-select v-model="form.goods" multiple filterable placeholder="请选择" style="width: 100%;">
          <el-option v-for="item in goodsList" :key="item.id" :label="item.name" :value="item.id" />
        </el-select>
      </el-form-item>
      <el-form-item prop="isShow" label="是否展示">
        <el-checkbox v-model="form.isShow"></el-checkbox>
      </el-form-item>
      <el-form-item>
        <el-button :loading="loading" type="primary" @click="onSubmit">添加</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import Upload from '@/components/Upload/SingleImage'
import { validEmpty } from '@/utils/validate'
import { create } from '@/api/cart'
import { GoodsGetList as GoodsGetList } from '@/api/goods'
import { getList } from '@/api/store'

export default {
  components: { Upload },
  data() {
    const validateName = (rule, value, callback) => {
      if (!validEmpty(value)) {
        callback(new Error('请输入！'))
      } else {
        callback()
      }
    }
    return {
      params:{
        size:10000,
        page:1
      },
      goodsList:'',
      storeList:'',
      form: {
        storeId: '',
        name: '',
        description: '',
        thumbnail: '',
        content: '',
        url: '',
        length: '',
        resolution: '',
        goods: [],
        isShow: false
      },
      cartRules: {
        storeId:[{ required: true, trigger: 'blur', validator: validateName }],
        name:[{ required: true, trigger: 'blur', validator: validateName }],
        thumbnail:[{ required: true, trigger: 'blur', validator: validateName }],
        url: [{ required: true, trigger: 'blur', validator: validateName }],
        length:[{ required: true, trigger: 'blur', validator: validateName }],
        resolution:[{ required: true, trigger: 'blur', validator: validateName }]
      },
      loading: false
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
    fetchData() {
       GoodsGetList().then(response => {
        this.goodsList = response.data
      })
      getList(this.params).then(response => {
        this.storeList = response.data
      })
    },
    onUpload(data) {
      this.form.thumbnail = data
    },
    onSubmit() {
      this.$refs.form.validate(valid => {
        if (valid) {
          this.loading = true
          create(this.form).then(response => {
            console.log(response)
            this.loading = false
            this.$router.push({ path: '/cart/list' })
          }).catch((error) => {
            this.$message({
              message: error.response.data,
              type: 'warning'
            })
            this.loading = false
          })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
  }
}
</script>

<style scoped>
.line{
  text-align: center;
}
</style>

