<template>
  <div class="app-container">
    <el-form ref="form" :rules="snapshotRules" :model="form" label-width="120px">
      
      <el-form-item prop="goodsId" label="所属商品">
        <el-select filterable v-model="form.goodsId"  placeholder="请选择" style="width: 100%">
          <el-option v-for="item in goods" :key="item.id" :label="item.name" :value="item.id" />
        </el-select>
      </el-form-item>
      <el-form-item prop="name" label="名称">
        <el-input v-model="form.name" />
      </el-form-item>
      <el-form-item prop="shortName" label="短名称">
        <el-input v-model="form.shortName" />
      </el-form-item>
      <el-form-item prop="description" label="描述">
        <el-input v-model="form.description" type="textarea" />
      </el-form-item>
      <el-form-item prop="sn" label="货号">
        <el-input v-model="form.sn" />
      </el-form-item>
      <el-form-item prop="thumbnail" label="首图">
        <el-upload
          action="http://www.miaodou.club/api/v2/upload"
          list-type="picture-card"
          :on-preview="handlePictureCardPreview"
          :on-remove="handleRemove"
          :on-success="handleSuccess"
          :file-list="thumbnail"
             :headers="header"
          multiple
        >
          <i class="el-icon-plus" />
        </el-upload>
        <el-dialog :visible.sync="dialogVisible">
          <img width="100%" :src="dialogImageUrl" alt="">
        </el-dialog>
      </el-form-item>
      <el-form-item prop="detail" label="产品详情">
        <el-upload
          action="http://www.miaodou.club/api/v2/upload"
          list-type="picture-card"
          :on-preview="handlePictureCardPreview"
          :on-remove="handleDetailRemove"
             :headers="header"
          :on-success="handleDetailSuccess"
          :file-list="detail"
          multiple
        >
          <i class="el-icon-plus" />
        </el-upload>
        <el-dialog :visible.sync="dialogVisible">
          <img width="100%" :src="dialogImageUrl" alt="">
        </el-dialog>
      </el-form-item>
      <el-form-item prop="specification" label="产品规格">
        <el-upload
          action="http://www.miaodou.club/api/v2/upload"
          list-type="picture-card"
          :on-preview="handlePictureCardPreview"
          :on-remove="handleSpecificationRemove"
             :headers="header"
          :on-success="handleSpecificationSuccess"
          :file-list="specification"
          multiple
        >
          <i class="el-icon-plus" />
        </el-upload>
        <el-dialog :visible.sync="dialogVisible">
          <img width="100%" :src="dialogImageUrl" alt="">
        </el-dialog>
      </el-form-item>
      <el-form-item prop="other" label="包装售后">
        <el-upload
          action="http://www.miaodou.club/api/v2/upload"
          list-type="picture-card"
          :on-preview="handlePictureCardPreview"
          :on-remove="handleOtherRemove"
          :on-success="handleOtherSuccess"
             :headers="header"
          :file-list="other"
          multiple
        >
          <i class="el-icon-plus" />
        </el-upload>
        <el-dialog :visible.sync="dialogVisible">
          <img width="100%" :src="dialogImageUrl" alt="">
        </el-dialog>
      </el-form-item>
       <el-row>
        <el-col :span="8">
          <el-form-item prop="price" label="售价">
            <el-input v-model="form.price" />
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item prop="marketPrice" label="市场价">
            <el-input v-model="form.marketPrice" />
          </el-form-item>
        </el-col>
       
      </el-row>
     
       
      <el-row>
        <el-col :span="8">
          <el-form-item prop="weightUnit" label="重量单位">
            <el-input v-model="form.weightUnit" />
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item prop="weight" label="重量">
            <el-input v-model="form.weight" />
          </el-form-item>
        </el-col>
      </el-row>
      
      <el-form-item>
        <el-button :loading="loading" type="primary" @click="onSubmit">添加</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import Upload from '@/components/Upload/SingleImage'
import { validEmpty } from '@/utils/validate'
import { create } from '@/api/snapshot'
import { CategoryGetList as CategoryGetList } from '@/api/category'
import { BrandGetList as BrandGetList } from '@/api/brand'
import { getList ,deleteby} from '@/api/goods'
import { getToken } from '@/utils/auth'
export default {
  components: { Upload },
  data() {
    const validateName = (rule, value, callback) => {
      if (!validEmpty(value)) {
        callback(new Error('请输入！'))
      } else {
        callback()
      }
    }
    return {
      header:{
        Authorization:'Bearer '+getToken()
      },
         params:{
        size:1000000,
        page:1
      },
      dialogImageUrl: '',
      dialogVisible: false,
      categories: [],
      brands: [],
      goods: [],
      thumbnail: [],
      detail: [],
      specification: [],
      other: [],
      form: {
        
        goodsId: '',
        name: '',
        shortName: '',
        description: '',
        sn: '',
        thumbnail: [],
        detail: [],
        specification: [],
        price: '',
        marketPrice: '',
        promotePrice: '',
        other: [],
        promoteStartDate: '',
        promoteEndDate: '',
        weightUnit: '',
        weight: '',
        integral: 0
      },
      snapshotRules: {
        goodsId:[{ required: true, trigger: 'blur', validator: validateName }],
        name: [{ required: true, trigger: 'blur', validator: validateName }],
        shortName:[{ required: true, trigger: 'blur', validator: validateName }],
        sn:[{ required: true, trigger: 'blur', validator: validateName }],
        thumbnail:[{ required: true, trigger: 'blur', validator: validateName }],
        detail:[{ required: true, trigger: 'blur', validator: validateName }],
        specification:[{ required: true, trigger: 'blur', validator: validateName }],
        other:[{ required: true, trigger: 'blur', validator: validateName }],
        price:[{ required: true, trigger: 'blur', validator: validateName }],
        marketPrice:[{ required: true, trigger: 'blur', validator: validateName }],
       
      },
      loading: false
    }
  },
  created() {
    this.fetchData()
    
  },
  methods: {
    handlePictureCardPreview(file) {
      this.dialogImageUrl = file.url
      this.dialogVisible = true
    },
    handleRemove(file, list) {
      console.log(file, list)
      this.thumbnail = list
      // delete this.thumbnail[file.uid]
      console.log(this.thumbnail)
    },
    handleSuccess(response, file, list) {
      console.log(response)
      console.log(file)
      // this.thumbnail[file.uid] = response.path
      list.forEach(element => {
        if (element.response) {
          element.url = element.response.path
          element.dimensions = element.response.data.dimensions
        }

        delete element.response
        delete element.raw
      })
      this.thumbnail = list
      console.log(this.thumbnail)
    },
    handleDetailRemove(file, list) {
      console.log(file, list)
      this.detail = list
      // delete this.thumbnail[file.uid]
      console.log(this.thumbnail)
    },
    handleDetailSuccess(response, file, list) {
      console.log(response)
      console.log(file)
      // this.thumbnail[file.uid] = response.path
      list.forEach(element => {
        if (element.response) {
          element.url = element.response.path
          element.dimensions = element.response.data.dimensions
        }

        delete element.response
        delete element.raw
      })
      this.detail = list
      console.log(this.thumbnail)
    },
    handleSpecificationRemove(file, list) {
      console.log(file, list)
      this.specification = list
      // delete this.thumbnail[file.uid]
      console.log(this.thumbnail)
    },
    handleSpecificationSuccess(response, file, list) {
      console.log(response)
      console.log(file)
      // this.thumbnail[file.uid] = response.path
      list.forEach(element => {
        if (element.response) {
          element.url = element.response.path
          element.dimensions = element.response.data.dimensions
        }

        delete element.response
        delete element.raw
      })
      this.specification = list
      console.log(this.thumbnail)
    },
    handleOtherRemove(file, list) {
      console.log(file, list)
      this.other = list
      // delete this.thumbnail[file.uid]
      console.log(this.thumbnail)
    },
    handleOtherSuccess(response, file, list) {
      console.log(response)
      console.log(file)
      // this.thumbnail[file.uid] = response.path
      list.forEach(element => {
        if (element.response) {
          element.url = element.response.path
          element.dimensions = element.response.data.dimensions
        }

        delete element.response
        delete element.raw
      })
      this.other = list
      console.log(this.thumbnail)
    },
    fetchData() {
      getList(this.params).then(response => {
        console.log(response)
        this.goods = response.data
      })
    },
    onUpload(data) {
      console.log(data)
    },
    onSubmit() {
      this.form.thumbnail = this.thumbnail
      this.form.detail = this.detail
      this.form.specification = this.specification
      this.form.other = this.other
      console.log(this.form)
      this.$refs.form.validate(valid => {
        if (valid) {
          this.loading = true
          console.log(this.form)
          create(this.form).then(response => {
            this.loading = false
            this.$router.push({ path: '/snapshot/list' })
          }).catch((error) => {
            this.$message({
              message: error.response.data.errors.name,
              type: 'warning'
            })
            this.loading = false
          })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    addSpecification() {
      var _this = this;
      _this.specification.push(
        {
          price: '',
          marketPrice: '',
          promotePrice: '',
        }
      );
    },
    delSpecification(e) {
      var _this = this;
      _this.specification.splice(e,1);
    }
  }
}
</script>

<style scoped>
.line{
  text-align: center;
}
</style>

