<template>
  <div class="app-container">
    <el-row type="flex" style="padding:15px;" justify="space-between">
       <!-- <el-col :span="5" >
      <el-select v-model="goodId" filterable @change="fetchData" style="width: 100%">
          <el-option v-for="item in goods" :key="item.id" :label="item.name" :value="item.id" />
        </el-select>
      </el-col>   -->
      <!-- <el-col :span="3"  style="text-align: right;">
        <el-button  plain v-if="checkPermission(['admin','manager','employee'])" type="success" @click="handleAdd()">
            添加商品快照
        </el-button>
      </el-col> -->
    </el-row>
    <el-table
      v-loading="listLoading"
      :data="list"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >
      <el-table-column align="center" label="ID">
        <template slot-scope="scope">
          {{ scope.row.id }}
        </template>
      </el-table-column>
      <el-table-column label="名称" align="center">
        <template slot-scope="scope">
          {{ scope.row.name }}
        </template>
      </el-table-column>
      <el-table-column label="描述" align="center">
        <template slot-scope="scope">
          <span>{{ scope.row.description }}</span>
        </template>
      </el-table-column>
      <el-table-column cell-click="handleEdit(scope.row.id)" label="缩略图" width="100" align="center">
        <template slot-scope="scope">
          <el-popover
            placement="top"
            trigger="hover">
            <div
            style="
            width: 400px; 
            height: 400px;
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex-box;
            display:flex;
            -webkit-box-align:center;
            -ms-flex-align:center;
            align-items:center;
            -webkit-box-pack:center;
            -ms-flex-pack:center;
            justify-content:center;
            text-align:center;
            ">
                <img style="max-width: 100%; max-height: 100%;" :src="scope.row.thumbnail[0].url" alt="" srcset="">
            </div>
            <img  slot="reference" style="width: 80px; height: 80px;" :src="scope.row.thumbnail[0].url" alt="" srcset="">
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column align="center" prop="created_at" label="最后修改日期">
        <template slot-scope="scope">
          <i class="el-icon-time" />
          <span>{{ newData(scope.row.updatedAt) }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="操作">
        <template slot-scope="scope">
         <!-- <el-button plain v-if="checkPermission(['admin','manager','employee'])" type="primary" @click="handleEdit(scope.row.id)">
            编辑
          </el-button> -->
           <el-button plain v-if="checkPermission(['admin','manager','employee'])" type="danger" @click="toDelete(scope.row.id)">
            删除
          </el-button>
        </template>
      </el-table-column>
    </el-table>
     <pagination v-show="total>0"   :total="total" :page.sync="params.page" :limit.sync="params.size" @pagination="fetchData(params)" />
  </div>
</template>

<script>
import { getsnapshotList ,deleteby} from '@/api/snapshot'
import permission from '@/directive/permission/index.js' // 权限判断指令
import checkPermission from '@/utils/permission' // 权限
// import {getList } from '@/api/goods'
import Pagination from '@/components/Pagination' // secondary package based on el-pagination
export default {
  components: { Pagination },
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'gray',
        deleted: 'danger'
      }
      return statusMap[status]
    }
  },
  directives: { permission },
  data() {
    return {
      imgconst:'http://www.miaodou.club/',
      quryms:{
        size:100000,
        page:1
      },
      goodId:'',
      // goods:[],
      total: 0,
      params:{
        size:10,
        page:1
      },
      list: null,
      listLoading: true
    }
  },
  created() {
    // this.fetchData()
    this.goodId = this.$route.params.goodsId
    this.fetchData()
    // getList(this.quryms).then(r=>{
    //   this.goods=r.data;
    //   this.goodId=r.data[0].id;
    //   this.fetchData()
    // })
  },
  methods: {
    checkPermission,
    fetchData() {
      this.listLoading = true
      getsnapshotList(this.goodId,this.params).then(response => {
        console.log(response)
        this.list = response.data
        this.total=response.total;
        this.listLoading = false
      })
    },
    handleEdit(id) {
      console.log(id)
      this.$router.push({ name: 'snapshotUpdate', params: { id: id }})
    },
    toDelete(id){
      deleteby(id).then(rs=>{
        if(rs.success==true){
        this.$message({
          message:rs.message,
          type: 'success'
        });
         this.fetchData(this.params);
        }
      }).catch((error) => {
            this.$message({
              message: error.response.data.errors.name,
              type: 'warning'
            })
            this.loading = false
          })
    },
    handleAdd() {
      this.$router.push({ path: '../snapshot/form' })
    },
    newData(e){
      let date=new Date(e);
      let  Y = date.getFullYear() +'年';
      let   M = (date.getMonth() +1 <10 ?'0' + (date.getMonth() +1) : date.getMonth() +1) +'月';
      let  D = date.getDate() +'日';
      let  h = date.getHours() +':';
      let  m = date.getMinutes() +':';
      let  s = date.getSeconds();
      return Y +M +D+h+m+s;
    }
  }
}
</script>
