<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="https://g.alicdn.com/de/prismplayer/2.8.2/skins/default/aliplayer-min.css" />
    <script src="./aliyun-upload-sdk/lib/es6-promise.min.js"></script>
    <script src="./aliyun-upload-sdk/lib/aliyun-oss-sdk-5.3.1.min.js"></script>
    <script src="./aliyun-upload-sdk/aliyun-upload-sdk-1.5.0.min.js"></script>
    <link href="https://vjs.zencdn.net/7.7.5/video-js.css" rel="stylesheet" />
  <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
  
    <script src="https://g.alicdn.com/de/prismplayer/2.8.8/aliplayer-min.js"></script>
    <title><%= webpackConfig.name %></title>
  </head>
  <body background="#f5f6fa">
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
  <script src="https://vjs.zencdn.net/7.7.5/video.js"></script>
  <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
</html>
