<template>
  <div class="app-container">
     <el-row style="padding:15px">
      <el-col :span="2" :offset="21">
        <el-button plain v-if="checkPermission(['admin'])" type="success" @click="handleAdd()">
            添加管理员
        </el-button>
      </el-col>
    </el-row>
    <el-table
      v-loading="listLoading"
      :data="list"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >
      <el-table-column align="center" label="ID">
        <template slot-scope="scope">
          {{ scope.row.id }}
        </template>
      </el-table-column>
      <el-table-column label="名称" align="center">
        <template slot-scope="scope">
          {{ scope.row.username }}
        </template>
      </el-table-column>
      <el-table-column label="权限" align="center">
        <template slot-scope="scope">
          <span style="margin-left:10px;" v-for="(itme,index) in scope.row.roles" :key="index">{{ checkname(itme) }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" prop="created_at" label="最后修改日期">
        <template slot-scope="scope">
          <i class="el-icon-time" />
          <span>{{ scope.row.updatedAt }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="操作">
        <template slot-scope="scope">
          <el-button plain type="primary" v-if="checkPermission(['admin'])" @click="handleEdit(scope.row.id)">
            编辑
          </el-button>
          <el-button plain type="danger" v-if="checkPermission(['admin'])" @click="toDelete(scope.row.id)">
            删除
          </el-button>
        </template>
      </el-table-column>
    </el-table>
     <pagination v-show="total>0"   :total="total" :page.sync="params.page" :limit.sync="params.size" @pagination="fetchData(params)" />
  </div>
</template>

<script>
import { getList } from '@/api/manager'
import Pagination from '@/components/Pagination' // secondary package based on el-pagination
import checkPermission from '@/utils/permission' // 权限
export default {
  components: { Pagination },
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'gray',
        deleted: 'danger'
      }
      return statusMap[status]
    }
  },
  data() {
    return {
      total: 0,
      params:{
        size:10,
        page:1
      },
      list: null,
      listLoading: true
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
     checkPermission,
    fetchData() {
      this.listLoading = true
      getList(this.params).then(response => {
        console.log(response)
        this.list = response.data
        this.total=response.total;
        this.listLoading = false
      })
    },
    checkname(data){
  // {id:'admin',val:'管理员'},
  //        {id:'manager',val:'店长'},
  //         {id:'employee',val:'员工'},
    switch(data){
      case 'admin':
        return '管理员';
        break;
        case 'manager':
        return '店长';
        break;
        case 'employee':
        return '员工';
        break;
    }
    },
    handleEdit(id) {
      console.log(id)
      this.$router.push({ name: 'MannagerModify', params: { id: id }})
    },
     handleAdd() {
      this.$router.push({name: 'ManagerCreate',})
    },
    toDelete(id){
      deleteby(id).then(rs=>{
        if(rs.success==true){
        this.$message({
          message:rs.message,
          type: 'success'
        });
         this.fetchData(this.params);
        }
      }).catch((error) => {
            this.$message({
              message: error.response.data.errors.name,
              type: 'warning'
            })
            this.loading = false
          })
    }
  }
}
</script>
