<template>
  <div  v-if="show" class="Settlement-container">
      <div v-if="show" class="shadowArea" @click="isHidden"></div>
      <transition name="SettlementB">
            <el-card v-if="show" class="box-card rightPanel">
              <div slot="header" class="clearfix">
                <span>货单提货</span>
                <el-button style="float: right; padding: 3px 0" type="text" icon="el-icon-close" @click="isHidden"></el-button>
              </div>
              <el-row :gutter="40" style="    display: flex;
    justify-content: space-around;">
                <el-col class="model-item" :span="21" >
                <h3 style="display: flex;justify-content: space-between;">
                  <span class="orderNumber">订单编号:<span class="orderText">{{orderdata.number}}</span></span>
                  
                  <span class="orderText">{{newData(orderdata.createdAt)}}</span>
                </h3>
                <!-- <div class="lineA">{{JSON.stringify(orderdata)}}</div> -->
                <el-table
                  :data="orderdata.goodses">
                  <el-table-column
                    prop="name"
                    label="商品名称"
                    align="left">
                    <template slot-scope="scope">
         
                <span v-if="scope.row.detail">{{ scope.row.detail.name }}</span>
                 </template>
                  </el-table-column>
                  <el-table-column
                    prop="price"
                    label="价格"
                    align="center">
                     <template slot-scope="scope">
         
                <span>￥{{scope.row.price}}</span>
                 </template>
                  </el-table-column>
                  <el-table-column
                    prop="number"
                    label="数量"
                    align="center">
                  </el-table-column>
                  <el-table-column
                    prop="subtotal"
                    label="小计"
                    align="right">
                     <template slot-scope="scope">
         
                <span>￥{{ scope.row.price* scope.row.number}}</span>
                 </template>
                  </el-table-column>
                </el-table>
                
                <!-- <el-row :gutter="20">
                  <el-col :span="12">
                    <div class="grid-content bg-purple bg_purple_l">
                      <span class="get_Total_l">合计</span>
                    </div>
                  </el-col>
                  <el-col :span="12">
                    <div class="grid-content bg-purple bg_purple_r">
                      <span class="get_Total_r">{{getTotal()}}</span>
                    </div>
                  </el-col>
                </el-row> -->
                <!-- <el-row :gutter="20">
                  <el-col :span="12">
                    <div class="grid-content bg-purple bg_purple_l">
                      <span class="discounted_Price_l">优惠金额</span>
                    </div>
                  </el-col>
                  <el-col :span="12">
                    <div class="grid-content bg-purple bg_purple_r">
                      <span class="discounted_Price_r">{{discountedPrice}}</span>
                    </div>
                  </el-col>
                </el-row> -->
                <!-- <div class="lineB"></div> -->
                <!-- <el-row :gutter="20">
                  <el-col :span="12">
                    <div class="grid-content bg-purple bg_purple_l">
                      <span class="actually_paid_l">实付金额</span>
                    </div>
                  </el-col>
                  <el-col :span="12">
                    <div class="grid-content bg-purple bg_purple_r">
                      <span class="actually_paid_r">{{getTotal()}}</span>
                    </div>
                  </el-col>
                </el-row> -->
               
                </el-col>
              </el-row>
             
               <el-row :gutter="40" style="    display: flex;
    justify-content: space-around;">
 <div class="ordernumber" v-if="orderdata.operations[orderdata.operations.length-1].number">
               <div class="orerbox" v-if="orderdata.operations.length!=0">
                 <div class="ordertitle">货位号</div>
                 <div class="ordermain" v-if="orderdata.operations[orderdata.operations.length-1].number">{{orderdata.operations[orderdata.operations.length-1].number}}</div>
               </div>
                 <div class="orerbox2" v-else>
                 <div style="font-size:30px;font-weight:800;color:#f0f1f4;line-height: 75px;">货单未拣货</div>
               </div>
              </div>
                <div class="ordernumber" v-else>
               <div class="orerbox" v-if="form.number">
                 <div class="ordertitle">货位号</div>
                 <div class="ordermain">{{form.number}}</div>
               </div>
                 <div class="orerbox2" v-else>
                 <div style="font-size:30px;font-weight:800;color:#f0f1f4;line-height: 75px;">货单未拣货</div>
               </div>
              </div>
               </el-row>
            
               <el-button class="cancelOrder" type="primary" @click="submit()">提交货单</el-button>
            </el-card>
             
      </transition>
     
  </div>
</template>

<script>
import { create } from '@/api/operation'
import Cookies from 'js-cookie'
export default {
  name: 'Settlement',
  data(){
      return {
        form:{
          managerId:'',
          orderId:'',
          message:'',
          status:8,
          number:'',
        },
          show:false,
          orderCode:'DD20191128',
          orderTime:'2019.11/28',
          discountedPrice:0,
          tableData:[
          ],
          activeName: 'first'
      }
  },
  props:['orderdata'],
  created() {
    this.getTotal();
    console.log(this.orderdata);
  },
  methods:{
      isShow(e) {
          if(e){
            this.form.number = e
          }
          this.show = true;
      },
      isHidden() {
          this.show = false;
      },
      submit(){
        console.log(this.orderdata);
         this.form.managerId = JSON.parse(Cookies.get('userinfo')).id;
    this.form.orderId =this.orderdata.id;
    if(this.orderdata.operations.length!=0){
if(this.orderdata.operations[this.orderdata.operations.length-1].number){
      this.form.number=this.orderdata.operations[this.orderdata.operations.length-1].number
    }
    }
    
    console.log(this.form);
   
  
     create(this.form).then(response => {
           
              this.$emit('transfer',true)
              this.$message({
              message: "提货成功",
              type: 'success'
            })
             this.isHidden()
          }).catch((error) => {
       this.$emit('transfer',false)
            this.$message({
              message: error.response.data,
              type: 'warning'
            })
            
          })
      },
      getTotal() {
      let a = 0;
      for(let i=0;i<this.tableData.length;i++){
        a = a+ this.tableData[i].price;
      }
      a = a-this.discountedPrice;
      return a;
    },
    newData(e){
      let date=new Date(e);
      let Y = date.getFullYear() +'年';
      let M = (date.getMonth() +1 <10 ?'0' + (date.getMonth() +1) : date.getMonth() +1) +'月';
      let D = date.getDate() +'日';
      let h = date.getHours() +':';
      let m = date.getMinutes() +':';
      let s = date.getSeconds();
      return Y+M+D+h+m+s;
    }
  }
}
</script>
<style scoped>
.Settlement-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 49999;
}
.shadowArea{
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 65vw;
    height: 100vh;
    z-index: 50000;
    background: rgba(0,0,0,0.35);
}
.rightPanel{
    display: inline-block;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 35vw;
    z-index: 50000;
    background: #FFFFFF;
}
.SettlementA-enter-active, .SettlementA-leave-active {
  transition: opacity .4s;
}
.SettlementA-enter, .SettlementA-leave-to /* .SettlementA-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.SettlementB-enter-active, .SettlementB-leave-active {
  transition: opacity .5s;
}
.SettlementB-enter, .SettlementB-leave-to /* .SettlementB-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.model-item{
  overflow-x: hidden;
  margin-top: 20px;
  padding-bottom: 20px;
  max-height: 16vw;
  background: #FFFFFF;
  border: 1px solid #DCDFE6;
  border-radius: 4px;
}
.el_tab_pane{
  height: 72.5vh;
  background: #FFFFFF;
  border-radius: 4px;
}
.lineA{
  margin: auto;
  height: 30vw;
  height: 1px;
  border: 1px solid #D8D8D8;
}
.lineB{
  margin: auto;
  margin-top: 10px;
  height: 30vw;
  height: 1px;
  border: 1px solid #D8D8D8;
}
.orderNumber{
  font-family: MicrosoftYaHeiLight;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  line-height: 19px;
}
.orderText{
  font-family: MicrosoftYaHeiLight;
  font-size: 14px;
  color: #909399;
  letter-spacing: 0;
  line-height: 19px;
}
.bg_purple_l{
  text-align: left;
  margin-top: 20px;
}
.bg_purple_r{
  text-align: right;
  margin-top: 20px;
}
.get_Total_l{
  font-family: MicrosoftYaHeiLight;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
}
.get_Total_r{
  font-family: Impact;
  font-size: 14px;
  color: #606266;
  letter-spacing: 0;
  line-height: 14px;
}
.discounted_Price_l{
  font-family: MicrosoftYaHeiLight;
  font-size: 14px;
  color: #F57323;
  letter-spacing: 0;
}
.discounted_Price_r{
  font-family: Impact;
  font-size: 14px;
  color: #F57323;
  letter-spacing: 0;
  line-height: 14px;
}
.actually_paid_l{
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
}
.actually_paid_r{
  font-family: Impact;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  line-height: 14px;
}
.cancelOrder{
  /* margin-top: 6vh; */
  margin-left: 23vw;
}
.clearfix{
  
  font-weight: 800;
}
.el-card__header{
background-color: #d8d8d8 !important;
}
.ordernumber{
  padding: 30px;
    width: 100%;
}
.orerbox{
  border: 1px dashed #1989fa;
  border-radius: 5px;
  text-align: center;
  width: 100%;
}
.orerbox2{
  border: 1px dashed #f0f1f4;
  border-radius: 5px;
  text-align: center;
  width: 100%;
}
.orerbox .ordertitle{
  font-size: 16px;
  font-weight: 800;
  line-height: 33px;
  color: #1989fa;
}
.orerbox .ordermain{
  font-size: 26px;
  font-weight: 800;
   line-height: 66px;
  color: #1989fa;
}
</style>