<template>
  <div class="app-container">
    
    <el-form ref="form" :rules="videoRules" :model="form" label-width="120px">
      <el-form-item prop="thumbnail" label="视频封面">
     <el-upload
  class="upload-demo"
  drag
   accept=".jpg,.jpeg,.png,.gif,.pdf,.JPG,.JPEG,.GIF"
  :show-file-list="false"
        action
        :http-request="fnUploadRequest">
  <i class="el-icon-upload"></i>
  <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
  <div class="el-upload__tip" slot="tip">只能上传jpg/png文件，且不超过500kb</div>
</el-upload>

      </el-form-item>
      <el-form-item  label="上传视频">   
<div class="upload">
      <div>
        <input type="file" accept=".avi, .mpg, .mpeg, .mp4" hidden id="fileUpload" @change="fileChange($event)">
         <el-button :loading="loading" type="primary" @click="choosefile()" >选择文件</el-button>
        <el-tag v-if="uploadAuth.file">{{uploadAuth.file.name}}</el-tag>
        <label class="status">上传状态: <span>{{uploadAuth.statusText}}</span></label>

      </div>
      <div class="upload-type">
        <span class="progress">
          <span>上传进度:</span>
           <!-- <i id="auth-progress">{{uploadAuth.authProgress}}</i> % -->
            <el-progress v-if="showProgress" :text-inside="true" style="width:300px;margin-left:10px;" :stroke-width="20" :percentage="progress" status="success"></el-progress>
           </span>
      
      </div>
    </div>
    
      </el-form-item>
      <el-form-item prop="title" label="视频标题">
        <el-input v-model="form.title" maxlength="128"/>
      </el-form-item>
      <el-form-item prop="description" label="描述">
        <el-input v-model="form.description" maxlength="128" type="textarea" />
      </el-form-item>
      <el-form-item prop="play_type" label="视频类型">
        <el-select     style="width: 100%"  v-model="form.play_type">
          <el-option v-for="item in statuslist" :key="item.id" :label="item.name" :value="item.id" />
        </el-select>
      </el-form-item>
      <el-form-item prop="is_original" label="类型">
        <el-radio v-model="form.is_original" label="0">转载</el-radio>
  <el-radio v-model="form.is_original" label="1">原创</el-radio>
        
      </el-form-item>
      <!-- <el-form-item prop="is_rotate" label="旋转">
       
        <el-radio v-model="form.is_rotate" label="0">否</el-radio>
  <el-radio v-model="form.is_rotate" label="1">是</el-radio>
      </el-form-item> -->
      <el-form-item prop="video_classid" label="视频分类">
        <!-- <el-select     style="width: 100%"  v-model="form.video_classid" @change="gettag($event)">
          <el-option v-for="item in typelist" :key="item.id" :label="item.title" :value="item.id" />
        </el-select> -->
        <el-cascader style="width:100%"  :props="optionProps" :options="typelist"  ref="cascaderAddr" @change="handleChange" clearable>
          
        </el-cascader>
        <!-- <el-tree
              style="margin-left:1vw"
              ref="treeForm"
              :data="typelist"
              show-checkbox
              node-key="id"
              check-strictly
              @check-change="handleCheckChange"
              :props="defaultProps">
            </el-tree> -->
      </el-form-item>
      <!-- <el-form-item prop="class_tage_array" label="标签">
        <el-select     style="width: 100%"  multiple filterable
    allow-create
    default-first-option v-model="form.class_tage_array">
          <el-option v-for="item in taglist" :key="item.id" :label="item.title" :value="item.id" />
        </el-select>
      </el-form-item> -->
      <el-form-item prop="class_tage_array" label="标签"> 
        <div>
           <el-tag
  :key="tag.title"
  v-for="tag in form.class_tage_array"
  closable
  :disable-transitions="false"
  @close="handleClose(tag)">
  {{tag.title}}
</el-tag>
<el-input
  class="input-new-tag"
  v-if="inputVisible"
  v-model="inputValue"
  ref="saveTagInput"
  size="small"
  @keyup.enter.native="handleInputConfirm"
  @blur="handleInputConfirm"
>
</el-input>

<el-button v-else class="button-new-tag" size="small" @click="showInput">+新建标签</el-button>
        </div>
       <el-tag
  v-for="tag in taglist"
  :key="tag.id"
  
   @click="choosetag(tag)"
  >
  {{tag.title}}
 
</el-tag>
      </el-form-item>
      

      
      
     

      <!-- <el-form-item label-width="120px" prop="is_immerse" >
            <el-checkbox v-model="form.is_immerse">是否可沉浸</el-checkbox>
          </el-form-item>
           <el-form-item label-width="120px" prop="is_rotate" >
            <el-checkbox v-model="form.is_rotate">是否可旋转</el-checkbox>
          </el-form-item> -->
      
     
      <!-- <el-button @click="test">change</el-button> -->
      <el-form-item>
        <!-- :disabled="uploadAuth.uploadDisabled" -->
        <el-button  type="primary" @click="authUpload"  :disabled="uploadAuth.uploadDisabled">提交</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import axios from 'axios'
import Upload from '@/components/Upload/SingleImage'
import { validEmpty } from '@/utils/validate'
import { create ,gettokens,videorequest,gettypeList,getststokens,gettagList} from '@/api/video'
import { GoodsGetList as GoodsGetList } from '@/api/goods'
import { getList } from '@/api/store'
import Cookies from 'js-cookie'
import OSS from "ali-oss";
const versions='/public/index.php/user_center';
let  token=JSON.parse(Cookies.get('userinfo'));
let access_token=Cookies.get('Admin-Token');
export default {
  components: { Upload },
  data() {
    const validateName = (rule, value, callback) => {
      if (!validEmpty(value)) {
        callback(new Error('请输入！'))
      } else {
        callback()
      }
    }
    const validateNumber = (rule, value, callback) => {
      if (!value) {
        callback(new Error('请输入！'))
      } else {
        callback()
      }
    }
    return {
      issub:false,
      optionProps: {
    value: 'id',
    leaf:'label',
		label: 'title',
		children: 'child'
	},
       defaultProps:{
        label:'title',
        children:'child'
      },
      dynamicTags: [],
        inputVisible: false,
        inputValue: '',
      selectImg: "",
        loading: false,
        arr:[],
        num:0,
        value1:[],
        card: {
            id: 0,
            name: "",
            price:0,
            desc:'',
            items:[],
            imgUrl:'',
        },
      statuslist:[
        {
          id:1,
          name:'短视频'
        },
        {
          id:2,
          name:'长视频'
        },
      ],
      immerselist:[
        {
          id:0,
          name:'可以'
        },
        {
          id:1,
          name:'不可以'
        },
      ],
      rotatelist:[ {
          id:0,
          name:'可以'
        },
        {
          id:1,
          name:'不可以'
        },],
        typelist:[],
        taglist:[],
       showProgress: false,//进度条的显示
        progress:0, //进度条
      uploadAuth:{
        timeout: 60000,
        partSize:1048576,
        parallel: 5,
        retryCount: 3,
        retryDuration: 2,
        region: 'cn-shanghai',
        userId: token.userId,
        file: null,
        authProgress: 0,
        uploadDisabled: true,
        resumeDisabled: true,
        pauseDisabled: true,
        uploader: null,
        statusText: '',
       
      },
      ststoken:'',
      params:{
        size:10000,
        page:1
      },
      goodsIdsList:'',
      storeList:'',
      form: {
        storeId: '',
        title: '',
        description: '',
        thumbnail: '',
        content: '',
        url: '',
        length: '',
        resolution: '',
        goodsIds: [],
        isShow: false,
        is_rotate:"0",
        play_type:1,
        is_immerse:"0",
        cover_url:'',
        is_original:'0',
        video_classid:'',
        class_tage_array:[]
      },
      videoRules: {
         description:[{ required: true, trigger: 'blur', validator: validateName }],
        title:[{ required: true, trigger: 'blur', validator: validateName }],
        is_original:[{ required: true, trigger: 'blur', validator: validateName }],
         play_type:[{ required: true, trigger: 'blur', validator: validateNumber }],
          is_immerse:[{ required: true, trigger: 'blur', validator: validateName }],
        video_classid:[{ required: true, trigger: 'blur', validator: validateNumber }], 
         class_tage_array:[{ required: true, trigger: 'blur', validator: validateName }],  
        url: [{ required: true, trigger: 'blur', validator: validateName }],
        length:[{ required: true, trigger: 'blur', validator: validateName }],
        resolution:[{ required: true, trigger: 'blur', validator: validateName }]
      },
      loading: false
    }
  },
  created() {
    // this.fetchData()
    gettypeList(0,token).then(rs=>{
      console.log(rs)
      this.typelist=rs.data;
    })
    getststokens(token).then(rs=>{
      this.ststoken=rs.data;
    })
  },
  methods: {
    test(){
      this.showProgress=true;
   this.progress+=1;
    },
    handleCheckChange(data, checked) {
      console.log(data);
      if(checked == true){
        this.form.video_classid = data.id;
        //  this.gettag(data)
        this.$refs.treeForm.setCheckedNodes([data]);
      }else{
        this.taglist=[];
      }
    },
      handleClose(tag) {
        this.form.class_tage_array.splice(this.form.class_tage_array.indexOf(tag), 1);
      },

      showInput() {
        this.inputVisible = true;
        this.$nextTick(_ => {
          this.$refs.saveTagInput.$refs.input.focus();
        });
      },
 handleChange(e) {
        console.log(e);
       
        let checkedNodes = this.$refs['cascaderAddr'].getCheckedNodes()
console.log(checkedNodes) // 获取当前点击的节点
        let ls=e.length;
        if(ls!=0){
 console.log(e[ls-1])
//  console.log(this.getCascaderObj(value,this.typelist))
        this.form.video_classid=e[ls-1];
        this.taglist=checkedNodes[0].data.label
        }else{
this.form.video_classid='';
 this.taglist=[];
        }
       
      },
     getCascaderObj(val,opt) {
            return val.map(function (value, index, array) {
                for (var itm of opt) {
                    if (itm.value == value) { opt = itm.children; return itm; }
                }
                return null;
            });
        },
      handleInputConfirm() {
        let inputValue = this.inputValue;
        if (inputValue) {
          let item={
            id:0,
            title:inputValue
          }
          this.form.class_tage_array.push(item);
        }
        this.inputVisible = false;
        this.inputValue = '';
      },
         MathRand() 
{ 
var Num=""; 
for(var i=0;i<6;i++) 
{ 
Num+=Math.floor(Math.random()*10); 
     }
     return Num
     },
      choosetag(e){
        if(!this.form.class_tage_array.includes(e)){
          if(this.form.class_tage_array.length<10){
this.form.class_tage_array.push(e);
          }else{
            this.$message({
              message:'最多选择5个标签',
              type: 'warning'
            })
          }
 
        }else{
this.$message({
              message:'请勿重复选择',
              type: 'warning'
            })
        }
      
      },
   
    gettag(e){
    console.log(e)
    // this.taglist=e.label;
    },
    //上传图片
    async fnUploadRequest(option) {
      try {
        //  OSS.urllib.request("http://your_sts_server/", {method: 'GET'}, (err, response) => {
      
        //  })
        console.log("参数", option);
        this.loading = true;
        // 获取OSS配置信息
        let client = new OSS({
          // accessKeyId: "LTAI4Ft3sQrSb3EGtJswDPTX",
          // accessKeySecret: "qNIm3LWCQISpYFlnSfMzq4TAYpwGtG", 
          // bucket: "new-store",
          // region: "oss-cn-beijing",
          secure:true,
            accessKeyId: this.ststoken.AccessKeyId,
      accessKeySecret: this.ststoken.AccessKeySecret,
      stsToken:this.ststoken.SecurityToken,
      expiration:this.ststoken.Expiration,
          bucket: "xiangmu2020",
        
          region: "oss-cn-beijing",
        });

        let file = option.file;
        const point = file.name.lastIndexOf(".");
        let suffix =this.MathRand();
        let fileName = file.name;
        // let date = new Date().format("YYYYMMDDHHmm");
        let date = this.newData();
        let fileNames = `${date+ (new Date()).valueOf()}${suffix}${fileName}`;
        let relativePath = "coverurl/";
        console.log(date);
        console.log(relativePath);
        console.log("oss客户端", client);
        console.log("文件", file);
        client.options.endpoint.protocol= "https:"
        // 分片上传文件
        let ret = await client.multipartUpload(relativePath + fileNames, file, {
          progress: async function(p) {
            let e = {};
            e.percent = p * 100;
            option.onProgress(e);
          }
        });
        if (ret.res.statusCode === 200) {
          console.log("上传成功", ret);
          this.$message({
              message: '上传成功',
              type: 'success'
            })
          this.form.cover_url = ret.res.requestUrls[0];
        } else {
          option.onError("上传失败");
          this.$message({
              message: '上传成功',
              type: 'warning'
            })
        }
      } catch (error) {
        console.error(error);
        option.onError("上传失败");
      }
      this.loading = false;
    },  
  
    choosefile(){
     document.getElementById('fileUpload').click()
    },
    fileChange (e) {
        this.uploadAuth.file = e.target.files[0]
        if (!this.uploadAuth.file) {
          alert("请先选择需要上传的文件!")
          return
        }
        var Title = this.uploadAuth.file.name
        var userData = '{"Vod":{}}'
        if (this.uploadAuth.uploader) {
          this.uploadAuth.uploader.stopUpload()
          this.uploadAuth.authProgress = 0
          this.uploadAuth.statusText = ""
        }
        this.uploadAuth.uploader = this.createUploader()
        console.log(userData)
        this.uploadAuth.uploader.addFile(this.uploadAuth.file, null, null, null, userData)
        this.uploadAuth.uploadDisabled = false
        this.uploadAuth.pauseDisabled = true
        this.uploadAuth.resumeDisabled = true
      },
      authUpload () {
        this.$refs.form.validate(valid => {
        console.log(valid);
        if (valid) {
          this.issub=true
         // 然后调用 startUpload 方法, 开始上传
        if (this.uploadAuth.uploader !== null) {
          this.uploadAuth.uploader.startUpload()
          this.uploadAuth.uploadDisabled = true
          this.issub=false;
          this.uploadAuth.pauseDisabled = false
        }
         
        } else {
          this.issub=false
          console.log('error submit!!')
          return false
        }
      })
       
      },
      // 暂停上传
      pauseUpload () {
        if (this.uploadAuth.uploader !== null) {
          this.uploadAuth.uploader.stopUpload()
          this.uploadAuth.resumeDisabled = false
          this.uploadAuth.pauseDisabled = true
        }
      },
      // 恢复上传
      resumeUpload () {
        if (this.uploadAuth.uploader !== null) {
          this.uploadAuth.uploader.startUpload()
          this.uploadAuth.resumeDisabled = true
          this.uploadAuth.pauseDisabled = false
        }
      },
      createUploader (type) {
        let self = this
        let uploader = new AliyunUpload.Vod({
          timeout: self.uploadAuth.timeout || 60000,
          partSize: self.uploadAuth.partSize || 1048576,
          parallel: self.uploadAuth.parallel || 5,
          retryCount: self.uploadAuth.retryCount || 3,
          retryDuration: self.uploadAuth.retryDuration || 2,
          region: self.uploadAuth.region,
          userId: self.uploadAuth.userId,
          // 添加文件成功

          addFileSuccess: function (uploadInfo) {
            self.uploadAuth.uploadDisabled = false
            self.uploadAuth.resumeDisabled = false
            self.uploadAuth.statusText = '添加文件成功, 等待上传...'
            console.log(uploadInfo);
            self.form.title=uploadInfo.file.name;
            self.form.title=self.form.title.split('.')[0];
            console.log("addFileSuccess: " + uploadInfo.file.name)
          },
          // 开始上传
          
          onUploadstarted: function (uploadInfo) {
            // 如果是 UploadAuth 上传方式, 需要调用 uploader.setUploadAuthAndAddress 方法
            // 如果是 UploadAuth 上传方式, 需要根据 uploadInfo.videoId是否有值，调用点播的不同接口获取uploadauth和uploadAddress
            // 如果 uploadInfo.videoId 有值，调用刷新视频上传凭证接口，否则调用创建视频上传凭证接口
            // 注意: 这里是测试 demo 所以直接调用了获取 UploadAuth 的测试接口, 用户在使用时需要判断 uploadInfo.videoId 存在与否从而调用 openApi
            // 如果 uploadInfo.videoId 存在, 调用 刷新视频上传凭证接口(https://help.aliyun.com/document_detail/55408.html)
            // 如果 uploadInfo.videoId 不存在,调用 获取视频上传地址和凭证接口(https://help.aliyun.com/document_detail/55407.html)
            console.log(uploadInfo);
            console.log(!uploadInfo.videoId)
            // if (!uploadInfo.videoId) {
              let createUrl =  'http://120.79.181.163/xiangmu/public/index.php/video/video_api/get_create_upload_video';
            self.progress=0;
            console.log(self.form);
            console.log({
                api_token:'api_xiangmu',
                access_token:token.authToken.accessToken,
                user_id:token.userId,
                title:self.form.title,
                file_name:self.uploadAuth.file.name,
                description:self.form.description,
                play_type:self.form.play_type,
                is_immerse:self.form.is_immerse,
                is_rotate:self.form.is_rotate,
                cover_url:self.form.cover_url,
                is_original:self.form.is_original,
                video_classid:self.form.video_classid,
                class_tage_array:self.form.class_tage_array
              });
           
              gettokens({
                api_token:'api_xiangmu',
                access_token:access_token,
                user_id:token.userId,
                title:self.form.title,
                file_name:self.uploadAuth.file.name,
                description:self.form.description,
                play_type:self.form.play_type,
                is_immerse:self.form.is_immerse,
                is_rotate:self.form.is_rotate,
                cover_url:self.form.cover_url,
                 is_original:self.form.is_original,
                video_classid:self.form.video_classid,
                class_tage_array:self.form.class_tage_array
              }).then(({data}) => {
                console.log("请求成功");
                console.log(data);
                let uploadAuth = data.UploadAuth
                let uploadAddress = data.UploadAddress
                let videoId = data.VideoId
                uploader.setUploadAuthAndAddress(uploadInfo, uploadAuth, uploadAddress,videoId)                
              }).catch((error) => {
                console.log("XX")
          console.log(error);
          self.uploadAuth.uploadDisabled=false;
       
					})
              self.statusText = '文件开始上传...';
              console.log(uploadInfo);
              console.log("onUploadStarted:" + uploadInfo.file.name + ", endpoint:" + uploadInfo.endpoint + ", bucket:" + uploadInfo.bucket + ", object:" + uploadInfo.object)
            // } else {
            //   // 如果videoId有值，根据videoId刷新上传凭证
            //   // https://help.aliyun.com/document_detail/55408.html?spm=a2c4g.11186623.6.630.BoYYcY
            //   let refreshUrl = 'http://120.79.181.163/xiangmu/public/index.php/video/video_api/get_refresh_upload_video_request' + uploadInfo.videoId
            //   videorequest(uploadInfo.videoId).then(({data}) => {
            //     let uploadAuth = data.data.UploadAuth
            //     let uploadAddress = data.data.UploadAddress
            //     let videoId = data.data.VideoId
            //     uploader.setUploadAuthAndAddress(uploadInfo, uploadAuth, uploadAddress,videoId)
            //   })
            // }
          },
          // 文件上传成功
          onUploadSucceed: function (uploadInfo) {
            console.log("onUploadSucceed: " + uploadInfo.file.name + ", endpoint:" + uploadInfo.endpoint + ", bucket:" + uploadInfo.bucket + ", object:" + uploadInfo.object)
            self.statusText = '文件上传成功!'
          },
          // 文件上传失败
          onUploadFailed: function (uploadInfo, code, message) {
            console.log("onUploadFailed: file:" + uploadInfo.file.name + ",code:" + code + ", message:" + message)
            self.statusText = '文件上传失败!'
          },
          // 取消文件上传
          onUploadCanceled: function (uploadInfo, code, message) {
            console.log("Canceled file: " + uploadInfo.file.name + ", code: " + code + ", message:" + message)
            self.statusText = '文件已暂停上传'
          },
          // 文件上传进度，单位：字节, 可以在这个函数中拿到上传进度并显示在页面上
          onUploadProgress: function (uploadInfo, totalSize, progress) {
            self.showProgress=true
            // this.progress=progress;
            console.log("onUploadProgress:file:" + uploadInfo.file.name + ", fileSize:" + totalSize + ", percent:" + Math.ceil(progress * 100) + "%")
            let progressPercent = Math.ceil(progress * 100);
            self.progress=Math.ceil(progress * 100);
            self.uploadAuth.authProgress = progressPercent
            self.uploadAuth.statusText = '文件上传中...'
          },
          // 上传凭证超时
          onUploadTokenExpired: function (uploadInfo) {
            // 上传大文件超时, 如果是上传方式一即根据 UploadAuth 上传时
            // 需要根据 uploadInfo.videoId 调用刷新视频上传凭证接口(https://help.aliyun.com/document_detail/55408.html)重新获取 UploadAuth
            // 然后调用 resumeUploadWithAuth 方法, 这里是测试接口, 所以我直接获取了 UploadAuth
            let refreshUrl = 'https://demo-vod.cn-shanghai.aliyuncs.com/voddemo/RefreshUploadVideo?BusinessType=vodai&TerminalType=pc&DeviceModel=iPhone9,2&UUID=59ECA-4193-4695-94DD-7E1247288&AppVersion=1.0.0&Title=haha1&FileName=xxx.mp4&VideoId=' + uploadInfo.videoId
            axios.get(refreshUrl).then(({data}) => {
              let uploadAuth = data.UploadAuth
              uploader.resumeUploadWithAuth(uploadAuth)
              console.log('upload expired and resume upload with uploadauth ' + uploadAuth)
            })
            self.uploadAuth.statusText = '文件超时...'
          },
          // 全部文件上传结束
          onUploadEnd: function (uploadInfo) {
            // this.progress=0;
            self.showProgress=false;
            console.log("onUploadEnd: uploaded all the files")
            self.uploadAuth.statusText = '文件上传完毕';
            self.$router.push({ path: '/video/list' });
            self.$message({
              message: '视频上传成功',
              type: 'success'
            })
          }
        })
        return uploader
      },
    fetchData() {
      //  GoodsGetList().then(response => {
      //   this.goodsIdsList = response.data
      // })
      getList(this.params,token).then(response => {
        this.storeList = response.data
      })
    },
    onUpload(data) {
      this.form.thumbnail = data
    },
    onSubmit() {

      this.$refs.form.validate(valid => {
        console.log(valid);
        
        console.log(this.form.class_tage_array);
        // this.form.class_tage_array.push({
        //   id:0,
        //   title:'test'
        // })

        // this.repeattag(this.form.class_tage_array);
        console.log("重新遍历");
        // console.log(this.form.class_tage_array);
        if (valid) {
          
          this.loading = true
          create(this.form).then(response => {
            console.log(response)
            this.loading = false
            this.$router.push({ path: '/video/list' })
          }).catch((error) => {
            this.$message({
              message: error.response.data,
              type: 'warning'
            })
            this.loading = false
          })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
   
    newData(){
      let date=new Date();
      let Y = date.getFullYear() +'/';
      let M = (date.getMonth() +1 <10 ?'0' + (date.getMonth() +1) : date.getMonth() +1) +'/';
      let D = date.getDate() +'/';
      let h = date.getHours() +':';
      let m = date.getMinutes() +':';
      let s = date.getSeconds();
      return Y+M+D;
    }
  }
}
</script>

<style scoped>
.line{
  text-align: center;
}
.progress{
display: flex;
flex-direction: row;
align-items: center;
}
 .el-tag + .el-tag {
    margin-left: 10px;
  }
  .button-new-tag {
    margin-left: 10px;
    height: 32px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .input-new-tag {
    width: 90px;
    margin-left: 10px;
    vertical-align: bottom;
  }
</style>

