<template>
  <div class="upload-container">
    <el-upload
      :data="dataObj"
      :multiple="false"
      :show-file-list="false"
      :on-success="handleImageSuccess"
      :http-request="httpRequest"
      class="image-uploader"
      drag
      prop="Upload"
      action="https://httpbin.org/post"
    >
      <i class="el-icon-upload" />
      <div class="el-upload__text" @click="iseditIsFalse">
        将文件拖到此处，或<em>点击上传</em>
      </div>
    </el-upload>
    <div class="image-preview">
      <div class="image-preview-wrapper">
        <img v-if="isedit" id="1" :src="'http://www.miaodou.club/'+value">
        <img v-else id="2" :src="src">
        <div class="image-preview-action">
          <i class="el-icon-delete" @click="rmImage" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import { getToken } from '@/api/qiniu'

export default {
  name: 'SingleImageUpload',
  props: {
    value: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      src: 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7',
      imageUrl: '',
      tempUrl: '',
      dataObj: { token: '', key: '' },
      fileReader: '',
      isedit:false,
      isclick:false
    }
  },
  watch:{
    value:function(e){
      console.log(e);
      
        this.getvalue();
      
    }
  },
  computed(){
    // imageUrl() {
    //   return this.value
    // }
  },
  mounted() {
    if (!window.FileReader) {
      console.error('Your browser does not support FileReader API!')
    }
    this.fileReader = new FileReader()
  },
  methods: {
    getvalue(){
     if(!this.isclick){
  console.log("@@@@@@@@@@")
     if(this.value){
       console.log(true)
       this.isedit=true
     }else{
        console.log(false)
       this.isedit=false
     }
     }
    
    },
    rmImage() {
      this.isedit=false;
      this.emitInput('')
    },
    emitInput(val) {
        console.log("@@@@@@@@@@")
      console.log(this.value);
      this.src = 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7'
      this.$emit('input', val)
    },
    handleImageSuccess() {
      this.emitInput(this.tempUrl)
    },
    httpRequest(options) {
      var _this = this
      const file = options.file

      if (file) {
        this.fileReader.readAsDataURL(file)
       
      }
 _this.value = '';
      this.fileReader.onload = () => {
        const base64 = this.fileReader.result
        _this.src = base64
        _this.$emit('input', base64)
       this.isedit=false;
      }
    },
    beforeUpload() {
      // const _self = this
      return new Promise((resolve, reject) => {
        // getToken().then(response => {
        //   const key = response.data.qiniu_key
        //   const token = response.data.qiniu_token
        //   _self._data.dataObj.token = token
        //   _self._data.dataObj.key = key
        //   this.tempUrl = response.data.qiniu_url
        //   resolve(true)
        // }).catch(err => {
        //   console.log(err)
        //   reject(false)
        // })
      })
    },
    iseditIsFalse(){
      console.log('.....')
     this.isclick=true
    }
  }
}
</script>

<style lang="scss" scoped>
    @import "~@/styles/mixin.scss";
    .upload-container {
        width: 100%;
        position: relative;
        @include clearfix;
        .image-uploader {
            width: 60%;
            float: left;
        }
        .image-preview {
            width: 200px;
            height: 200px;
            position: relative;
            border: 1px dashed #d9d9d9;
            float: left;
            margin-left: 50px;
            .image-preview-wrapper {
                position: relative;
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .image-preview-action {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                cursor: default;
                text-align: center;
                color: #fff;
                opacity: 0;
                font-size: 20px;
                background-color: rgba(0, 0, 0, .5);
                transition: opacity .3s;
                cursor: pointer;
                text-align: center;
                line-height: 200px;
                .el-icon-delete {
                    font-size: 36px;
                }
            }
            &:hover {
                .image-preview-action {
                    opacity: 1;
                }
            }
        }
    }

</style>
