<template>
  <div class="app-container">
    <el-form ref="form" :model="form" label-width="120px">
      <el-row>
        <el-col :span="12">
          <el-date-picker
            v-model="date"
            type="daterange"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            value-format="yyyy-MM-dd"
            @change="fetchData">
          </el-date-picker>
        </el-col>
        <el-col :span="12">
          <el-form-item label="区间总金额">
            <el-input v-model="form.money" />
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <el-tabs v-model="activeName">
      <el-tab-pane label="全部" name="tab-1">
        <el-table
          v-loading="listLoading"
          :data="list"
          element-loading-text="Loading"
          border
          fit
          highlight-current-row
        >
          <el-table-column align="center" label="商品名称">
            <template slot-scope="scope" v-if="scope.row.name">
              {{ scope.row.name }}
            </template>
          </el-table-column>
          <el-table-column align="center" label="销售数量">
            <template slot-scope="scope">
              {{ scope.row.count }}
            </template>
          </el-table-column>
        </el-table>
      </el-tab-pane>
      <template v-if="ok">
        <el-tab-pane v-for="(item,index) in stores" :key="index" :label="item.name"  :name="tab+index+2">
        <el-table
          v-loading="listLoading"
          :data="item.result"
          element-loading-text="Loading"
          border
          fit
          highlight-current-row
        >
          <el-table-column align="center" label="商品名称">
            <template slot-scope="scope" v-if="scope.row.name">
              {{ scope.row.name }}
            </template>
          </el-table-column>
          <el-table-column align="center" label="销售数量">
            <template slot-scope="scope" v-if="scope.row.count">
              {{ scope.row.count }}
            </template>
          </el-table-column>
        </el-table>
      </el-tab-pane>
      </template>
    </el-tabs>
  </div>
</template>

<script>
// import { validEmpty } from '@/utils/validate'
import { getGoodsListByPagination } from '@/api/report'
export default {
  data() {
    return {
      tab:'tab-',
      activeName: 'tab-1',
      form: {
        mobile: ''
      },
      stores: '',
      date: '',
      list: null,
      listLoading: false,
      size: 25,
      total: 0,
      page: 1,
      ok: false
    }
  },
  created() {
    // this.fetchData()
  },
  methods: {
    fetchData(item) {
      console.log(item);
      if(item!=null){
        this.listLoading = true
      getGoodsListByPagination(this.date[0], this.date[1], this.size, this.page).then(response => {
        console.log(response.data.result.length)
        this.list = response.data.result
        this.listLoading = false
        this.total = response.data.total
        this.form.money = response.data.money
        this.stores = response.data.stores
        this.ok = true
      })
      }else{
     this.list=[];
     this.total=0;
     this.form.money='';
      }
      // this.listLoading = true
      // getGoodsListByPagination(this.date[0], this.date[1], this.size, this.page).then(response => {
      //   console.log(response)
      //   this.list = response.data.result
      //   this.listLoading = false
      //   this.total = response.data.total
      //   this.form.money = response.data.money
      //   this.stores = response.data.stores
      //   this.ok = true
      // })
    },
    // onSubmit() {
    //   // this.$message('submit!')
    //   if (this.form.mobile) {
    //     this.listLoading = true
    //     getRechargeListByPagination(this.form.mobile, this.size, this.page).then(response => {
    //       console.log(response)
    //       this.list = response.data.items
    //       this.listLoading = false
    //       this.total = response.data.total
    //     })
    //   }
    //   else {
    //     this.$message({
    //       message: '请输入手机号码！',
    //       type: 'warning'
    //     })
    //   }
    // },
    handleEdit(id) {
      console.log(id)
      this.$router.push({ name: 'ChangeModify', params: { id: id }})
    },
    onCancel() {
      this.$message({
        message: 'cancel!',
        type: 'warning'
      })
    },
    handleCurrentChange(val) {
      this.listLoading = true
      this.page = val
      getGoodsListByPagination(this.date[0], this.date[1], this.size, this.page).then(response => {
        console.log(response)
        this.list = response.data.items
        this.listLoading = false
        this.total = response.data.total
      })
    }
  }
}
</script>

<style scoped>
.line{
  text-align: center;
}
</style>

