<template>
  <div class="app-container">
    <el-form ref="form" :model="form" label-width="120px">
      <el-row>
        <el-col :span="12">
          <el-date-picker
            v-model="date"
            type="daterange"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            value-format="yyyy-MM-dd"
            @change="fetchData">
          </el-date-picker>
        </el-col>
        <el-col :span="12">
          <el-form-item label="区间总金额">
            <el-input v-model="form.money" />
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <el-table
      v-loading="listLoading"
      :data="list"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >
      <el-table-column align="center" label="订单号">
        <template slot-scope="scope">
          {{ scope.row.number }}
        </template>
      </el-table-column>
       <el-table-column align="center" label="手机号">
        <template slot-scope="scope" v-if="scope.row.user">
          {{ scope.row.user.mobile }}
        </template>
      </el-table-column>
      <el-table-column align="center" label="充值时间">
        <template slot-scope="scope">
          {{ scope.row.updatedAt }}
        </template>
      </el-table-column>
      <el-table-column align="center" label="充值金额">
        <template slot-scope="scope">
          {{ scope.row.total }}
        </template>
      </el-table-column>
      <el-table-column align="center" label="充值状态">
        <template slot-scope="scope">
            {{ scope.row.status == 1 ? '未付款' : (scope.row.status == 2 ? '已付款' : (scope.row.status == 4 ? '未取货' : (scope.row.status == 8 ? '已取货' : (scope.row.status == 0 ? '已取消' : (scope.row.status == -1 ? '已删除' : ''))))) }}
        </template>
      </el-table-column>
    </el-table>
    <div class="block">
      <el-pagination
        @current-change="handleCurrentChange"
        :current-page.sync="page"
        :page-size="size"
        layout="prev, pager, next, jumper"
        :total="total">
      </el-pagination>
    </div>
  </div>
</template>

<script>
// import { validEmpty } from '@/utils/validate'
import { getRechargeListByPagination } from '@/api/report'
export default {
  data() {
    return {
      form: {
        mobile: ''
      },
      date: '',
      list: null,
      listLoading: false,
      size: 25,
      total: 0,
      page: 1
    }
  },
  created() {
    // this.fetchData()
  },
  methods: {
    fetchData() {
      this.listLoading = true
      getRechargeListByPagination(this.date[0], this.date[1], this.size, this.page).then(response => {
        console.log(response)
        this.list = response.data.orders
        this.listLoading = false
        this.total = response.data.total
        this.form.money = response.data.money
      })
    },
    // onSubmit() {
    //   // this.$message('submit!')
    //   if (this.form.mobile) {
    //     this.listLoading = true
    //     getRechargeListByPagination(this.form.mobile, this.size, this.page).then(response => {
    //       console.log(response)
    //       this.list = response.data.items
    //       this.listLoading = false
    //       this.total = response.data.total
    //     })
    //   }
    //   else {
    //     this.$message({
    //       message: '请输入手机号码！',
    //       type: 'warning'
    //     })
    //   }
    // },
    handleEdit(id) {
      console.log(id)
      this.$router.push({ name: 'ChangeModify', params: { id: id }})
    },
    onCancel() {
      this.$message({
        message: 'cancel!',
        type: 'warning'
      })
    },
    handleCurrentChange(val) {
      this.listLoading = true
      this.page = val
      getRechargeListByPagination(this.date[0], this.date[1], this.size, this.page).then(response => {
        console.log(response)
        this.list = response.data.orders
        this.listLoading = false
        this.total = response.data.total
        this.form.money = response.data.money
      })
    }
  }
}
</script>

<style scoped>
.line{
  text-align: center;
}
</style>

