<template>
  <div class="app-container">
    <el-form ref="form" :rules="videoRules" :model="form" label-width="120px">
     
      <el-form-item prop="username" label="用户名">
        <el-input v-model="form.username" />
      </el-form-item>
      <el-form-item prop="password" label="密码">
        <el-input v-model="form.password" type="password" maxlength="16"/>
      </el-form-item>
      <el-form-item prop="storeId" label="店铺">
        <el-select filterable v-model="form.storeId" placeholder="请选择" style="width: 100%;">
          <el-option v-for="item in storeList" :key="item.id" :label="item.name" :value="item.id" />
        </el-select>
      </el-form-item>
       <el-form-item prop="roles" label="权限">
            <el-select  v-model="form.roles" multiple placeholder="请选择" style="width: 100%;">
              <el-option v-for="item in rolearr" :key="item.id" :label="item.val" :value="item.id" />
            </el-select>
          </el-form-item>
      <el-form-item>
        <el-button :loading="loading" type="primary" @click="onSubmit">修改</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import Upload from '@/components/Upload/SingleImage'
import { validEmpty } from '@/utils/validate'
import { modify, getinfo } from '@/api/manager'
import { GoodsGetList as GoodsGetList } from '@/api/goods'
import { getList } from '@/api/store'

export default {
  components: { Upload },
 data() {
    const validateName = (rule, value, callback) => {
      if (!validEmpty(value)) {
        callback(new Error('请输入！'))
      } else {
        callback()
      }
    }
     const validaterequre = (rule, value, callback) => {
      if (!value) {
        callback(new Error('请输入！'))
      } else {
        callback()
      }
    }
    return {
      params:{
        size:'',
        page:''
      },
      rolearr:[
        {id:'admin',val:'管理员'},
         {id:'manager',val:'店长'},
          {id:'employee',val:'员工'},
      ],
      dialogImageUrl: '',
      dialogVisible: false,
      disabled: false,
      goodsList:'',
      storeList:'',
      form: {
        username: '',
        password: '',
        roles: [],
       
      },
      videoRules: {
        username:[{ required: true, trigger: 'blur', validator: validateName }],
        // password:[{ required: true, trigger: 'blur', validator: validaterequre }],
        rolearr:[{ required: true, trigger: 'blur', validator: validateName }],
      },
      loading: false
    }
  },
  created() {
    this.fetchData()
    // console.log(this.$route.params.id)
    this.fetch(this.$route.params.id)
  },
  methods: {
    fetch(id) {
      console.log(id)
      getinfo(id).then(response => {
        this.form = response.data
        this.loaded = true
        this.thumbnail = response.data.thumbnail
        this.detail = response.data.detail
        this.specification = response.data.specification
        this.other = response.data.other
      })
    },
    fetchData() {
      GoodsGetList().then(response => {
        console.log(response)
        this.goodsList = response.data
      })
      getList(this.params).then(response => {
        console.log(response.data)
        this.storeList = response.data
      })
    },
    onUpload(data) {
      this.form.thumbnail = data
    },
    onSubmit() {
      // this.form.thumbnail = Object.values(this.thumbnail)
      // this.form.detail = Object.values(this.detail)
      // this.form.specification = Object.values(this.specification)
      // this.form.other = Object.values(this.other)
      this.$refs.form.validate(valid => {
        if (valid) {
          this.loading = true
          modify(this.form, this.$route.params.id).then(response => {
            this.loading = false
            this.$router.push({ path: '/manager/list' })
          }).catch((error) => {
            this.$message({
              message: error.response.data.errors.name,
              type: 'warning'
            })
            this.loading = false
          })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
  }
}
</script>

<style scoped>
.line{
  text-align: center;
}
</style>

