<template>
  <div class="app-container">
     <el-row style="padding:15px">
        <el-col :span="5" >
      <el-select  filterable v-model="flag"  @change="getLists" style="width: 100%">
          <el-option v-for="item in flaglist" :key="item.id" :label="item.name" :value="item.id" />
        </el-select>
      </el-col>
      <el-col :span="2" :offset="17">
        <el-button plain v-if="checkPermission(['admin'])" type="success" @click="handleAdd()">
            添加店铺
        </el-button>
      </el-col>
    </el-row>
    <el-table
      v-loading="listLoading"
      :data="list"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >
      <el-table-column align="center" label="ID" >
        <template slot-scope="scope">
          {{ scope.row.id }}
        </template>
      </el-table-column>
      <el-table-column label="名称" align="center">
        <template slot-scope="scope">
          {{ scope.row.name }}
        </template>
      </el-table-column>
      <el-table-column label="详情" align="center">
        <template slot-scope="scope">
          <span>{{ scope.row.detail }}</span>
        </template>
      </el-table-column>
      
      <el-table-column cell-click="handleEdit(scope.row.id)" label="缩略图" width="100" align="center">
        <template slot-scope="scope">
          <el-popover
            placement="top"
            trigger="hover">
            <div
            style="
            width: 400px; 
            height: 400px;
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex-box;
            display:flex;
            -webkit-box-align:center;
            -ms-flex-align:center;
            align-items:center;
            -webkit-box-pack:center;
            -ms-flex-pack:center;
            justify-content:center;
            text-align:center;
            ">
                <img style="max-width: 100%; max-height: 100%;" :src="imgconst+scope.row.thumbnail" alt="" srcset="">
            </div>
            <img  slot="reference" style="width: 80px; height: 80px;" :src="imgconst+scope.row.thumbnail" alt="" srcset="">
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column align="center" prop="created_at" label="最后修改日期">
        <template slot-scope="scope">
          <i class="el-icon-time" />
          <span>{{ newData(scope.row.updatedAt) }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="操作">
        <template slot-scope="scope">
          <el-button plain v-if="checkPermission(['admin'])" type="primary" @click="handleEdit(scope.row.id)">
            编辑
          </el-button>
           <el-button plain v-if="checkPermission(['admin'])" type="danger" @click="toDelete(scope.row.id)">
            删除
          </el-button>
        </template>
      </el-table-column>
    </el-table>
     <pagination v-show="total>0"   :total="total" :page.sync="params.page" :limit.sync="params.size" @pagination="fetchData(params)" />
  </div>
</template>

<script>
import { getList ,deleteby,getparentList} from '@/api/store'
import permission from '@/directive/permission/index.js' // 权限判断指令
import checkPermission from '@/utils/permission' // 权限

import Pagination from '@/components/Pagination' // secondary package based on el-pagination
export default {
  components: { Pagination },
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'gray',
        deleted: 'danger'
      }
      return statusMap[status]
    }
  },
  directives: { permission },
  data() {
    return {
      imgconst:'http://www.miaodou.club/',
      total: 0,
      params:{
        size:10,
        page:1
      },
      flag:'store',
       flaglist:[
        {id:'store',
        name:'店铺'
      },
      {
        id:'warehouse',
        name:'仓库'
      }
      ],
      list: null,
      listLoading: true
    }
  },
  created() {
     if(this.flag!='store'){
      this.parentData();
      }else{
        this.fetchData()
      }
  },
  methods: {
    checkPermission,
    fetchData() {
      this.listLoading = true
      getList(this.params).then(response => {
        this.list = response.data
        this.total=response.total;
        this.listLoading = false
      })
    },
    parentData(){
       this.listLoading = true
 getparentList(this.params).then(response => {
        this.list = response.data
        this.total=response.total;
        this.listLoading = false
      })
    },
    getLists(){
     if(this.flag!='store'){
      this.parentData();
      }else{
        this.fetchData()
      }
    },
    handleEdit(id) {
      console.log(id)
      this.$router.push({ name: 'storeModify', params: { id: id }})
    },
    toDelete(id){
      deleteby(id).then(rs=>{
        if(rs.success==true){
        this.$message({
          message:rs.message,
          type: 'success'
        });
         this.fetchData(this.params);
        }
      }).catch((error) => {
            this.$message({
              message: error.response.data,
              type: 'warning'
            })
            this.loading = false
          })
    },
    handleAdd() {
      this.$router.push({ name: 'addStore' })
    },
    newData(e){
      let date=new Date(e);
      let Y = date.getFullYear() +'年';
      let M = (date.getMonth() +1 <10 ?'0' + (date.getMonth() +1) : date.getMonth() +1) +'月';
      let D = date.getDate() +'日';
      let h = date.getHours() +':';
      let m = date.getMinutes() +':';
      let s = date.getSeconds();
      return Y+M+D+h+m+s;
    }
  }
}
</script>

