<template>
  <div class="app-container">
    <el-form ref="form" :rules="districtRules" :model="form" label-width="120px">
      <el-form-item prop="provinceId" label="省份ID">
          <el-select filterable v-model="params.provinceId" @change="changeCityId" placeholder="请选择" style="width: 100%;">
            <el-option v-for="item in provinceData" :key="item.id" :label="item.name" :value="item.id" />
          </el-select>
      </el-form-item>
      <el-form-item prop="cityId" label="城市ID">
          <el-select filterable v-model="form.cityId" placeholder="请选择" style="width: 100%;">
            <el-option v-for="item in cityData" :key="item.id" :label="item.name" :value="item.id" />
          </el-select>
      </el-form-item>
      <el-form-item prop="name" label="名称">
        <el-input v-model="form.name" />
      </el-form-item>
      <el-form-item prop="code" label="编号">
        <el-input v-model="form.code" />
      </el-form-item>
      <el-form-item>
        <el-button :loading="loading" type="primary" @click="onSubmit">添加</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import Upload from '@/components/Upload/SingleImage'
import { validEmpty } from '@/utils/validate'
import { create ,getdistrictinfo} from '@/api/district'
import { getCityList } from '@/api/city'
import { provinceGetList } from '@/api/province'
import Cookies from 'js-cookie'
export default {
  components: { Upload },
  data() {
    const validateName = (rule, value, callback) => {
      if (!validEmpty(value)) {
        callback(new Error('请输入！'))
      } else {
        callback()
      }
    }
    return {
      cityData:'',
      provinceData:'',
      provinceId:'',
      cityId:'',
      params:{
        provinceId:'',
        size:100000,
        page:1
      },
      form: {
        cityId:'',
        name: '',
        code:''
      },
      districtRules: {
        cityId: [{ required: true, trigger: 'blur', validator: validateName }],
        name: [{ required: true, trigger: 'blur', validator: validateName }],
        code: [{ required: true, trigger: 'blur', validator: validateName }],
      },
      loading: false
    }
  },
  created(){
    this.params.provinceId=this.$route.params.provinceId;
    console.log(this.$route.params.cityId)
    this.form.cityId=this.$route.params.cityId;
    this.fetchData()
// this.districtinfo(JSON.parse(Cookies.get('userinfo')).id)
  },
  methods: {
    fetchData() {
      provinceGetList().then(response => {
        this.provinceData = response.data
      })
      getCityList(this.params).then(response => {
        this.cityData = response.data
      })
    },
    districtinfo(e){
      getdistrictinfo(e).then(rs=>{
        console.log(rs);
      })
    },
    onUpload(data) {
      this.form.thumbnail = data
    },
    onSubmit() {
      this.$refs.form.validate(valid => {
        if (valid) {
          this.loading = true
          create(this.form).then(response => {
            if(response.success==true){
                   this.$message({
          message:response.message,
          type: 'success'
        });
          this.loading = false
            this.$router.push({ name: 'districtList', params:{id:this.form.cityId,provinceId:this.params.provinceId}})
              }
          }).catch((error) => {
            this.$message({
              message: error.response.data,
              type: 'warning'
            })
            this.loading = false
          })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    changeCityId() {
      getCityList(this.params).then(response => {
        this.cityData = response.data
        this.form.cityId = ''
      })
    }
  }
}
</script>

<style scoped>
.line{
  text-align: center;
}
</style>

