<template>
  <div class="app-container">
    <el-form>
      <el-form-item prop="goods" label="商品列表">
        <el-select v-model="form.goods" multiple filterable placeholder="请选择" style="width: 100%;">
          <el-option v-for="item in goodsList" :key="item.id" :label="item.name" :value="item.id" />
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button :loading="loading" type="primary" @click="onSubmit">保存</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { validEmpty } from '@/utils/validate'
import { modify, get } from '@/api/cart'
import { GoodsGetList as GoodsGetList } from '@/api/goods'

export default {
 data() {
    const validateName = (rule, value, callback) => {
      if (!validEmpty(value)) {
        callback(new Error('请输入！'))
      } else {
        callback()
      }
    }
    return {
      params:{
        size:10000,
        page:1
      },
      goodsList:'',
      storeList:'',
      form: {
        goods: []
      },
      cartRules: {
        goods:[{ required: true, trigger: 'blur', validator: validateName }]
      },
      loading: false
    }
  },
  created() {
    this.fetch(this.$route.params.id)
    this.fetchData()
  },
  methods: {
    fetch(id) {
      get(id).then(response => {
        console.log(response)
        this.form = response.data
        this.loaded = true
        this.thumbnail = response.data.thumbnail
      })
    },
    fetchData() {
      GoodsGetList().then(response => {
        this.goodsList = response.data
      })
    },
    onUpload(data) {
      this.form.thumbnail = data
    },
    onSubmit() {
      // this.form.thumbnail = Object.values(this.thumbnail)
      // this.form.detail = Object.values(this.detail)
      // this.form.specification = Object.values(this.specification)
      // this.form.other = Object.values(this.other)
      this.$refs.form.validate(valid => {
        if (valid) {
          this.loading = true
          modify(this.form, this.$route.params.id).then(response => {
            this.loading = false
            this.$router.push({ path: '/cart/list' })
          }).catch((error) => {
            this.$message({
              message: error.response.data,
              type: 'warning'
            })
            this.loading = false
          })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
  }
}
</script>

<style scoped>
.line{
  text-align: center;
}
</style>

