<template>
  <div class="app-container">
    <el-row style="padding:15px">
      <el-col :span="2">
       <el-select v-model="params.provinceId" @change="changeProvince" filterable placeholder="请选择">
          <el-option
            v-for="item in options"
            :key="item.id"
            :label="item.name"
            :value="item.id">
          </el-option>
        </el-select>
      </el-col>
      <el-col :span="2" :offset="20">
        <el-button plain v-if="checkPermission(['admin'])" type="success" @click="handleAdd()">
            添加城市
        </el-button>
      </el-col>
    </el-row>
    <el-table
      v-loading="listLoading"
      :data="list"
      element-loading-text="Loading"
      border
      fit
      
      highlight-current-row
    >
      <el-table-column align="center" label="ID">
        <template slot-scope="scope">
          {{ scope.row.id }}
        </template>
      </el-table-column>
      <el-table-column label="名称" align="center">
        <template slot-scope="scope">
          {{ scope.row.name }}
        </template>
      </el-table-column>
      <el-table-column label="编号" align="center">
        <template slot-scope="scope">
          {{ scope.row.code }}
        </template>
      </el-table-column>
      <el-table-column align="center" prop="created_at" label="最后修改日期">
        <template slot-scope="scope">
          <i class="el-icon-time" />
          <span>{{ newData(scope.row.updatedAt) }}</span>
        </template>
      </el-table-column>
        <el-table-column label="操作" width="300">
          <!-- v-permission="['admin']" -->
        <template slot-scope="scope">
           <el-button plain v-if="checkPermission(['admin'])" type="primary" @click="showDistrict(scope.row.id)">
            查看城区
          </el-button>
         <el-button plain v-if="checkPermission(['admin'])" type="primary" @click="handleEdit(scope.row.id)">
            编辑
          </el-button>
           <el-button plain v-if="checkPermission(['admin'])" type="danger" @click="toDelete(scope.row.id)">
            删除
          </el-button>
        </template>
      </el-table-column>
    </el-table>
     <pagination v-show="total>0"   :total="total" :page.sync="params.page" :limit.sync="params.size" @pagination="fetchData(params)" />
  </div>
</template>

<script>
import { getCityList ,deleteby} from '@/api/city';
import { provinceGetList } from '@/api/province';
import permission from '@/directive/permission/index.js' // 权限判断指令
import checkPermission from '@/utils/permission' // 权限

import Pagination from '@/components/Pagination' // secondary package based on el-pagination
export default {
  components: { Pagination },
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'gray',
        deleted: 'danger'
      }
      return statusMap[status]
    }
  },
  directives: { permission },
  data() {
    return {
      id:'',
      imgconst:'http://www.miaodou.club/',
      total: 0,
      options:'',
      params:{
        provinceId:'',
        size:10,
        page:1
      },
      list: null,
      listLoading: true
    }
  },
  created() {
    this.id=this.$route.params.id;
    this.fetchData()
  },
  methods: {
   checkPermission,
    fetchData() {
      this.listLoading = true
      provinceGetList().then(response => {
        this.options = response.data;
        if(this.id && this.id!=undefined && this.id!=''){
          this.params.provinceId = this.id
        }
        getCityList(this.params).then(response => {
          this.list = response.data;
          this.total=response.total;
          this.listLoading = false
        })
      })
    },
      handleCurrentChange(val) {
      this.handleEdit(val.id);
      },
      handleEdit(id) {
      this.$router.push({ name: 'cityUpdate', params: { id: this.id }})
    },
    toDelete(id){
      deleteby(id).then(rs=>{
        if(rs.success==true){
        this.$message({
          message:rs.message,
          type: 'success'
        });
        this.fetchData(this.params);
        }
      }).catch((error) => {
            this.$message({
              message: error.response.data,
              type: 'warning'
            })
            this.loading = false
          })
    },
    handleAdd() {
      this.$router.push({ name: 'cityCreate', params:{id:this.id}})
    },
    newData(e){
      let date=new Date(e);
      let Y = date.getFullYear() +'年';
      let M = (date.getMonth() +1 <10 ?'0' + (date.getMonth() +1) : date.getMonth() +1) +'月';
      let D = date.getDate() +'日';
      let h = date.getHours() +':';
      let m = date.getMinutes() +':';
      let s = date.getSeconds();
      return Y+M+D+h+m+s;
    },
    //筛选(省份)
    changeProvince() {
      this.listLoading = true
      getCityList(this.params).then(response => {
        this.list = response.data;
        this.total=response.total;
        this.listLoading = false
      })
    },
    showDistrict(id) {
      this.$router.push({ name: 'districtList', params:{id:id,provinceId:this.params.provinceId} })
    }
  }
}
</script>