<template>
  <div class="app-container">
    <div class="filter-container">
        <div class="mainsubmit">
            <div class="subtop">
                <div class="textA"><span>{{ordertype == 'inbound'?'入库':'出库'}}</span>商品: {{list[0].detail.length}}</div>
                <div class="textB">订单日期:<span>{{newData(list[0].createdAt)}}</span></div>
            </div>
            <div class="subbottom">
                <div class="textC"><span>{{ordertype == 'inbound'?'入库':'出库'}}</span>编号: <span class="textE" >{{list[0].id}}</span></div>
            </div>
        </div>
  </div>
    <el-table
      ref="multipleTable"
    :data="list[0].detail"
    tooltip-effect="dark"
    style="width: 100%"
    @selection-change="handleSelectionChange"
    @change="selectbyserch" 
    >
    <el-table-column
      type="selection"
      width="55">
    </el-table-column>
      
      <el-table-column label="商品编号" prop="id" align="center" width="130" :class-name="getSortClass('id')">
        <template slot-scope="{row}">
          <span>{{ row.goodsId }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" prop="goodses" label="商品名称">
        <template slot-scope="scope" v-if="scope.row.length!=0">
          <template v-if="scope.row.goods">
          <span>{{scope.row.goods.name}}</span>
        </template>
        <template v-else>
          商品数据异常
        </template>
        </template>
      </el-table-column>
      <el-table-column label="商品数量" align="center">
        <template slot-scope="scope">
          {{ scope.row.number }} 件
        </template>
      </el-table-column>
      <!-- <el-table-column label="货品规格" width="110px" align="center">
        <template slot-scope="{row}">
            <el-popover
            v-if="row.goods.specification.length!=0&&row.goods.specification"
            placement="top"
            trigger="hover">
            <div
            style="
            width: 400px; 
            height: 400px;
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex-box;
            display:flex;
            -webkit-box-align:center;
            -ms-flex-align:center;
            align-items:center;
            -webkit-box-pack:center;
            -ms-flex-pack:center;
            justify-content:center;
            text-align:center;
            ">
                <img style="max-width: 100%; max-height: 100%;" :src="row.goods.specification[0].url" alt="" srcset="">
            </div>
            <img  slot="reference" style="width: 80px; height: 80px;" :src="row.goods.specification[0].url" alt="" srcset="">
          </el-popover>
        </template>
      </el-table-column> -->
      <!-- <el-table-column v-if="showReviewer" label="Reviewer" width="110px" align="center">
        <template slot-scope="{row}">
          <span style="color:red;">{{ row.reviewer }}</span>
        </template>
      </el-table-column> -->
       <el-table-column label="店铺" align="center">
        <template>
          {{ storeName }}
        </template>
      </el-table-column>
      <!-- <el-table-column label="本周销量" prop="id" sortable="custom" align="center"  width="130">
        <template slot-scope="{row}">
          <span v-if="row.pageviews" class="link-type" @click="handleFetchPv(row.pageviews)">{{ row.pageviews }}</span>
          <span v-else>0</span>
        </template>
      </el-table-column> -->
       <!-- <el-table-column label="推荐入库" prop="id" sortable="custom" class-name="status-col" align="center"  >
        <template slot-scope="{row}">
         <el-input-number v-model="row.number" @change="handleChange" size="mini" :min="1"  label=""></el-input-number>
        </template>
      </el-table-column>  -->
      <!-- <el-table-column align="center" label="操作">
        <template slot-scope="scope">
          <el-button plain v-if="checkPermission(['admin','manager'])" type="primary" @click="goedit(scope.row.id)">
            编辑
          </el-button>
          <el-button plain v-if="checkPermission(['admin','manager'])" type="danger" @click="toDelete(scope.row.id)">
            删除
          </el-button>
          <el-button plain v-if="checkPermission(['admin','manager'])" type="primary" @click="lookOver(scope.row.id)">
            查看
          </el-button>
        </template>
      </el-table-column> -->
    </el-table>

    <!-- <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible">
      <el-form ref="dataForm" :rules="rules" :model="temp" label-position="left" label-width="70px" style="width: 400px; margin-left:50px;">
        <el-form-item label="Type" prop="type">
          <el-select filterable v-model="temp.type" class="filter-item" placeholder="Please select">
            <el-option v-for="item in calendarTypeOptions" :key="item.key" :label="item.display_name" :value="item.key" />
          </el-select>
        </el-form-item>
        <el-form-item label="Date" prop="timestamp">
          <el-date-picker v-model="temp.timestamp" type="datetime" placeholder="Please pick a date" />
        </el-form-item>
        <el-form-item label="Title" prop="title">
          <el-input v-model="temp.title" />
        </el-form-item>
        <el-form-item label="Status">
          <el-select filterable v-model="temp.status" class="filter-item" placeholder="Please select">
            <el-option v-for="item in statusOptions" :key="item" :label="item" :value="item" />
          </el-select>
        </el-form-item>
        <el-form-item label="Imp">
          <el-rate v-model="temp.importance" :colors="['#99A9BF', '#F7BA2A', '#FF9900']" :max="3" style="margin-top:8px;" />
        </el-form-item>
        <el-form-item label="Remark">
          <el-input v-model="temp.remark" :autosize="{ minRows: 2, maxRows: 4}" type="textarea" placeholder="Please input" />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">
          Cancel
        </el-button>
        <el-button type="primary" @click="dialogStatus==='create'?createData():updateData()">
          Confirm
        </el-button>
      </div>
    </el-dialog>

    <el-dialog :visible.sync="dialogPvVisible" title="Reading statistics">
      <el-table :data="pvData" border fit highlight-current-row style="width: 100%">
        <el-table-column prop="key" label="Channel" />
        <el-table-column prop="pv" label="Pv" />
      </el-table>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="dialogPvVisible = false">Confirm</el-button>
      </span>
    </el-dialog> -->
  </div>
</template>

<script>
import { getStoreId, getRoles } from '@/utils/getCookiesData'
import {fetStockInfo,fetchPv, createArticle, updateArticle ,findtype} from '@/api/article'
import {deleteby,serchbysingle,serchbygoods} from '@/api/stockorder';
import { getpurchaseinfo } from '@/api/purchaseApi'
import waves from '@/directive/waves' // waves directive
import { parseTime } from '@/utils'
import { getList} from '@/api/store'
import Pagination from '@/components/Pagination' // secondary package based on el-pagination
// eslint-disable-next-line no-unused-vars
import Cookies from 'js-cookie'
import checkPermission from '@/utils/permission'

const calendarTypeOptions = [
  { key: 'CN', display_name: 'China' },
  { key: 'US', display_name: 'USA' },
  { key: 'JP', display_name: 'Japan' },
  { key: 'EU', display_name: 'Eurozone' }
]

// arr to obj, such as { CN : "China", US : "USA" }
const calendarTypeKeyValue = calendarTypeOptions.reduce((acc, cur) => {
  acc[cur.key] = cur.display_name
  return acc
}, {})
export default {
  components: { Pagination },
  name: 'purchase',
  directives: { waves },
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'info',
        deleted: 'danger'
      }
      return statusMap[status]
    },
    typeFilter(type) {
      return calendarTypeKeyValue[type]
    }
  },
  data() {
    return {
      storeName:'',
      checkfalse:false,
      allOrder:'',
      storeId:'',
      stores:[],
      infoid:null,
      tableKey: 0,
      ordertype:'inbound',
      stocklist:[
          {
              id:'inbound',
              name:"入库"
          },
           {
              id:'outbound',
              name:"出库"
          },
      ],
      list: [],
      listLoading: true,
      chossenumber:'',
      listQuery: {
        page: 1,
        size: 50,
        importance: undefined,
        title: undefined,
        type: undefined,
        sort: '+id'
      },
      typeQuery:{
     parentId:'',
     size:10,
      page:1
      },
       multipleSelection: [],
      importanceOptions: [1, 2, 3],
      calendarTypeOptions,
      sortOptions: [{ label: 'ID Ascending', key: '+id' }, { label: 'ID Descending', key: '-id' }],
      statusOptions: ['published', 'draft', 'deleted'],
      showReviewer: true,
      temp: {
        id: undefined,
        importance: 1,
        remark: '',
        timestamp: new Date(),
        title: '',
        type: '',
        status: 'published'
      },
      dialogFormVisible: false,
      dialogStatus: '',
      textMap: {
        update: 'Edit',
        create: 'Create'
      },
      dialogPvVisible: false,
      pvData: [],
      rules: {
        type: [{ required: true, message: 'type is required', trigger: 'change' }],
        timestamp: [{ type: 'date', required: true, message: 'timestamp is required', trigger: 'change' }],
        title: [{ required: true, message: 'title is required', trigger: 'blur' }]
      },
      downloadLoading: false,
      isDisabled:true
    }
  },
  created() {
    this.ordertype = this.$route.params.manifestStatus;
    this.storeName = this.$route.params.storeName;
    if(getRoles() === 'admin'){
      this.isDisabled = false
    }
    console.log(this.listQuery);
    getList(this.listQuery).then(e=>{
      this.stores=e.data;
      if(getStoreId()){
        this.storeId = getStoreId();
      }else{
        this.storeId = this.stores[0].id
      }
      console.log("店铺筛选");
      console.log(this.stores);
      this.getLists()
    })
      // this.listLoading = false
    //  this.getLists();
  },
  methods: {
    lookOver(id){
      this.$router.push({ name: 'LookOverSorting', params: { id: id }})
    },
    querySearchAsync(queryString, cb){
      var allOrder = this.list;
      for (let i of allOrder) {
        if(i.goods.name!=undefined){
          i.value = i.goods.name
        }
      }
       console.log(allOrder)
      var results = queryString ? allOrder.filter(this.createStateFilter(queryString)) : allOrder
      cb(results)
    },
    createStateFilter(queryString) {
      return (state) => {
        return (state.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0)
      }
    },
    handleSelect(item){
      console.log(111);
     console.log(item);
     
  serchbysingle(this.storeId,item,this.listQuery).then(rs=>{
      this.list=rs.data
    })
     
  
    },
    selectbyserch(item){
      console.log(item);
     serchbygoods(item,this.listQuery).then(rs=>{
      console.log(rs);
      this.multipleSelection=rs.data;
      
     });
    },
    valueIsNo(value){
      if(value === ''){
        this.getLists()
      }
    },
    //筛选方法集
     //设置表头行的样式
   checkPermission,
    //获取库存信息
    getstockinfo(e){
      console.log("打印参数");
      console.log(e);
fetStockInfo(e).then(rs=>{
  console.log("返回值");
  console.log(rs);
})
    },
     handleChange(){
    },
     toggleSelection(rows) {
       //console.log(rows);
        if (rows) {
          rows.forEach(row => {
            this.$refs.multipleTable.toggleRowSelection(row);
          });
        } else {
          this.$refs.multipleTable.clearSelection();
        }
      },
     handleSelectionChange(val) {
    //    console.log(val)
        this.chossenumber=val.length;
     this.toggleSelection([val[1]])
       this.multipleSelection = val;
      },
    //获取列表
    getLists() {
      console.log(this.$refs.selcettion);
      this.multipleSelection=[];
      this.listQuery.title='';
      this.listLoading = true
      getpurchaseinfo(this.$route.params.id).then(response => {
        this.list.push(response.data);
        //his.allOrder = response.data
  // this.listLoading = false
        // Just to simulate the time of the request
        setTimeout(() => {
          this.listLoading = false
        }, 1.5 * 1000)
      })
    },
    //获取分类
    getType(){
 findtype(this.listQuery).then(response => {
       console.log(response);
      })
    },
    handleFilter() {
      console.log(this.listQuery.title);
      //let arr = [];
      if(this.listQuery.title){
// for(let item of this.list){
//         if(this.)
//       }
      }
      
    },
     toDelete(id){
      deleteby(id).then(rs=>{
        if(rs.success==true){
        this.$message({
          message:rs.message,
          type: 'success'
        });
         this.getLists();
        }
      }).catch((error) => {
            this.$message({
              message: error.response.data.errors.name,
              type: 'warning'
            })
            this.loading = false
          })
    },
    handleModifyStatus(row, status) {
      this.$message({
        message: '操作Success',
        type: 'success'
      })
      row.status = status
    },
    sortChange(data) {
      const { prop, order } = data
      if (prop === 'id') {
        this.sortByID(order)
      }
    },
    sortByID(order) {
      if (order === 'ascending') {
        this.listQuery.sort = '+id'
      } else {
        this.listQuery.sort = '-id'
      }
      this.handleFilter()
    },
    resetTemp() {
      this.temp = {
        id: undefined,
        importance: 1,
        remark: '',
        timestamp: new Date(),
        title: '',
        status: 'published',
        type: ''
      }
    },
    handleCreate() {
      this.resetTemp()
      this.dialogStatus = 'create'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    createData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          this.temp.id = parseInt(Math.random() * 100) + 1024 // mock a id
          this.temp.author = 'vue-element-admin'
          createArticle(this.temp).then(() => {
            this.list.unshift(this.temp)
            this.dialogFormVisible = false
            this.$notify({
              title: 'Success',
              message: 'Created Successfully',
              type: 'success',
              duration: 2000
            })
          })
        }
      })
    },
    handleUpdate(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.temp.timestamp = new Date(this.temp.timestamp)
      this.dialogStatus = 'update'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    updateData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          const tempData = Object.assign({}, this.temp)
          tempData.timestamp = +new Date(tempData.timestamp) // change Thu Nov 30 2017 16:41:05 GMT+0800 (CST) to 1512031311464
          updateArticle(tempData).then(() => {
            for (const v of this.list) {
              if (v.id === this.temp.id) {
                const index = this.list.indexOf(v)
                this.list.splice(index, 1, this.temp)
                break
              }
            }
            this.dialogFormVisible = false
            this.$notify({
              title: 'Success',
              message: 'Update Successfully',
              type: 'success',
              duration: 2000
            })
          })
        }
      })
    },
    handleDelete(row) {
      this.$notify({
        title: 'Success',
        message: 'Delete Successfully',
        type: 'success',
        duration: 2000
      })
      const index = this.list.indexOf(row)
      this.list.splice(index, 1)
    },
    handleFetchPv(pv) {
      fetchPv(pv).then(response => {
        this.pvData = response.data.pvData
        this.dialogPvVisible = true
      })
    },
   
    formatJson(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => {
        if (j === 'timestamp') {
          return parseTime(v[j])
        } else {
          return v[j]
        }
      }))
    },
    getSortClass: function(key) {
      const sort = this.listQuery.sort
      return sort === `+${key}`
        ? 'ascending'
        : sort === `-${key}`
          ? 'descending'
          : ''
    },
    //创建库存
    gocreate(){
      this.$router.push({ name: 'PurchaseCreate'})
    },
    //编辑库存
    goedit(e){
      console.log(e);
     this.$router.push({ name: 'PurchaseUpdate', params: { id: e }}) 
    },
    gosumbmit(){
      console.log(this.multipleSelection);
      this.$router.push({ name: 'PurchaseSubmit', params: { id: JSON.stringify(this.multipleSelection),storeId:this.storeId}}) 
    },
   newData(e){
      let date=new Date(e);
      let Y = date.getFullYear() +'年';
      let M = (date.getMonth() +1 <10 ?'0' + (date.getMonth() +1) : date.getMonth() +1) +'月';
      let D = date.getDate() +'日';
      let h = date.getHours() +':';
      let m = date.getMinutes() +':';
      let s = date.getSeconds();
      return Y+M+D+h+m+s;
    }
  }
}
</script>
<style scoped>
.textA{
    font-family: MicrosoftYaHeiLight;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0;
}
.mainsubmit{
    background: #f0f2f5;
    border-radius: 5px;
}
.mainsubmit .subtop{
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #cbced7;
    line-height: 50px;
}
.mainsubmit .subbottom{
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
}
</style>