<template>
  <div class="app-container">
    <el-row style="padding:15px">
      <el-col :span="2" :offset="22">
        <el-button plain v-if="checkPermission(['admin'])" type="success" @click="handleAdd()">
            添加省份
        </el-button>
      </el-col>
    </el-row>
    <el-table
      v-loading="listLoading"
      :data="list"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >
      <el-table-column align="center" label="ID">
        <template slot-scope="scope">
          {{ scope.row.id }}
        </template>
      </el-table-column>
      <el-table-column label="名称" align="center">
        <template slot-scope="scope">
          {{ scope.row.name }}
        </template>
      </el-table-column>
      <el-table-column label="编号" align="center">
        <template slot-scope="scope">
          {{ scope.row.code }}
        </template>
      </el-table-column>
      <el-table-column align="center" prop="created_at" label="最后修改日期">
        <template slot-scope="scope">
          <i class="el-icon-time" />
          <span>{{ newData(scope.row.updatedAt) }}</span>
        </template>
      </el-table-column>
        <el-table-column label="操作" width="300">
          <!-- v-permission="['admin']" -->
        <template slot-scope="scope">
          <el-button plain v-if="checkPermission(['admin'])" type="primary" @click="showCity(scope.row.id)">
            查看城市
          </el-button>
         <el-button plain v-if="checkPermission(['admin'])" type="primary" @click="handleEdit(scope.row.id)">
            编辑
          </el-button>
           <el-button plain v-if="checkPermission(['admin'])" type="danger" @click="toDelete(scope.row.id)">
            删除
          </el-button>
        </template>
      </el-table-column>
    </el-table>
     <pagination v-show="total>0"   :total="total" :page.sync="params.page" :limit.sync="params.size" @pagination="fetchData(params)" />
  </div>
</template>

<script>
import { getProvinceList ,deleteby} from '@/api/province';
import permission from '@/directive/permission/index.js' // 权限判断指令
import checkPermission from '@/utils/permission' // 权限

import Pagination from '@/components/Pagination' // secondary package based on el-pagination
export default {
  components: { Pagination },
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'gray',
        deleted: 'danger'
      }
      return statusMap[status]
    }
  },
  directives: { permission },
  data() {
    return {
      imgconst:'http://www.miaodou.club/',
      total: 0,
      params:{
        size:10,
        page:1
      },
      list: null,
      listLoading: true
    }
  },
  created() {
    this.fetchData(this.params)
  },
  methods: {
   checkPermission,
    fetchData(e) {
      this.listLoading = true
      getProvinceList(e).then(response => {
        console.log(response);
       this.list = response.data;
        this.total=response.total;
        this.listLoading = false
      })
    },
      handleCurrentChange(val) {
      this.handleEdit(val.id);
      },
      handleEdit(id) {
      this.$router.push({ name: 'provinceUpdate', params: { id: id }})
    },
    toDelete(id){
      deleteby(id).then(rs=>{
        if(rs.success==true){
        this.$message({
          message:rs.message,
          type: 'success'
        });
        this.fetchData(this.params);
        }
      }).catch((error) => {
            this.$message({
              message: error.response.data,
              type: 'warning'
            })
            this.loading = false
          })
    },
    handleAdd() {
      this.$router.push({ name: 'provinceCreate' })
    },
    newData(e){
      let date=new Date(e);
      let Y = date.getFullYear() + '年';
      let M = (date.getMonth() +1 <10 ?'0' + (date.getMonth() +1) : date.getMonth() +1) +'月';
      let D = date.getDate() + '日';
      let h = date.getHours() + ':';
      let m = date.getMinutes() + ':';
      let s = date.getSeconds();
      return Y+M+D+h+m+s;
    },
    showCity(id) {
      this.$router.push({ name: 'cityList', params:{id:id} })
    }
  }
}
</script>