<template>
  <div class="app-container">
    <el-form ref="form" :rules="categoryRules" :model="form" label-width="120px">
       <el-form-item prop="goodses" label="订单详情">
         <el-card class="box-card">
           <el-row v-for="item in form.goodses" :key="item" class="text item">
            <el-col :span="8">{{item.detail.name}}</el-col>
            <el-col :span="8">X{{item.number}}</el-col>
            <el-col :span="8">¥{{item.price}}</el-col>
          </el-row>
        </el-card>
        </el-form-item>
        <el-form-item prop="status" label="订单状态">
         <el-select filterable v-model="form.status"  placeholder="请选择" style="width: 100%">
          <el-option v-for="item in statuslist" :key="item.id" :label="item.name" :value="item.id" />
        </el-select>
      </el-form-item>
      <el-form-item prop="type" label="支付方式">
         <el-select filterable v-model="form.type"  placeholder="请选择" style="width: 100%">
          <el-option v-for="item in paymentlist" :key="item.id" :label="item.name" :value="item.id" />
        </el-select>
      </el-form-item>
       <el-form-item>
        <el-button :loading="loading" type="primary" @click="onSubmit">修改</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import Upload from '@/components/Upload/SingleImage'
import { validChoose } from '@/utils/validate'
import { create ,update,getinfo} from '@/api/order'


export default {
  components: { Upload },
  data() {
    const validateName = (rule, value, callback) => {
      console.log(validChoose(value))
      if (!validChoose(value)) {
        callback(new Error('请选择！'))
      } else {
        callback()
      }
    }
    return {
      statuslist:[
        {id:0,name:'已取消'},
         {id:-1,name:'已删除'},
          {id:2,name:'已付款'},
          {id:4,name:'未取货'},
          {id:1,name:'未付款'},
          {id:6,name:'待提货'},
          {id:8,name:'已取货'},
      ],
      paymentlist:[
        {id:1,name:'支付宝支付'},
          {id:2,name:'微信支付'},
          {id:3,name:'余额支付'},
      ],
      form: {
        status: '',
        type: '',
      },
      categoryRules: {
        status: [{ required: true, trigger: 'blur', validator: validateName }],
        type: [{ required: true, trigger: 'blur', validator: validateName }]
      },
      loading: false
    }
  },
  created(){
    this.fetch(this.$route.params.id)
  },
  methods: {
    // onUpload(data) {
    //   console.log(data)
    //   this.form.thumbnail = data
    // },
    fetch(id) {
      console.log(id)
      getinfo(id).then(response => {
        console.log(response)
        this.form = response.data
        this.loaded = true
        // console.log(this.thumbnail)
      })
    },
    onSubmit() {
      this.$refs.form.validate(valid => {
        if (valid) {
          this.loading = true
          update(this.form,this.$route.params.id).then(response => {
            this.loading = false
            this.$router.push({ path: '/order/list' })
          }).catch((error) => {
            this.$message({
              message: error.response.data.errors.name,
              type: 'warning'
            })
            this.loading = false
          })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    }
  }
}
</script>

<style scoped>
.line{
  text-align: center;
}
</style>

