<template>
  <div class="app-container">
     
    <div class="filter-container">
       <!-- <el-col :span="5" >
      <el-select :disabled="isDisabled" filterable v-model="storeId"  @change="getLists" style="width: 100%">
          <el-option v-for="item in stores" :key="item.id" :label="item.name" :value="item.id" />
        </el-select>
      </el-col>
      <el-col :span="5" style="margin-left: 1vw;">
        <el-autocomplete
          v-model="listQuery.title"
          clearable
          :fetch-suggestions="querySearchAsync"
          placeholder="商品名称"
          @select="handleSelect"
           
          @input="valueIsNo"
        ></el-autocomplete>
       
      </el-col>     -->
      <!-- <el-input v-model="listQuery.title" placeholder="输入货号/商品名称" style="width: 200px;" class="filter-item" @keyup.enter.native="handleFilter" /> -->
      <!-- <el-select filterable v-model="listQuery.importance" placeholder="全部分类" clearable style="width: 120px" class="filter-item">
        <el-option v-for="item in importanceOptions" :key="item" :label="item" :value="item" />
      </el-select>
      <el-select filterable v-model="listQuery.type" placeholder="商品标签" clearable class="filter-item" style="width: 130px">
        <el-option v-for="item in calendarTypeOptions" :key="item.key" :label="item.display_name+'('+item.key+')'" :value="item.key" />
      </el-select> -->
      <!-- <el-select filterable v-model="listQuery.sort" style="width: 140px" class="filter-item" @change="handleFilter">
        <el-option v-for="item in sortOptions" :key="item.key" :label="item.label" :value="item.key" />
      </el-select> -->
      <!-- <el-button v-waves class="filter-item" icon="el-icon-search" @click="handleFilter">
        仅显示缺货
      </el-button> -->
        <!-- <el-button v-waves class="filter-item" style="padding: 8px 20px;" >
          <el-checkbox v-model="showReviewer" class="filter-item" style="margin-bottom:0;font-weight: normal;" @change="tableKey=tableKey+1">
         仅显示缺货
      </el-checkbox>  
      </el-button>
         <el-button v-waves class="filter-item" style="padding: 8px 20px;" >
          <el-checkbox v-model="showReviewer" class="filter-item" style="margin-bottom:0;font-weight: normal;" @change="tableKey=tableKey+1">
         活动商品
      </el-checkbox>  
      </el-button> -->
     
      <!-- <el-button v-waves :loading="downloadLoading" class="filter-item" >
        重置筛选
      </el-button> -->
      <!-- <el-checkbox v-model="showReviewer" class="filter-item" style="margin-left:15px;" @change="tableKey=tableKey+1">
        reviewer
      </el-checkbox> -->
     <!-- <el-badge   style="float:right"  class="item">
  <el-button type="primary" plain size="small">历史订单</el-button>
</el-badge> -->
      
    </div>
  <div  class="filter-container">
<!-- <el-button-group>
  <el-button  >全选缺货</el-button>
  <el-button >取消</el-button>
</el-button-group>
<el-button-group>
  <el-button >全选推荐</el-button>
  <el-button >取消</el-button>
</el-button-group>
<span>
  重置选择
</span> -->
<!-- <el-badge :value="chossenumber"  style="float:right"  class="item">
  <el-button type="success" plain size="small">提交货单</el-button>
</el-badge> -->
<el-badge  style="float:right;"  v-if='canedit'  class="item">
  <el-button type="primary" plain @click="chosesatuse()" size="small">编辑完成</el-button>
</el-badge>
<!-- <el-badge  style="float:right;"  v-else  class="item">
  <el-button type="primary" plain @click="chosesatuse()" size="small">编辑货单</el-button>
</el-badge> -->
<el-badge  style="float:right; margin-right:20px;"   class="item">
  <el-button type="primary" plain @click="gocreate()" size="small">提交货单</el-button>
</el-badge>

  
  </div>
  <div class="filter-container" style="margin-top:30px;">
    <div class="mainsubmit">
       <div class="subtop">
<div>出货品类:<span style="font-weight:800;">{{list.length}}</span></div>
<div>订单日期:<span>{{newData(timeOfDay)}}</span></div>
       </div>
   
    <div class="subbottom">
<div>货单状态：待提交</div>
<div>店铺：{{storeName}}</div>
    </div>
     </div>
  </div>
    <el-table
      ref="multipleTable"
    :data="tablelist"
    tooltip-effect="dark"
    style="width: 100%"
    @selection-change="handleSelectionChange"
    >
   
      
      <el-table-column label="商品编号" prop="id" align="center" width="130" :class-name="getSortClass('id')">
        <template slot-scope="{row}">
          <span>{{ row.id }}</span>
        </template>
      </el-table-column>
      <el-table-column label="商品全称" align="center">
        <template slot-scope="{row}">
          <span>{{ row.goods.name }}</span>
        </template>
      </el-table-column>
      <!-- sortable="custom" -->
      <el-table-column label="货品单价" prop="id"  align="center" >
        <template slot-scope="{row}">
           <span>{{ row.goods.price }}</span>
        </template>
      </el-table-column>
      <!-- <el-table-column label="货品规格" width="110px" align="center">
        <template slot-scope="{row}">
            <el-popover
            v-if="row.goods.specification.length!=0&&row.goods.specification"
            placement="top"
            trigger="hover">
            <div
            style="
            width: 400px; 
            height: 400px;
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex-box;
            display:flex;
            -webkit-box-align:center;
            -ms-flex-align:center;
            align-items:center;
            -webkit-box-pack:center;
            -ms-flex-pack:center;
            justify-content:center;
            text-align:center;
            ">
                <img style="max-width: 100%; max-height: 100%;" :src="row.goods.specification[0].url" alt="" srcset="">
            </div>
            <img  slot="reference" style="width: 80px; height: 80px;" :src="row.goods.specification[0].url" alt="" srcset="">
          </el-popover>
        </template>
      </el-table-column> -->
      <!-- <el-table-column v-if="showReviewer" label="Reviewer" width="110px" align="center">
        <template slot-scope="{row}">
          <span style="color:red;">{{ row.reviewer }}</span>
        </template>
      </el-table-column> -->
      <el-table-column label="当前库存" prop="number"  align="center"  >
        <template slot-scope="{row}">
          <span>{{ row.number }}</span>
        </template>
      </el-table-column>
      <!-- <el-table-column label="本周销量" prop="id" sortable="custom" align="center"  width="130">
        <template slot-scope="{row}">
          <span v-if="row.pageviews" class="link-type" @click="handleFetchPv(row.pageviews)">{{ row.pageviews }}</span>
          <span v-else>0</span>
        </template>
      </el-table-column> -->
      <el-table-column label="出库数量" prop="id" sortable="custom" class-name="status-col" align="center"  >
        <template slot-scope="{row}">
         <!-- <el-input-number v-if="canedit" v-model="row.__v" @change="handleChange" size="mini" :min="1"  label=""></el-input-number> -->
       <span>{{row.__v}}</span>
        </template>
      </el-table-column>
       <el-table-column align="center" v-if="canedit" label="操作">
        <template slot-scope="scope">
        
           <el-button plain v-if="checkPermission(['admin','manager'])" type="danger" @click="toDelete(scope.row.id)">
            删除
          </el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page-sizes="[50, 100,]"  :page.sync="listQuery.page" :limit.sync="listQuery.size" @pagination="getLists" />

    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible">
      <el-form ref="dataForm" :rules="rules" :model="temp" label-position="left" label-width="70px" style="width: 400px; margin-left:50px;">
        <el-form-item label="Type" prop="type">
          <el-select filterable v-model="temp.type" class="filter-item" placeholder="Please select">
            <el-option v-for="item in calendarTypeOptions" :key="item.key" :label="item.display_name" :value="item.key" />
          </el-select>
        </el-form-item>
        <el-form-item label="Date" prop="timestamp">
          <el-date-picker v-model="temp.timestamp" type="datetime" placeholder="Please pick a date" />
        </el-form-item>
        <el-form-item label="Title" prop="title">
          <el-input v-model="temp.title" />
        </el-form-item>
        <el-form-item label="Status">
          <el-select filterable v-model="temp.status" class="filter-item" placeholder="Please select">
            <el-option v-for="item in statusOptions" :key="item" :label="item" :value="item" />
          </el-select>
        </el-form-item>
        <el-form-item label="Imp">
          <el-rate v-model="temp.importance" :colors="['#99A9BF', '#F7BA2A', '#FF9900']" :max="3" style="margin-top:8px;" />
        </el-form-item>
        <el-form-item label="Remark">
          <el-input v-model="temp.remark" :autosize="{ minRows: 2, maxRows: 4}" type="textarea" placeholder="Please input" />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">
          Cancel
        </el-button>
        <el-button type="primary" @click="dialogStatus==='create'?createData():updateData()">
          Confirm
        </el-button>
      </div>
    </el-dialog>

    <el-dialog :visible.sync="dialogPvVisible" title="Reading statistics">
      <el-table :data="pvData" border fit highlight-current-row style="width: 100%">
        <el-table-column prop="key" label="Channel" />
        <el-table-column prop="pv" label="Pv" />
      </el-table>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="dialogPvVisible = false">Confirm</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="提示"
      :visible.sync="dialogVisible"
      width="30%"
      :before-close="handleClose">
      <span>确认出库?</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="ConfirmedOutBound">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { getRoles } from '@/utils/getCookiesData'
import {fetStockInfo,fetchPv, createArticle, updateArticle ,findtype} from '@/api/article'
import {getpurchaseList,deleteby,serchbysingle,createOutbound,confirmedOutbound } from '@/api/purchaseApi';
import waves from '@/directive/waves' // waves directive
import { parseTime } from '@/utils'
import { getList,getStoreInfo} from '@/api/store'
import Pagination from '@/components/Pagination' // secondary package based on el-pagination
// eslint-disable-next-line no-unused-vars
import Cookies from 'js-cookie'
import checkPermission from '@/utils/permission'
import { date } from 'jszip/lib/defaults';

const calendarTypeOptions = [
  { key: 'CN', display_name: 'China' },
  { key: 'US', display_name: 'USA' },
  { key: 'JP', display_name: 'Japan' },
  { key: 'EU', display_name: 'Eurozone' }
]

// arr to obj, such as { CN : "China", US : "USA" }
const calendarTypeKeyValue = calendarTypeOptions.reduce((acc, cur) => {
  acc[cur.key] = cur.display_name
  return acc
}, {})
export default {
  components: { Pagination },
  name: 'purchase',
  directives: { waves },
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'info',
        deleted: 'danger'
      }
      return statusMap[status]
    },
    typeFilter(type) {
      return calendarTypeKeyValue[type]
    }
  },
  data() {
    return {
      storeName:'',
      timeOfDay: '',
      confirmId:'',
      dialogVisible: false,
      canedit:false,
      checkfalse:false,
      allOrder:'',
      storeId:'',
      stores:[],
      infoid:null,
      tableKey: 0,
      list: [],
      total: 0,
      tablelist:[],
      listLoading: true,
      chossenumber:'',
      listQuery: {
        page: 1,
        size: 50,
        importance: undefined,
        title: undefined,
        type: undefined,
        sort: '+id'
      },
      typeQuery:{
     parentId:'',
     size:10,
      page:1
      },
       multipleSelection: [],
      importanceOptions: [1, 2, 3],
      calendarTypeOptions,
      sortOptions: [{ label: 'ID Ascending', key: '+id' }, { label: 'ID Descending', key: '-id' }],
      statusOptions: ['published', 'draft', 'deleted'],
      showReviewer: true,
      temp: {
        id: undefined,
        importance: 1,
        remark: '',
        timestamp: new Date(),
        title: '',
        type: '',
        status: 'published'
      },
      dialogFormVisible: false,
      dialogStatus: '',
      textMap: {
        update: 'Edit',
        create: 'Create'
      },
      dialogPvVisible: false,
      pvData: [],
      rules: {
        type: [{ required: true, message: 'type is required', trigger: 'change' }],
        timestamp: [{ type: 'date', required: true, message: 'timestamp is required', trigger: 'change' }],
        title: [{ required: true, message: 'title is required', trigger: 'blur' }]
      },
      downloadLoading: false,
      isDisabled:true
    }
  },
  created() {
    this.timeOfDay = new Date();
    this.storeId = this.$route.params.storeId;
    getStoreInfo(this.storeId).then(res=>{
      console.log(res.data.name);
      this.storeName = res.data.name
    });
    if(getRoles() === 'admin'){
      this.isDisabled = false
    }
    this.tablelist=JSON.parse(this.$route.params.id);
    //console.log(list);
    console.log(JSON.parse(this.$route.params.id));

 for(let item of this.tablelist){
      if(item.goods){
       this.list.push({
        goodsId:item.goods.id,
        number:item.__v
      })
      }
    }
   
      console.log(this.list);
    
    // console.log(this.listQuery);
    // getList(this.listQuery).then(e=>{
    //   this.stores=e.data;
    //   console.log("店铺筛选");
    //   console.log(this.stores);
    //   this.getLists()
    // })
      // this.listLoading = false
    //  this.getLists();
  },
  methods: {
    handleClose() {
      console.log("close")
    },
    ConfirmedOutBound() {
      console.log(this.confirmId);
      confirmedOutbound(this.confirmId).then(e=>{
        if(e.success === true){
          this.dialogVisible = false
          this.$message({
            message: e.message,
            type: 'success'
          })
        }
      })
    },
    querySearchAsync(queryString, cb){
      var allOrder = this.list;
      for (let i of allOrder) {
        if(i.goods.name!=undefined){
          i.value = i.goods.name
        }
      }
      console.log(allOrder)
      var results = queryString ? allOrder.filter(this.createStateFilter(queryString)) : allOrder
      cb(results)
    },
    createStateFilter(queryString) {
      return (state) => {
        return (state.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0)
      }
    },
    handleSelect(item){
      this.list.forEach(e=>{
        if(e.id === item.id){
          this.list = []
          this.list.push(e)
        }
      })
    },
    selectbyserch(item){
     console.log(item);
     serchbysingle(this.storeId,item).then(rs=>{
      console.log(rs);
     });
    },
    valueIsNo(value){
      if(value === ''){
        this.getLists()
      }
    },
    //筛选方法集
     //设置表头行的样式
   checkPermission,
    //获取库存信息
   // getstockinfo(e){
    //  console.log("打印参数");
    //  console.log(e);
//fetStockInfo(e).then(rs=>{
  //console.log("返回值");
  //console.log(rs);
//})
  //  },
     handleChange(val){
      console.log(val);
    },
     toggleSelection(rows) {
       console.log(rows);
        if (rows) {
          rows.forEach(row => {
            this.$refs.multipleTable.toggleRowSelection(row);
          });
        } else {
          this.$refs.multipleTable.clearSelection();
        }
      },
     handleSelectionChange(val) {
       console.log(val)
       this.chossenumber=val.length;
    //  toggleSelection([val[1]])
        this.multipleSelection = val;
      },
    //获取列表
    getLists() {
      this.listLoading = true
      getpurchaseList(this.storeId,this.listQuery).then(response => {
        this.list = response.data
        this.allOrder = response.data
        this.total = response.total
  // this.listLoading = false
        // Just to simulate the time of the request
        setTimeout(() => {
          this.listLoading = false
        }, 1.5 * 1000)
      })
    },
    //获取分类
    getType(){
 findtype(this.listQuery).then(response => {
       console.log(response);
      })
    },
    handleFilter() {
      console.log(this.listQuery.title);
      let arr = [];
      if(this.listQuery.title){
// for(let item of this.list){
//         if(this.)
//       }
      }
      
    },
     toDelete(id){
      deleteby(id).then(rs=>{
        if(rs.success==true){
        this.$message({
          message:rs.message,
          type: 'success'
        });
         this.getLists();
        }
      }).catch((error) => {
            this.$message({
              message: error.response.data.errors.name,
              type: 'warning'
            })
            this.loading = false
          })
    },
    handleModifyStatus(row, status) {
      this.$message({
        message: '操作Success',
        type: 'success'
      })
      row.status = status
    },
    sortChange(data) {
      const { prop, order } = data
      if (prop === 'id') {
        this.sortByID(order)
      }
    },
    sortByID(order) {
      if (order === 'ascending') {
        this.listQuery.sort = '+id'
      } else {
        this.listQuery.sort = '-id'
      }
      this.handleFilter()
    },
    resetTemp() {
      this.temp = {
        id: undefined,
        importance: 1,
        remark: '',
        timestamp: new Date(),
        title: '',
        status: 'published',
        type: ''
      }
    },
    handleCreate() {
      this.resetTemp()
      this.dialogStatus = 'create'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    createData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          this.temp.id = parseInt(Math.random() * 100) + 1024 // mock a id
          this.temp.author = 'vue-element-admin'
          createArticle(this.temp).then(() => {
            this.list.unshift(this.temp)
            this.dialogFormVisible = false
            this.$notify({
              title: 'Success',
              message: 'Created Successfully',
              type: 'success',
              duration: 2000
            })
          })
        }
      })
    },
    handleUpdate(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.temp.timestamp = new Date(this.temp.timestamp)
      this.dialogStatus = 'update'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    updateData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          const tempData = Object.assign({}, this.temp)
          tempData.timestamp = +new Date(tempData.timestamp) // change Thu Nov 30 2017 16:41:05 GMT+0800 (CST) to 1512031311464
          updateArticle(tempData).then(() => {
            for (const v of this.list) {
              if (v.id === this.temp.id) {
                const index = this.list.indexOf(v)
                this.list.splice(index, 1, this.temp)
                break
              }
            }
            this.dialogFormVisible = false
            this.$notify({
              title: 'Success',
              message: 'Update Successfully',
              type: 'success',
              duration: 2000
            })
          })
        }
      })
    },
    handleDelete(row) {
      this.$notify({
        title: 'Success',
        message: 'Delete Successfully',
        type: 'success',
        duration: 2000
      })
      const index = this.list.indexOf(row)
      this.list.splice(index, 1)
    },
    handleFetchPv(pv) {
      fetchPv(pv).then(response => {
        this.pvData = response.data.pvData
        this.dialogPvVisible = true
      })
    },
   
    formatJson(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => {
        if (j === 'timestamp') {
          return parseTime(v[j])
        } else {
          return v[j]
        }
      }))
    },
    getSortClass: function(key) {
      const sort = this.listQuery.sort
      return sort === `+${key}`
        ? 'ascending'
        : sort === `-${key}`
          ? 'descending'
          : ''
    },
    //创建库存
    gocreate(){
      
      let data={
        'storeId':this.storeId,
        'detail':this.list,
      }
      console.log(data);
        createOutbound(data).then(res=>{
        if(res.success === true){
         this.confirmId = res.data.id
         this.dialogVisible = true
        }
});
      //this.$router.push({ name: 'PurchaseCreate'})
    },
    //编辑库存
    goedit(e){
      console.log(e);
     this.$router.push({ name: 'PurchaseUpdate', params: { id: e }}) 
    },
    chosesatuse(){
        this.canedit=!this.canedit;
    },
    newData(e){
      let date=new Date(e);
      let Y = date.getFullYear() +'年';
      let M = (date.getMonth() +1 <10 ?'0' + (date.getMonth() +1) : date.getMonth() +1) +'月';
      let D = date.getDate() +'日';
      let h = date.getHours() +':';
      let m = date.getMinutes() +':';
      let s = date.getSeconds();
      return Y+M+D+h+m+s;
    }
   
  }
}
</script>
<style scoped>
.mainsubmit{
    background: #f0f2f5;
    border-radius: 5px;
}
.mainsubmit .subtop{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #cbced7;
    line-height: 50px;
}
.mainsubmit .subbottom{
     padding: 10px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
}
.subbottom_r{
  display: inline;
}
</style>