<template>
  <div class="app-container">
    <el-form ref="form" :rules="tagRules" :model="form" label-width="120px">
         <el-row>
        <el-col >
   <el-form-item prop="storeId" label="店铺">
        <el-select :disabled='true'  filterable v-model="form.storeId"  placeholder="请选择" style="width: 100%">
          <el-option v-for="item in store" :key="item.id" :label="item.name" :value="item.id" />
        </el-select>
      </el-form-item>
        </el-col>
         </el-row>
        <el-row>
        <el-col >
   <el-form-item prop="goodsId" label="商品">
        <el-select :disabled='true'  filterable v-model="form.goodsId"  placeholder="请选择" style="width: 100%">
          <el-option v-for="item in goods" :key="item.id" :label="item.name" :value="item.id" />
        </el-select>
      </el-form-item>
        </el-col>
         </el-row>
        <el-row>
        <el-col >
  <el-form-item prop="number" label="数量">
        <el-input v-model="form.number" />
      </el-form-item>
        </el-col>
         </el-row>
      <el-form-item>
        <el-button :loading="loading" type="primary" @click="onSubmit">修改</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { validEmpty } from '@/utils/validate'
import {getgoodsList,getstoreList,updatepurchase,purchaseinfo} from '@/api/purchaseApi';

export default {
  data() {
    const validateGoods = (rule, value, callback) => {
        console.log(value);
      if (!validEmpty(value)) {
        callback(new Error('请选择商品！'))
      } else {
        callback()
      }
    }
     const validateStore= (rule, value, callback) => {
        console.log(value);
      if (!validEmpty(value)) {
        callback(new Error('请选择店铺！'))
      } else {
        callback()
      }
    }
     const validateNumber = (rule, value, callback) => {
        console.log(value);
      if (!value) {
        callback(new Error('请输入数量！'))
      } else {
        callback()
      }
    }
    return {
        id:'',
         params:{
        size:1000,
        page:1
      },
        store:[],
        goods:[],
      form: {
       goodsId:'',
       storeId:'',
        number: '',
      },
      tagRules: {
        goodsId: [{ required: true, trigger: 'blur', validator: validateGoods }],
        storeId: [{ required: true, trigger: 'blur', validator: validateStore }],
        number: [{ required: true, trigger: 'blur', validator: validateNumber }]
      },
      loading: false
    }
  },
  created(){
    console.log("接收参数");
    console.log(this.$route.params);
      this.id=this.$route.params.id;
      purchaseinfo(this.id).then(rs=>{
        if(rs.success==true){
  this.form=rs.data
  // this.storeId=this.form.storeId;
      }else{
           this.$message({
              message: "网络异常，获取店铺信息失败",
              type: 'warning'
            })
      }
      })
//获取商品
getgoodsList(this.params).then(rs=>{
      if(rs.success==true){
  this.goods=rs.data
      }else{
           this.$message({
              message: "网络异常，获取店铺信息失败",
              type: 'warning'
            })
      }
  });
  getstoreList(this.params).then(rs=>{
      if(rs.success==true){
  this.store=rs.data
      }else{
           this.$message({
              message: "网络异常，获取店铺信息失败",
              type: 'warning'
            })
      }
  });
  },
  methods: {
    onSubmit() {
      this.$refs.form.validate(valid => {
        console.log(valid);
        if (valid) {
          this.loading = true
          updatepurchase(this.form,this.id).then(response => {
            if(response.success==true){
                   this.$message({
          message:response.message,
          type: 'success'
        });
         this.loading = false
            this.$router.push({ path: '/stock/purchase' })
              }
          }).catch((error) => {
            this.$message({
              message: error.response.data.errors.name,
              type: 'warning'
            })
            this.loading = false
          })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    }
  }
}
</script>

<style scoped>
.line{
  text-align: center;
}
</style>

