<template>
  <div class="app-container">
     <el-row type="flex" style="padding:15px;" justify="space-between">
       <el-col :span="2" >
      
      </el-col>  
      <el-col :span="3"  style="text-align: right;">
        <el-button  plain  type="success" @click="handleAdd()">
            添加艺人
        </el-button>
      </el-col>
    </el-row>
    <el-table
      v-loading="listLoading"
      :data="list"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >
      <el-table-column align="center" label="ID">
        <template slot-scope="scope">
          {{ scope.row.artistId }}
        </template>
      </el-table-column>
      <el-table-column label="用户名" align="center">
        <template slot-scope="scope">
          {{ scope.row.artistName }}
        </template>
      </el-table-column>
      <!-- <el-table-column label="手机号" align="center">
        <template slot-scope="scope">
          <span>{{ scope.row.mobile }}</span>
        </template>
      </el-table-column> -->
 <el-table-column label="状态" align="center">
        <template slot-scope="scope">
          <span>{{ scope.row.artistStatus==1?'启用': '禁用'}}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" prop="cTime" label="创建日期">
        <template slot-scope="scope">
          <i class="el-icon-time" />
          <span>{{ scope.row.cTime  }}</span>
        </template>
      </el-table-column>
       <el-table-column label="操作">
        <template slot-scope="scope">
         <!-- <el-button plain v-if="checkPermission(['admin'])" type="primary" @click="handleEdit(scope.row.id)">
            编辑
          </el-button> -->
           <el-button plain  type="danger" @click="toDelete(scope.row.artistId)">
            删除
          </el-button>
        </template>
      </el-table-column>
    </el-table>
     <pagination v-show="total>0"   :total="total" :page.sync="params.page" :limit.sync="params.size" @pagination="fetchData(params)" />
  </div>
</template>

<script>
import { getList ,deleteby} from '@/api/getuser'
import permission from '@/directive/permission/index.js' // 权限判断指令
import checkPermission from '@/utils/permission' // 权限
import Cookies from 'js-cookie'
let  token=JSON.parse(Cookies.get('userinfo'));
import Pagination from '@/components/Pagination' // secondary package based on el-pagination
export default {
  components: { Pagination },
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'gray',
        deleted: 'danger'
      }
      return statusMap[status]
    }
  },
  directives: { permission },
  data() {
    return {
       total: 0,
      params:{
        size:10,
        page:1
      },
      list: null,
      listLoading: true
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
    checkPermission,
    fetchData() {
      this.listLoading = true
      getList(this.params,token).then(response => {
        console.log(response)
        this.list = response.data;
        this.total=response.total;
        this.listLoading = false
      })
    },
     handleCurrentChange(val) {
      console.log(val);
      this.handleEdit(val.id);
      },
      handleEdit(id) {
      console.log(id)
      this.$router.push({ name: 'UserEdit', params: { id: id }})
    },
    toDelete(id){
      deleteby(id,token).then(rs=>{
        if(rs.success==true){
        this.$message({
          message:rs.message,
          type: 'success'
        });
         this.fetchData(this.params);
        }
      }).catch((error) => {
            this.$message({
              message: error.response.data.errors.name,
              type: 'warning'
            })
            this.loading = false
          })
    },
    handleAdd() {
      this.$router.push({ path: '../user/create' })
    },
    newData(e){
      let date=new Date(e);
      let Y = date.getFullYear() +'年';
      let M = (date.getMonth() +1 <10 ?'0' + (date.getMonth() +1) : date.getMonth() +1) +'月';
      let D = date.getDate() +'日';
      let h = date.getHours() +':';
      let m = date.getMinutes() +':';
      let s = date.getSeconds();
      return Y+M+D+h+m+s;
    }
  
  }
}
</script>
