<template>
  <div class="app-container">
    <el-form ref="form" :rules="tagRules" :model="form" label-width="120px">
      <el-form-item prop="name" label="名称">
        <el-input v-model="form.name" />
      </el-form-item>
        <el-form-item prop="mobile" label="电话">
        <el-input v-model="form.mobile" />
      </el-form-item>
      <el-form-item prop="status" label="状态">
        <el-select     style="width: 100%"  v-model="form.status">
          <el-option v-for="item in statuslist" :key="item.id" :label="item.name" :value="item.id" />
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button :loading="loading" type="primary" @click="onSubmit">保存</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { validEmpty } from '@/utils/validate'
import {create,getuserinfo } from '@/api/getuser'
import Cookies from 'js-cookie'
let  token=JSON.parse(Cookies.get('userinfo'));
export default {
  data() {
    const validateName = (rule, value, callback) => {
      if (!validEmpty(value)) {
        callback(new Error('请输入名称！'))
      } else {
        callback()
      }
    }
    return {
    //接收标签id查询回显
    id:'',
      form: {
        
        name: '',
        mobile: '',
        status:0
      },
      statuslist:[
          {'id':0,
            'name':'禁用'},
             {'id':1,
            'name':'启用'},
      ],
      tagRules: {
        name: [{ required: true, trigger: 'blur', validator: validateName }]
      },
      loading: false
    }
  },
  created(){
// console.log(this.$route.params);
// this.id=this.$route.params.id;
// this.getInfo(this.id)
  },
  methods: {
       getInfo(e){
getuserinfo(e,token).then(res=>{
    console.log("回显");
    console.log(res);
    if(res.success==true){
 this.form=res.data
    }else{

    }
   
})
       },
    onSubmit() {
      this.$refs.form.validate(valid => {
        console.log("参数")
        console.log(valid);
        if (valid) {
          this.loading = true
          create(this.form,token).then(response => {
              if(response.msg==true){
                   this.$message({
          message:response.message,
          type: 'success'
        });
         this.loading = false
            this.$router.push({ path: '/tag/list' })
              }
           
          }).catch((error) => {
            this.$message({
              message: error.message,
              type: 'warning'
            })
            this.loading = false
          })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    }
  }
}
</script>

<style scoped>
.line{
  text-align: center;
}
</style>

