<template>
  <div class="app-container">
    <el-form ref="form" :rules="operationRules" :model="form" label-width="120px">
       <el-form-item prop="goodses" label="订单详情">
          <el-card class="box-card" style="width:60vw">
           <el-row v-for="(item,index) in orderInfo.goodses" :key="index" class="text item">
            <el-col :span="8">{{item.detail.name}}</el-col>
            <el-col :span="8">X{{item.number}}</el-col>
            <el-col :span="8">¥{{item.price}}</el-col>
          </el-row>
        </el-card>
         </el-form-item>
        <el-form-item prop="goodses" label="支付方式">
        <el-row class="text item">
            <el-col :span="8">{{orderInfo.type == 1?"支付宝支付":(orderInfo.type == 2?"微信支付":(orderInfo.type == 3?"余额支付":""))}}</el-col>
        </el-row>
      </el-form-item>
      <el-form-item prop="managerId" label="管理员ID">
        <el-select filterable v-model="form.managerId"  placeholder="请选择" style="width: 100%">
          <el-option v-for="item in managerlist" :key="item.id" :label="item.username" :value="item.id" />
        </el-select>
      </el-form-item>
      <el-form-item prop="storeId" label="店铺">
         <el-select filterable v-model="storeId"  placeholder="请选择" style="width: 100%">
          <el-option v-for="item in storelist" :key="item.id" :label="item.name" :value="item.id" />
        </el-select>
      </el-form-item>
      <el-form-item :disabled="true" prop="orderId" label="订单ID">
         <el-select  :disabled="true" filterable v-model="form.orderId"  placeholder="请选择" style="width: 100%" @change="changeOrderId">
          <el-option v-for="item in orderlist" :key="item.id" :label="item.name" :value="item.id" />
        </el-select>
      </el-form-item>
      <el-form-item prop="status" label="订单状态">
         <el-select  filterable v-model="form.status"  placeholder="请选择" style="width: 100%">
          <el-option v-for="item in statuslist" :key="item.id" :label="item.name" :value="item.id" />
        </el-select>
      </el-form-item>
      <el-form-item prop="message" label="记录描述">
        <el-input v-model="form.message" type="textarea" />
      </el-form-item>
      <el-form-item>
        <el-button :loading="loading" type="primary" @click="onSubmit">保存</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { validEmpty } from '@/utils/validate'
import { getManagerList } from '@/api/operation'
import { modify, get } from '@/api/operation'
import { getList } from '@/api/store'
import { getinfo, getListByPagination } from '@/api/order'
import { getStoreInfo } from '@/api/store'
import Cookies from 'js-cookie'
import checkManagerPermission from '@/utils/checkmanager'
import checkPermission from '@/utils/permission' 
export default {
 data() {
    const validateName = (rule, value, callback) => {
      console.log(value)
      if (!validEmpty(value)) {
        callback(new Error('请输入！'))
      } else {
        callback()
      }
    }
    return {
      statuslist:[
        {id:0,name:'已取消'},
        {id:-1,name:'已删除'},
        {id:2,name:'已付款'},
        {id:4,name:'未取货'},
        {id:1,name:'未付款'},
        {id:6,name:'待提货'},
        {id:8,name:'已取货'},
      ],
      params:{
        size:10000,
        page:1
      },
      orderInfo:'',
      managerlist:[],
      storelist:[],
      storeId:'',
      orderlist:[],
      form: {
        managerId: '',
        orderId: '',
        status: '',
        message: ''
      },
      operationRules: {
        managerId:[{ required: true, trigger: 'blur', validator: validateName }],
        orderId:[{ required: true, trigger: 'blur', validator: validateName }],
        message:[{ required: true, trigger: 'blur', validator: validateName }]
      },
      loading: false
    }
  },
  created() {
    
    this.fetch(this.$route.params.id)
    
  },
  methods: {
    changeOrderId(value){
      if(value){
        this.orderlist.forEach(item=>{
          if(item.id === value){
            this.form.status = item.status
          }
        })
      }
    },
    checkPermission,
    checkmanager(){
      if(checkManagerPermission(['manager'])){
       //店长 
        this.form.managerId = JSON.parse(Cookies.get('userinfo')).id
     console.log(JSON.parse(Cookies.get('userinfo')));  
      }
    },
   
    fetch(id) {
      if(checkPermission(['admin'])){
 getManagerList().then(res=>{
        this.managerlist = res.data
        
      })}
       getList(this.params).then(e=>{
        this.storelist=e.data;
      })
      get(id).then(response => {
        this.form = response.data
        this.loaded = true

        this.checkmanager();
        this.thumbnail = response.data.thumbnail
        getinfo(response.data.orderId).then(res=>{
          this.orderInfo = res.data
          getStoreInfo(res.data.storeId).then(resp=>{
            this.storeId = resp.data.id
            getListByPagination(resp.data.id,1000000, 1).then(e => {
              this.orderlist = e.data
            })
          })

        })
      })
    },
    onUpload(data) {
      this.form.thumbnail = data
    },
    onSubmit() {
      // this.form.thumbnail = Object.values(this.thumbnail)
      // this.form.detail = Object.values(this.detail)
      // this.form.specification = Object.values(this.specification)
      // this.form.other = Object.values(this.other)
      this.$refs.form.validate(valid => {
        if (valid) {
          this.loading = true
          modify(this.form, this.$route.params.id).then(response => {
            this.loading = false
            this.$router.push({ path: '/operation/list' })
          }).catch((error) => {
            this.$message({
              message: error.response.data,
              type: 'warning'
            })
            this.loading = false
          })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
  }
}
</script>

<style scoped>
.line{
  text-align: center;
}
</style>

