<template>
  <div class="app-container">
    <el-form ref="form" :model="form" label-width="120px">
      <el-form-item label="手机号码">
        <el-input v-model="data.user.mobile" />
      </el-form-item>
      <el-form-item label="订单号">
        <el-input v-model="data.number" />
      </el-form-item>
      <el-form-item label="充值时间">
        <el-input v-model="data.updatedAt" />
      </el-form-item>
      <el-form-item label="充值金额">
        <el-input v-model="data.total" />
      </el-form-item>
      <el-form-item label="礼品列表">
        <el-row>
          <el-col :span="7">
          <el-select v-model="form.giftList" placeholder="请选择礼品" style="width: 300px;">
            <el-option label="储值300元（2斤洪家鸡蛋）" value="2斤洪家鸡蛋" />
            <el-option label="储值500元（西王900ml玉米油一桶）" value="西王900ml玉米油一桶" />
            <el-option label="储值500元（防疫口罩7枚）" value="防疫口罩7枚" />
            <el-option label="储值500元后转发朋友圈（防疫口罩3枚）" value="防疫口罩3枚" />
            <el-option label="储值800元（原瓶进口红酒两瓶）" value="原瓶进口红酒两瓶" />
            <el-option label="储值1200元（出口乳胶枕一个）" value="出口乳胶枕一个" />
            <el-option label="储值2000元（德国进口刀具一套）" value="德国进口刀具一套" />
          </el-select>
          </el-col>
          <el-col :span="4">
            <el-button type="primary" @click="add">添加</el-button>
          </el-col>
        </el-row>
        
      </el-form-item>

      <el-form-item label="兑换礼品">
        <el-input v-model="form.gift" :rows="10" type="textarea" />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="onSubmit">保存</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>


<script>
import { get, post } from '@/api/change'

export default {
  data() {
    return {
      orderId: '',
      data: {},
      form: {
        giftList: '',
        gift: '',
        orderId: '',
        userId: ''
      }
    }
  },
  created() {
    console.log(this.$route.params.id)
    this.orderId = this.$route.params.id
    this.fetch(this.$route.params.id)
  },
  methods: {
    fetch(id) {
      console.log(id)
      get(id).then(response => {
        console.log(response)
        this.data = response.data
        this.loaded = true
        this.form.orderId = this.data.id
        this.form.userId = this.data.userId
        this.form.gift = this.data.gift
      })
    },
    add() {
      console.log(this.form.giftList)
      this.form.gift += this.form.giftList + '\r\n';
    },
    onSubmit() {
      if (this.form.gift) {
        post(this.form).then(response => {
          this.loading = false
          this.$router.push({ path: '/change/search' })
        }).catch((error) => {
          this.$message({
            message: error.response.data.errors.name,
            type: 'warning'
          })
          this.loading = false
        })
      }
      else {
        this.$message({
          message: '请选择礼品！',
          type: 'warning'
        })
      }
      
    },
    onCancel() {
      this.$message({
        message: 'cancel!',
        type: 'warning'
      })
    }
  }
}
</script>

<style scoped>
.line{
  text-align: center;
}
</style>

