<template>
  <div class="login-container">
    <el-form ref="loginForm" :model="loginForm" :rules="loginRules" class="login-form" autocomplete="on" label-position="left">

      <div class="title-container">
        <h3 class="title">象幕MCN后台管理系统管理系统</h3>
      </div>

      <el-form-item prop="username">
        <span class="svg-container">
          <svg-icon icon-class="user" />
        </span>
        <el-input
          ref="username"
          v-model="loginForm.username"
          placeholder="手机号"
          name="username"
          type="text"
          tabindex="1"
          autocomplete="on"
        />
      </el-form-item>

      <!-- <el-tooltip v-model="capsTooltip" content="Caps lock is On" placement="right" manual>
        <el-form-item prop="password">
          <span class="svg-container">
            <svg-icon icon-class="password" />
          </span>
          <el-input
            :key="passwordType"
            ref="password"
            v-model="loginForm.password"
            :type="passwordType"
            placeholder="Password"
            name="password"
            tabindex="2"
            autocomplete="on"
            @keyup.native="checkCapslock"
            @blur="capsTooltip = false"
            @keyup.enter.native="handleLogin"
          />
          <span class="show-pwd" @click="showPwd">
            <svg-icon :icon-class="passwordType === 'password' ? 'eye' : 'eye-open'" />
          </span>
        </el-form-item>
      </el-tooltip> -->
     <el-row>
  <el-col :span="18"><el-form-item prop="code">
        <span class="svg-container">
          <svg-icon icon-class="password" />
        </span>
        <el-input
          ref="code"
          v-model="loginForm.code"
          placeholder="验证码"
          name="code"
          type="text"
          tabindex="1"
          autocomplete="on"
        />
        
      </el-form-item></el-col>
   <el-col :span="6"><el-button :disabled="!codeflag&&loginForm.username!=''" type="primary" style="height:fit-content;margin-top: .5vw;"  @click.native.prevent="sms_sending">{{codetitle}}</el-button></el-col>
</el-row>
        
      
      

      <div style="display:flex;justify-content: space-around;"> <el-button :loading="loading" type="primary" style="width:100%;margin-bottom:30px;" @click.native.prevent="handleLogin">登录</el-button>
      <!-- <el-button :loading="loading" type="primary" style="margin-bottom:30px;" @click.native.prevent="Register">注册</el-button> -->
      </div>
     
     
        
<!-- <div style="display:flex;justify-content: space-around;"><el-button style="width:100%;" class="thirdparty-button" type="primary" @click="showDialog=true">
          其他方式登录
        </el-button></div>
         -->
      
    </el-form>

    <el-dialog title="其他方式登录" :visible.sync="showDialog">
      <!-- Can not be simulated on local, so please combine you own business simulation! ! ! -->
      <br>
      <br>
      <br>
      <social-sign />
    </el-dialog>
  </div>
</template>

<script>
import { validUsername } from '@/utils/validate'
import SocialSign from './components/SocialSignin'
import crypto from 'crypto';
import {sendmessage,Register, reigster} from '../../api/user';
export default {
  name: 'Login',
  components: { SocialSign },
  data() {
    const validateUsername = (rule, value, callback) => {
    let  reg=/^1[3456789]\d{9}$/;
      if (!validUsername(value)) {
        callback(new Error('请输入用户名'))
      } else  if(!reg.test(value)){
        callback(new Error('请输入正确的手机号'))
       
      }else{
         callback()
      }
    }
    const validatePassword = (rule, value, callback) => {
      let reg=/^\d{4}$/;
      if (value.length ==0) {
        callback(new Error('请输入验证码'))
      } else  if(!reg.test(value)){
        callback(new Error('请输入正确验证码'))
      }else{
        callback();
      }
    }
    return {
      loginForm: {
        // username: 'administrator',
        // password: 'p@ssw0rd'
         username: '',
        password: '',
        code:''
      },
      loginRules: {
        username: [{ required: true, trigger: 'blur', validator: validateUsername }],
        code: [{ required: true, trigger: 'blur', validator: validatePassword }]
      },
      //定时器
      timer:null,
      codenumber:60,
      codeflag:true,
      codetitle:'获取验证码',
      passwordType: 'password',
      capsTooltip: false,
      loading: false,
      showDialog: false,
      redirect: undefined,
      otherQuery: {}
    }
  },
  watch: {
    $route: {
      handler: function(route) {
        const query = route.query
        if (query) {
          this.redirect = query.redirect
          this.otherQuery = this.getOtherQuery(query)
        }
      },
      immediate: true
    }
  },
  created() {
    // window.addEventListener('storage', this.afterQRScan)
  },
  mounted() {
    if (this.loginForm.username === '') {
      this.$refs.username.focus()
    } 
  },
  
  destroyed() {
    clearInterval(this.timer);
    this.timer=null;
    // window.removeEventListener('storage', this.afterQRScan)
  },
  methods: {

getmd5(pwd){
  var md5 = crypto.createHash("md5");
  md5.update(pwd);
  var password = md5.digest('hex');
  return password;
},
    checkCapslock({ shiftKey, key } = {}) {
      if (key && key.length === 1) {
        if (shiftKey && (key >= 'a' && key <= 'z') || !shiftKey && (key >= 'A' && key <= 'Z')) {
          this.capsTooltip = true
        } else {
          this.capsTooltip = false
        }
      }
      if (key === 'CapsLock' && this.capsTooltip === true) {
        this.capsTooltip = false
      }
    },
    showPwd() {
      if (this.passwordType === 'password') {
        this.passwordType = ''
      } else {
        this.passwordType = 'password'
      }
      this.$nextTick(() => {
        this.$refs.password.focus()
      })
    },
    handleLogin() {
      this.$refs.loginForm.validate(valid => {
        console.log(valid);
        if (valid) {
          this.loading = true;
          // this.loginForm.password=this.getmd5(this.loginForm.password);
          console.log("获取跳转地址");
          console.log(this.otherQuery);
          let  data={
         'api_token':'api_xiangmu',
        // 'accesstoken':'',
       'mobile':this.loginForm.username,
       'mobile_type':0,
       'code':this.loginForm.code,
      }
           this.$store.dispatch('user/login', data)
            .then((RES) => {
              console.log(RES);
              console.log({ path: this.redirect || '/', query: this.otherQuery });
              this.$router.push({ name: 'home',})
              this.loading = false
            })
            .catch(() => {
              this.loading = false
            })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    //发送验证码
    sms_sending(){
      let reg=/^1[3456789]\d{9}$/;
      if(reg.test(this.loginForm.username)){
  let parem={
        'api_token':'api_xiangmu',
        // 'accesstoken':'',
       'mobile':this.loginForm.username,
       'mobile_type':0,
      //  'user_id':'',
      }
     
     sendmessage(parem).then((response)=>{
       this.codeflag=false;
      this.numberregist();
     }).catch((error)=>{
      console.log(error);
     })
      }else{
     
      }
    
    },
   
    //注册
    Register(){
      let  data={
         'api_token':'api_xiangmu',
        // 'accesstoken':'',
       'mobile':this.loginForm.username,
       'mobile_type':0,
       'code':this.loginForm.code,
      }
     reigster(data).then((response)=>{
      if(response.code==200){
        if(this.response.roles.length!=0){
          console.log({ path: this.redirect || '/', query: this.otherQuery });
        this.$router.push({ name: 'home',} )
        }else{
           Message({
      message: "您未获取登录权限",
      type: 'error',
      duration: 5 * 10000
    })
        }
        
      }
     }).catch((err)=>{
       console.log(err);
     })
    },
    getOtherQuery(query) {
      return Object.keys(query).reduce((acc, cur) => {
        if (cur !== 'redirect') {
          acc[cur] = query[cur]
        }
        console.log(acc);
        return acc
      }, {})
    },
    numberregist(){
     this.timer=setInterval(()=>{
       if(this.codenumber!=0){
         console.log(this.codenumber);
         this.codenumber-=1;
         this.codetitle=this.codenumber;
       }else{
         console.log("=0")
         clearInterval(this.timer);
         this.timer=null;
         this.codenumber=60;
         this.codeflag=true;
         this.codetitle='获取验证码'
       }
     },1000)
    }
    // afterQRScan() {
    //   if (e.key === 'x-admin-oauth-code') {
    //     const code = getQueryObject(e.newValue)
    //     const codeMap = {
    //       wechat: 'code',
    //       tencent: 'code'
    //     }
    //     const type = codeMap[this.auth_type]
    //     const codeName = code[type]
    //     if (codeName) {
    //       this.$store.dispatch('LoginByThirdparty', codeName).then(() => {
    //         this.$router.push({ path: this.redirect || '/' })
    //       })
    //     } else {
    //       alert('第三方登录失败')
    //     }
    //   }
    // }
  }
}
</script>

<style lang="scss">
/* 修复input 背景不协调 和光标变色 */
/* Detail see https://github.com/PanJiaChen/vue-element-admin/pull/927 */

$bg:#283443;
$light_gray:#fff;
$cursor: #fff;

@supports (-webkit-mask: none) and (not (cater-color: $cursor)) {
  .login-container .el-input input {
    color: $cursor;
  }
}

/* reset element-ui css */
.login-container {
  .el-input {
    display: inline-block;
    height: 47px;
    width: 85%;

    input {
      background: transparent;
      border: 0px;
      -webkit-appearance: none;
      border-radius: 0px;
      padding: 12px 5px 12px 15px;
      color: $light_gray;
      height: 47px;
      caret-color: $cursor;

      &:-webkit-autofill {
        box-shadow: 0 0 0px 1000px $bg inset !important;
        -webkit-text-fill-color: $cursor !important;
      }
    }
  }

  .el-form-item {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #454545;
  }
}
</style>

<style lang="scss" scoped>
$bg:#2d3a4b;
$dark_gray:#889aa4;
$light_gray:#eee;

.login-container {
  min-height: 100%;
  width: 100%;
  background-color: $bg;
  overflow: hidden;

  .login-form {
    position: relative;
    width: 520px;
    max-width: 100%;
    padding: 130px 35px 0;
    margin: 0 auto;
    overflow: hidden;
  }

  .tips {
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;

    span {
      &:first-of-type {
        margin-right: 16px;
      }
    }
  }

  .svg-container {
    padding: 6px 5px 6px 15px;
    color: $dark_gray;
    vertical-align: middle;
    width: 30px;
    display: inline-block;
    
  }

  .title-container {
    position: relative;

    .title {
      font-size: 26px;
      color: $light_gray;
      margin: 0px auto 40px auto;
      text-align: center;
      font-weight: bold;
    }
  }

  .show-pwd {
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 16px;
    color: $dark_gray;
    cursor: pointer;
    user-select: none;
  }

  .thirdparty-button {
    // position: absolute;
    // right: 0;
    // bottom: 6px;
  }

  @media only screen and (max-width: 470px) {
    .thirdparty-button {
      display: none;
    }
  }
}
</style>
