<template>
  <div class="app-container">
    <el-form ref="form" :rules="categoryRules" :model="form" label-width="120px">
      <el-form-item prop="parentId" label="上级分类">
            <el-select filterable v-model="form.parentId" placeholder="请选择" style="width: 100%;">
              <el-option v-for="item in parentsList" :key="item.id" :label="item.name" :value="item.id" />
            </el-select>
      </el-form-item>
      <el-form-item prop="name" label="名称">
        <el-input v-model="form.name" />
      </el-form-item>
      <el-form-item prop="rank" label="排序">
        <el-input v-model="form.rank" min="1" type="number"/>
      </el-form-item>
      <el-form-item prop="description" label="描述">
        <el-input v-model="form.description" type="textarea" />
      </el-form-item>
      <el-form-item prop="thumbnail" style="margin-bottom: 30px;" label="缩略图">
        <Upload v-model="form.thumbnail" @on:input="onUpload" />
      </el-form-item>
     <el-form-item v-if="child.length>0" prop="child" label="子集分类">
       <el-row style="margin-bottom:5px" v-for="item in child" :key="item.id">
          <el-col :span="10">
            <span>{{item.name}}</span>
          </el-col>
          <el-col :span="14">
            <!-- <el-button :loading="loading" plain type="danger" @click="toDelete(item.id)">删除</el-button> -->
          </el-col>
       </el-row>
      </el-form-item>
      <el-form-item prop="isRecommend" label="是否推荐">
        <el-checkbox v-model="form.isRecommend"></el-checkbox>
      </el-form-item>
      <el-form-item>
        <el-button :loading="loading" plain type="primary" @click="onSubmit">保存</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import Upload from '@/components/Upload/SingleImage'
import { validEmpty } from '@/utils/validate'
import { modify, get, getList, deleteby } from '@/api/category'

export default {
  components: { Upload },
  data() {
    const validateName = (rule, value, callback) => {
      if (!validEmpty(value)) {
        callback(new Error('请输入类别名称！'))
      } else {
        callback()
      }
    }
    return {
      loaded: false,
      params:{
        parentId:0,
        size:10000,
        page:1
      },
      parentsList:'',
      child:[],
      form: {
        parentId:'',
        name: '',
        description: '',
        thumbnail: '',
        isRecommend:false
      },
      categoryRules: {
        name: [{ required: true, trigger: 'blur', validator: validateName }]
      },
      loading: false
    }
  },
  created() {
    this.fetch(this.$route.params.id)
  },
  methods: {
    onUpload(data) {
      this.form.thumbnail = data
    },
    fetch(id) {
      get(id).then(response => {
       this.child = response.data.childs;
        this.form = response.data
        this.loaded = true
      })
      getList(this.params).then(response => {
        this.parentsList = response.data
      })
    },
    onSubmit() {
      this.$refs.form.validate(valid => {
        if (valid) {
          this.loading = true
         
 modify(this.form,this.$route.params.id).then(response => {
            this.loading = false
            this.$router.push({ path: '/category/list' })
          }).catch((error) => {
            this.$message({
              message: error.response.data,
              type: 'warning'
            })
            this.loading = false
          })
         
         
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    toDelete(id){
      deleteby(id).then(rs=>{
        if(rs.success==true){
          this.child.forEach(item=>{
            if(item.id === id){
              this.child.splice(item.index,1)
            }
          })
        this.$message({
          message:rs.message,
          type: 'success'
        });
         this.fetchData(this.params);
        }
      }).catch((error) => {
            this.$message({
              message: error.response.data,
              type: 'warning'
            })
            this.loading = false
          })
    },
    fetchChildData(id){
      get(id).then(response => {
       this.child = response.data.childs;
      })
    }
  }
}
</script>

<style scoped>
.line{
  text-align: center;
}
</style>

