<template>
  <div class="app-container">
    <el-form ref="form" :rules="tagRules" :model="form" label-width="120px">
      <el-form-item prop="name" label="名称">
        <el-input v-model="form.name" />
      </el-form-item>
      <el-form-item prop="description" label="描述">
        <el-input v-model="form.description" type="textarea" />
      </el-form-item>
      <el-form-item prop="isRecommend" label="是否推荐">
        <el-checkbox v-model="form.isRecommend"></el-checkbox>
      </el-form-item>
      <el-form-item>
        <el-button :loading="loading" type="primary" @click="onSubmit">修改</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { validEmpty } from '@/utils/validate'
import { create,update,getinfo } from '@/api/tag'

export default {
  data() {
    const validateName = (rule, value, callback) => {
      if (!validEmpty(value)) {
        callback(new Error('请输入标签名称！'))
      } else {
        callback()
      }
    }
    return {
    //接收标签id查询回显
    id:'',
      form: {
        
        name: '',
        description: '',
        isRecommend:false
      },
      tagRules: {
        name: [{ required: true, trigger: 'blur', validator: validateName }]
      },
      loading: false
    }
  },
  created(){
console.log(this.$route.params);
this.id=this.$route.params.id;
this.getInfo(this.id)
  },
  methods: {
       getInfo(e){
getinfo(e).then(res=>{
    console.log("回显");
    console.log(res);
    if(res.success==true){
 this.form=res.data
    }else{

    }
   
})
       },
    onSubmit() {
      this.$refs.form.validate(valid => {
        console.log(valid);
        if (valid) {
          this.loading = true
          update(this.form,this.id).then(response => {
              if(response.success==true){
                   this.$message({
          message:response.message,
          type: 'success'
        });
         this.loading = false
            this.$router.push({ path: '/tag/list' })
              }
           
          }).catch((error) => {
            this.$message({
              message: error.message,
              type: 'warning'
            })
            this.loading = false
          })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    }
  }
}
</script>

<style scoped>
.line{
  text-align: center;
}
</style>

