<template>
  <div class="app-container">
    <el-form ref="form" :rules="tagRules" :model="form" label-width="120px">
      <el-form-item prop="name" label="名称">
        <el-input v-model="form.name" />
      </el-form-item>
      <el-form-item prop="description" label="描述">
        <el-input v-model="form.description" type="textarea" />
      </el-form-item>
      <el-form-item prop="isRecommend" label="是否推荐">
        <el-checkbox v-model="form.isRecommend"></el-checkbox>
      </el-form-item>
      <el-form-item>
        <el-button :loading="loading" type="primary" @click="onSubmit">添加</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { validEmpty } from '@/utils/validate'
import { create } from '@/api/tag'

export default {
  data() {
    const validateName = (rule, value, callback) => {
      if (!validEmpty(value)) {
        callback(new Error('请输入标签名称！'))
      } else {
        callback()
      }
    }
    return {
      form: {
        name: '',
        description: '',
        isRecommend:false,
      },
      tagRules: {
        name: [{ required: true, trigger: 'blur', validator: validateName }]
      },
      loading: false
    }
  },
  methods: {
    onSubmit() {
      this.$refs.form.validate(valid => {
        console.log(valid);
        if (valid) {
          this.loading = true
          create(this.form).then(response => {
            if(response.success==true){
                   this.$message({
          message:response.message,
          type: 'success'
        });
         this.loading = false
            this.$router.push({ path: '/tag/list' })
              }
          }).catch((error) => {
            this.$message({
              message: error.response.data.errors.name,
              type: 'warning'
            })
            this.loading = false
          })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    }
  }
}
</script>

<style scoped>
.line{
  text-align: center;
}
</style>

