<template>
  <div class="app-container">
    <el-form ref="form" :rules="storeRules" :model="form" label-width="120px">
      <el-row>
        <el-col :span="8">
          <el-form-item prop="provinceId" label="省份">
            <el-select filterable v-model="form.provinceId" placeholder="请选择" style="width: 100%;" @change="changeProvince(form.provinceId)" >
              <el-option v-for="item in geoinfoData" :key="item.name" :label="item.name" :value="item.id" />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item prop="cityId" label="城市">
           <el-select filterable v-model="form.cityId" placeholder="请选择" style="width: 100%;" @change="changeCity(form.cityId)">
              <el-option v-for="item in cityData" :key="item.name" :label="item.name" :value="item.id" />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item prop="districtId" label="城区">
          <el-select filterable v-model="form.districtId" placeholder="请选择" style="width: 100%;">
              <el-option v-for="item in districtData" :key="item.name" :label="item.name" :value="item.id" />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-form-item prop="name" label="名称">
        <el-input v-model="form.name" />
      </el-form-item>
      <el-form-item prop="description" label="描述">
        <el-input v-model="form.description" type="textarea" />
      </el-form-item>
        <el-form-item prop="thumbnail" style="margin-bottom: 30px;" label="缩略图">
        <Upload v-model="form.thumbnail" @on:input="onUpload" />
      </el-form-item>
      <el-form-item prop="longitude" label="经度">
        <el-input v-model="form.longitude" type="number"/>
      </el-form-item>
      <el-form-item prop="latitude" label="纬度">
        <el-input v-model="form.latitude" type="number"/>
      </el-form-item>
      <el-form-item prop="detail" label="详细地址">
        <el-input v-model="form.detail" />
      </el-form-item>
      <el-form-item prop="zipcode" label="邮政编码">
        <el-input v-model="form.zipcode" />
      </el-form-item>
      <el-form-item prop="mobile" label="手机号码">
        <el-input v-model="form.mobile" />
      </el-form-item>
      <el-form-item prop="printer" label="打印机编号">
        <el-input v-model="form.printer" />
      </el-form-item>
      
     
      <el-form-item prop="form.flag" label="店铺或仓库">
           <el-select filterable v-model="form.flag" placeholder="请选择" style="width: 100%;" >
              <el-option v-for="item in flaglist" :key="item.name" :label="item.name" :value="item.id" />
            </el-select>
       </el-form-item>
        <el-form-item prop="parentId" v-if="form.flag=='store'&&form.flag" label="仓库">
           <el-select filterable v-model="form.parentId" placeholder="请选择" style="width: 100%;" >
              <el-option v-for="item in parentlist" :key="item.name" :label="item.name" :value="item.id" />
            </el-select>
       </el-form-item>
      <el-form-item prop="isClosed" label="是否关闭">
        <el-checkbox v-model="form.isClosed"></el-checkbox>
      </el-form-item>
      <el-form-item>
        <el-button :loading="loading" type="primary" @click="onSubmit">添加</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import Upload from '@/components/Upload/SingleImage'
import { validEmpty } from '@/utils/validate'
import { create ,getparentList} from '@/api/store'
import { getProvinceList } from '@/api/province'
import { getCityList } from '@/api/city'
import { getDistrictList } from '@/api/district'

export default {
  components: { Upload },
  data() {
    const validateName = (rule, value, callback) => {
      if (!validEmpty(value)) {
        callback(new Error('请输入！'))
      } else {
        callback()
      }
    }
    const validateNum = (rule, value, callback) => {
      if (!value) {
        callback(new Error('请输入！'))
      } else {
        callback()
      }
    }
    return {
      params:{
        size:100,
        page:1
      },
      flaglist:[
        {id:'store',
        name:'店铺'
      },
      {
        id:'warehouse',
        name:'仓库'
      }
      ],
      geoinfoData:'',
      cityData:'',
      districtData:'',
      parentlist:[],
      form: {
        flag:'warehouse',
        parentId:'',
        provinceId: '',
        cityId: '',
        districtId: '',
        name: '',
        description: '',
        thumbnail: '',
        longitude: '',
        latitude: '',
        detail: '',
        zipcode: '',
        mobile: '',
        isClosed: false,
        printer:''
      },
      storeRules: {
        provinceId:[{ required: true, trigger: 'blur', validator: validateName }],
        cityId:[{ required: true, trigger: 'blur', validator: validateName }],
        districtId:[{ required: true, trigger: 'blur', validator: validateName }],
        name: [{ required: true, trigger: 'blur', validator: validateName }],
        detail:[{ required: true, trigger: 'blur', validator: validateName }],
        // mobile:[{ required: true, trigger: 'blur', validator: validateName }],
        longitude:[{ required: true, trigger: 'blur', validator: validateNum }],
        latitude:[{ required: true, trigger: 'blur', validator: validateNum }],
      },
      loading: false
    }
  },
  created() {
    getparentList(this.params).then(rs=>{
      console.log('获取仓库');
      console.log(rs);
      this.parentlist=rs.data;
    })
    this.fetchData()
  },
  methods: {
    fetchData() {
      getProvinceList(this.params).then(response=>{
        this.geoinfoData = response.data;
      })
    },
    onUpload(data) {
      this.form.thumbnail = data
    },
    onSubmit() {
      console.log(this.form)
      this.$refs.form.validate(valid => {
        console.log(valid)
        if (valid) {
          this.loading = true
          console.log(this.form)
          create(this.form).then(response => {
            this.loading = false
            this.$router.push({ path: '/store/list' })
          }).catch((error) => {
            this.$message({
              message: error.response.data,
              type: 'warning'
            })
            this.loading = false
          })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    changeProvince(e) {
      this.params.provinceId = e
      getCityList(this.params).then(response=>{
        this.cityData = response.data
      })
    },
    changeCity(e) {
      this.params.cityId = e
      getDistrictList(this.params).then(response=>{
        this.districtData = response.data
      })
    }
  }
}
</script>

<style scoped>
.line{
  text-align: center;
}
</style>

