<template>
  <div class="app-container">
     <el-row class="item" v-for="(item,index) in list" :key="index">
       <el-row class="item_top" type="flex" justify="space-between">
         <div>
           货仓 : {{item.name}}
         </div>
         <el-col style="width:215px">
            <!-- <el-button style="display:inline-block" plain type="primary" @click="onPicking()">
                历史返仓
            </el-button>
            <el-button style="display:inline-block" :loading="loading" plain type="primary" @click="onSubmit()">
                历史调整
            </el-button> -->
         </el-col>
       </el-row>
       <el-row class="item_center">
         <el-col class="item_center_A" :span="6">
           库存品类 : <span class="item_c_number">{{}}</span>
         </el-col>
         <el-col class="item_center_B" :span="6">
           近日返仓 : <span class="item_c_number">{{}}</span>
         </el-col>
         <el-col class="item_center_C" :span="6">
           库存预警 : <span class="item_c_number">{{}}</span>
         </el-col>
         <el-col class="item_center_D" :span="6">
           调库订单 : <span class="item_c_number">{{}}</span>
         </el-col>
       </el-row>
       <el-row class="item_bottom" type="flex" justify="space-between">
         <div >
           进行中任务 : {{item.detail}}
         </div>
         <el-col style="width:215px">
           <el-button style="display:inline-block" plain type="primary" @click="onPicking()">
                历史返仓
            </el-button>
            <el-button style="display:inline-block" plain type="primary" @click="onSubmit()">
                历史调整
            </el-button>
         </el-col>
       </el-row>
     </el-row>
  </div>
</template>

<script>
import { getList ,deleteby} from '@/api/store'
import permission from '@/directive/permission/index.js' // 权限判断指令
import checkPermission from '@/utils/permission' // 权限
export default {
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'gray',
        deleted: 'danger'
      }
      return statusMap[status]
    }
  },
  directives: { permission },
  data() {
    return {
      imgconst:'http://www.miaodou.club/',
      total: 0,
      params:{
        size:10,
        page:1
      },
      list: null,
      listLoading: true
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
    checkPermission,
    fetchData() {
      this.listLoading = true
      getList(this.params).then(response => {
        this.list = response.data
        this.total=response.total;
        this.listLoading = false
      })
    },
    handleEdit(id) {
      console.log(id)
      this.$router.push({ name: 'storeModify', params: { id: id }})
    },
    toDelete(id){
      deleteby(id).then(rs=>{
        if(rs.success==true){
        this.$message({
          message:rs.message,
          type: 'success'
        });
         this.fetchData(this.params);
        }
      }).catch((error) => {
            this.$message({
              message: error.response.data,
              type: 'warning'
            })
            this.loading = false
          })
    },
    handleAdd() {
      this.$router.push({ name: 'addStore' })
    },
    newData(e){
      let date=new Date(e);
      let Y = date.getFullYear() +'年';
      let M = (date.getMonth() +1 <10 ?'0' + (date.getMonth() +1) : date.getMonth() +1) +'月';
      let D = date.getDate() +'日';
      let h = date.getHours() +':';
      let m = date.getMinutes() +':';
      let s = date.getSeconds();
      return Y+M+D+h+m+s;
    }
  }
}
</script>
<style scoped>
.item{
  background: #FFFFFF;
  border: 1px solid #DCDFE6;
  border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 40px;
}
.item_top{
  height: 76px;
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: #4A4A4A;
  letter-spacing: 0;
  line-height: 76px;
}
.item_center{
  font-family: MicrosoftYaHeiLight;
  font-size: 14px;
  color: #4A4A4A;
  letter-spacing: 0;
}
.item_center_A{
  height: 120px;
  background: #E9E9EB;
  line-height: 120px;
}
.item_center_B{
  height: 120px;
  background: #C6E2FF;
  line-height: 120px;
}
.item_center_C{
  height: 120px;
  background: #C6E2FF;
  line-height: 120px;
}
.item_center_D{
  height: 120px;
  background: #FDE2E2;
  line-height: 120px;
}
.item_c_number{
  font-family: Impact;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
  line-height: 19px;
}
.item_bottom{
  height: 76px;
  font-family: MicrosoftYaHeiLight;
  font-size: 14px;
  color: #606266;
  letter-spacing: 0;
  line-height: 76px;
}
</style>

