<template>
  <div class="app-container">
    <el-form ref="form" :rules="provinceRules" :model="form" label-width="120px">
      <el-form-item prop="name" label="名称">
        <el-input v-model="form.name" />
      </el-form-item>
       <el-form-item prop="code" label="编号">
        <el-input v-model="form.code" />
      </el-form-item>
      <el-form-item>
        <el-button :loading="loading" type="primary" @click="onSubmit">修改</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import Upload from '@/components/Upload/SingleImage'
import { validEmpty } from '@/utils/validate'
import { create ,getprovinceinfo,upadte} from '@/api/province'
import Cookies from 'js-cookie'
export default {
  components: { Upload },
  data() {
    const validateName = (rule, value, callback) => {
      if (!validEmpty(value)) {
        callback(new Error('请输入省份名称！'))
      } else {
        callback()
      }
    }
    return {
      id:'',
      form: {
        name: '',
        code:''
      },
      provinceRules: {
        name: [{ required: true, trigger: 'blur', validator: validateName }],
        code: [{ required: true, trigger: 'blur', validator: validateName }]
      },
      loading: false
    }
  },
   created(){
    console.log("获取参数请求回显")
    console.log(this.$route.params);
    this.id=this.$route.params.id;
    this.provinceinfo(this.id)
  },
  methods: {
    provinceinfo(e){
   getprovinceinfo(e).then(res=>{
      console.log(res);
      if(res.success==true){
      this.form=res.data
      }else{

      }
   })
    },
    onUpload(data) {
      console.log(data)
      this.form.thumbnail = data
    },
    onSubmit() {
      this.$refs.form.validate(valid => {
        if (valid) {
          console.log(valid);
          this.loading = true
          upadte(this.form,this.id).then(response => {
               if(response.success==true){
                   this.$message({
          message:response.message,
          type: 'success'
        });
          this.loading = false
            this.$router.push({ name: 'provinceList' })
              }
          
          }).catch((error) => {
            this.$message({
              message: error.response.data,
              type: 'warning'
            })
            this.loading = false
          })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    }
  }
}
</script>

<style scoped>
.line{
  text-align: center;
}
</style>

