<template>
  <div class="app-container">
    <el-tabs v-model="activeName" @tab-click="handleStoreClick">
      <el-tab-pane label="MCN润泽园店" name="store-1" store="5d9f10512137990fa8a5b2f6">
        <el-tabs v-model="activeStatusName" @tab-click="handleStatusClick">
          <el-tab-pane label="已付款" name="store-1-status-1" status="2">
            <el-table
              v-loading="listLoading"
              :data="list"
              element-loading-text="Loading"
              border
              fit
              highlight-current-row
            >
              <el-table-column align="center" label="订单号" width="150">
                <template slot-scope="scope">
                  {{ scope.row.number }}
                </template>
              </el-table-column>
              <el-table-column align="center" label="下单时间" width="210">
                <template slot-scope="scope">
                  {{ scope.row.updatedAt }}
                </template>
              </el-table-column>
              <el-table-column align="center" label="商品名称">
                <template slot-scope="scope">
                  <el-table
                    :data="scope.row.goodses"
                    border
                    :show-header="false"
                  >
                    <el-table-column>
                      <template slot-scope="scope">
                        {{ scope.row.goods.name }}
                      </template>
                    </el-table-column>
                  </el-table>
                </template>
              </el-table-column>
              <el-table-column align="center" label="下单数量" width="150">
                <template slot-scope="scope">
                  <el-table
                    :data="scope.row.goodses"
                    border
                    :show-header="false"
                  >
                    <el-table-column>
                      <template slot-scope="scope">
                        {{ scope.row.number }}
                      </template>
                    </el-table-column>
                  </el-table>
                </template>
              </el-table-column>
              <el-table-column align="center" label="下单手机号" width="210">
                <template slot-scope="scope">
                  {{ scope.row.user.mobile }}
                </template>
              </el-table-column>
              <el-table-column align="center" label="订单状态" width="150">
                <template slot-scope="scope">
                   {{ scope.row.status == 1 ? '未付款' : (scope.row.status == 2 ? '已付款' : (scope.row.status == 4 ? '未取货' : (scope.row.status == 8 ? '已取货' : (scope.row.status == 0 ? '已取消' : (scope.row.status == -1 ? '已删除' : ''))))) }}
                </template>
              </el-table-column>
              <el-table-column align="center" label="操作" width="100">
                <template slot-scope="scope">
                  <el-button @click="handleEdit(scope.row.id)">
                    查看
                  </el-button>
                </template>
              </el-table-column>
            </el-table>
          </el-tab-pane>
          <el-tab-pane label="未取货" name="store-1-status-2" status="4">
            <el-table
              v-loading="listLoading"
              :data="list"
              element-loading-text="Loading"
              border
              fit
              highlight-current-row
            >
              <el-table-column align="center" label="订单号" width="150">
                <template slot-scope="scope">
                  {{ scope.row.number }}
                </template>
              </el-table-column>
              <el-table-column align="center" label="下单时间" width="210">
                <template slot-scope="scope">
                  {{ scope.row.updatedAt }}
                </template>
              </el-table-column>
              <el-table-column align="center" label="商品名称">
                <template slot-scope="scope">
                  <el-table
                    :data="scope.row.goodses"
                    border
                    :show-header="false"
                  >
                    <el-table-column>
                      <template slot-scope="scope">
                        {{ scope.row.goods.name }}
                      </template>
                    </el-table-column>
                  </el-table>
                </template>
              </el-table-column>
              <el-table-column align="center" label="下单数量" width="150">
                <template slot-scope="scope">
                  <el-table
                    :data="scope.row.goodses"
                    border
                    :show-header="false"
                  >
                    <el-table-column>
                      <template slot-scope="scope">
                        {{ scope.row.number }}
                      </template>
                    </el-table-column>
                  </el-table>
                </template>
              </el-table-column>
              <el-table-column align="center" label="下单手机号" width="210">
                <template slot-scope="scope">
                  {{ scope.row.user.mobile }}
                </template>
              </el-table-column>
              <el-table-column align="center" label="订单状态" width="150">
                <template slot-scope="scope">
                   {{ scope.row.status == 1 ? '未付款' : (scope.row.status == 2 ? '已付款' : (scope.row.status == 4 ? '未取货' : (scope.row.status == 8 ? '已取货' : (scope.row.status == 0 ? '已取消' : (scope.row.status == -1 ? '已删除' : ''))))) }}
                </template>
              </el-table-column>
              <el-table-column align="center" label="操作" width="100">
                <template slot-scope="scope">
                  <el-button @click="handleEdit(scope.row.id)">
                    查看
                  </el-button>
                </template>
              </el-table-column>
            </el-table>
          </el-tab-pane>
          <el-tab-pane label="已取货" name="store-1-status-3" status="8">
            <el-table
              v-loading="listLoading"
              :data="list"
              element-loading-text="Loading"
              border
              fit
              highlight-current-row
            >
              <el-table-column align="center" label="订单号" width="150">
                <template slot-scope="scope">
                  {{ scope.row.number }}
                </template>
              </el-table-column>
              <el-table-column align="center" label="下单时间" width="210">
                <template slot-scope="scope">
                  {{ scope.row.updatedAt }}
                </template>
              </el-table-column>
              <el-table-column align="center" label="商品名称">
                <template slot-scope="scope">
                  <el-table
                    :data="scope.row.goodses"
                    border
                    :show-header="false"
                  >
                    <el-table-column>
                      <template slot-scope="scope">
                        {{ scope.row.goods.name }}
                      </template>
                    </el-table-column>
                  </el-table>
                </template>
              </el-table-column>
              <el-table-column align="center" label="下单数量" width="150">
                <template slot-scope="scope">
                  <el-table
                    :data="scope.row.goodses"
                    border
                    :show-header="false"
                  >
                    <el-table-column>
                      <template slot-scope="scope">
                        {{ scope.row.number }}
                      </template>
                    </el-table-column>
                  </el-table>
                </template>
              </el-table-column>
              <el-table-column align="center" label="下单手机号" width="210">
                <template slot-scope="scope">
                  {{ scope.row.user.mobile }}
                </template>
              </el-table-column>
              <el-table-column align="center" label="订单状态" width="150">
                <template slot-scope="scope">
                   {{ scope.row.status == 1 ? '未付款' : (scope.row.status == 2 ? '已付款' : (scope.row.status == 4 ? '未取货' : (scope.row.status == 8 ? '已取货' : (scope.row.status == 0 ? '已取消' : (scope.row.status == -1 ? '已删除' : ''))))) }}
                </template>
              </el-table-column>
              <el-table-column align="center" label="操作" width="100">
                <template slot-scope="scope">
                  <el-button @click="handleEdit(scope.row.id)">
                    查看
                  </el-button>
                </template>
              </el-table-column>
            </el-table>
          </el-tab-pane>
        </el-tabs>
      </el-tab-pane>
      <el-tab-pane label="MCN奥林园店" name="store-2" store="5d9f10b62137990fa8a5b2f7">
        <el-tabs v-model="activeStatusName" @tab-click="handleStatusClick">
          <el-tab-pane label="已付款" name="store-2-status-1" status="2">
            <el-table
              v-loading="listLoading"
              :data="list"
              element-loading-text="Loading"
              border
              fit
              highlight-current-row
            >
              <el-table-column align="center" label="订单号" width="150">
                <template slot-scope="scope">
                  {{ scope.row.number }}
                </template>
              </el-table-column>
              <el-table-column align="center" label="下单时间" width="210">
                <template slot-scope="scope">
                  {{ scope.row.updatedAt }}
                </template>
              </el-table-column>
              <el-table-column align="center" label="商品名称">
                <template slot-scope="scope">
                  <el-table
                    :data="scope.row.goodses"
                    border
                    :show-header="false"
                  >
                    <el-table-column>
                      <template slot-scope="scope">
                        {{ scope.row.goods.name }}
                      </template>
                    </el-table-column>
                  </el-table>
                </template>
              </el-table-column>
              <el-table-column align="center" label="下单数量" width="150">
                <template slot-scope="scope">
                  <el-table
                    :data="scope.row.goodses"
                    border
                    :show-header="false"
                  >
                    <el-table-column>
                      <template slot-scope="scope">
                        {{ scope.row.number }}
                      </template>
                    </el-table-column>
                  </el-table>
                </template>
              </el-table-column>
              <el-table-column align="center" label="下单手机号" width="210">
                <template slot-scope="scope">
                  {{ scope.row.user.mobile }}
                </template>
              </el-table-column>
              <el-table-column align="center" label="订单状态" width="150">
                <template slot-scope="scope">
                   {{ scope.row.status == 1 ? '未付款' : (scope.row.status == 2 ? '已付款' : (scope.row.status == 4 ? '未取货' : (scope.row.status == 8 ? '已取货' : (scope.row.status == 0 ? '已取消' : (scope.row.status == -1 ? '已删除' : ''))))) }}
                </template>
              </el-table-column>
              <el-table-column align="center" label="操作" width="100">
                <template slot-scope="scope">
                  <el-button @click="handleEdit(scope.row.id)">
                    查看
                  </el-button>
                </template>
              </el-table-column>
            </el-table>
          </el-tab-pane>
          <el-tab-pane label="未取货" name="store-2-status-2" status="4">
            <el-table
              v-loading="listLoading"
              :data="list"
              element-loading-text="Loading"
              border
              fit
              highlight-current-row
            >
              <el-table-column align="center" label="订单号" width="150">
                <template slot-scope="scope">
                  {{ scope.row.number }}
                </template>
              </el-table-column>
              <el-table-column align="center" label="下单时间" width="210">
                <template slot-scope="scope">
                  {{ scope.row.updatedAt }}
                </template>
              </el-table-column>
              <el-table-column align="center" label="商品名称">
                <template slot-scope="scope">
                  <el-table
                    :data="scope.row.goodses"
                    border
                    :show-header="false"
                  >
                    <el-table-column>
                      <template slot-scope="scope">
                        {{ scope.row.goods.name }}
                      </template>
                    </el-table-column>
                  </el-table>
                </template>
              </el-table-column>
              <el-table-column align="center" label="下单数量" width="150">
                <template slot-scope="scope">
                  <el-table
                    :data="scope.row.goodses"
                    border
                    :show-header="false"
                  >
                    <el-table-column>
                      <template slot-scope="scope">
                        {{ scope.row.number }}
                      </template>
                    </el-table-column>
                  </el-table>
                </template>
              </el-table-column>
              <el-table-column align="center" label="下单手机号" width="210">
                <template slot-scope="scope">
                  {{ scope.row.user.mobile }}
                </template>
              </el-table-column>
              <el-table-column align="center" label="订单状态" width="150">
                <template slot-scope="scope">
                   {{ scope.row.status == 1 ? '未付款' : (scope.row.status == 2 ? '已付款' : (scope.row.status == 4 ? '未取货' : (scope.row.status == 8 ? '已取货' : (scope.row.status == 0 ? '已取消' : (scope.row.status == -1 ? '已删除' : ''))))) }}
                </template>
              </el-table-column>
              <el-table-column align="center" label="操作" width="100">
                <template slot-scope="scope">
                  <el-button @click="handleEdit(scope.row.id)">
                    查看
                  </el-button>
                </template>
              </el-table-column>
            </el-table>
          </el-tab-pane>
          <el-tab-pane label="已取货" name="store-2-status-3" status="8">
            <el-table
              v-loading="listLoading"
              :data="list"
              element-loading-text="Loading"
              border
              fit
              highlight-current-row
            >
              <el-table-column align="center" label="订单号" width="150">
                <template slot-scope="scope">
                  {{ scope.row.number }}
                </template>
              </el-table-column>
              <el-table-column align="center" label="下单时间" width="210">
                <template slot-scope="scope">
                  {{ scope.row.updatedAt }}
                </template>
              </el-table-column>
              <el-table-column align="center" label="商品名称">
                <template slot-scope="scope">
                  <el-table
                    :data="scope.row.goodses"
                    border
                    :show-header="false"
                  >
                    <el-table-column>
                      <template slot-scope="scope">
                        {{ scope.row.goods.name }}
                      </template>
                    </el-table-column>
                  </el-table>
                </template>
              </el-table-column>
              <el-table-column align="center" label="下单数量" width="150">
                <template slot-scope="scope">
                  <el-table
                    :data="scope.row.goodses"
                    border
                    :show-header="false"
                  >
                    <el-table-column>
                      <template slot-scope="scope">
                        {{ scope.row.number }}
                      </template>
                    </el-table-column>
                  </el-table>
                </template>
              </el-table-column>
              <el-table-column align="center" label="下单手机号" width="210">
                <template slot-scope="scope">
                  {{ scope.row.user.mobile }}
                </template>
              </el-table-column>
              <el-table-column align="center" label="订单状态" width="150">
                <template slot-scope="scope">
                   {{ scope.row.status == 1 ? '未付款' : (scope.row.status == 2 ? '已付款' : (scope.row.status == 4 ? '未取货' : (scope.row.status == 8 ? '已取货' : (scope.row.status == 0 ? '已取消' : (scope.row.status == -1 ? '已删除' : ''))))) }}
                </template>
              </el-table-column>
              <el-table-column align="center" label="操作" width="100">
                <template slot-scope="scope">
                  <el-button @click="handleEdit(scope.row.id)">
                    查看
                  </el-button>
                </template>
              </el-table-column>
            </el-table>
          </el-tab-pane>
        </el-tabs>
      </el-tab-pane>
    </el-tabs>
    <div class="block">
      <el-pagination
        @current-change="handleCurrentChange"
        :current-page.sync="page"
        :page-size="size"
        layout="prev, pager, next, jumper"
        :total="total">
      </el-pagination>
    </div>
  </div>
</template>

<script>
import { getStoreListByPagination } from '@/api/order'

export default {
  filters: {
  },
  data() {
    return {
      store: '5d9f10512137990fa8a5b2f6',
      status: '2',
      list: null,
      listLoading: true,
      activeName: 'store-1',
      activeStatusName: 'store-1-status-1',
      size: 25,
      total: 0,
      page: 1
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
    fetchData() {
      this.listLoading = true
      getStoreListByPagination(this.store, this.status, this.size, this.page).then(response => {
        console.log(response)
        this.list = response.data.items
        this.listLoading = false
        this.total = response.data.total
      })
    },
    handleEdit(id) {
      console.log(id)
      this.$router.push({ name: 'OrderModify', params: { id: id }})
    },
    handleStoreClick(tab, event) {
      this.store = tab.$attrs.store
      // console.log(tab, event)
      // console.log(tab.$attrs.id)
    },
    handleStatusClick(tab, event) {
      this.status = tab.$attrs.status
      // console.log(tab, event)
      // console.log(tab.$attrs.id)
      console.log(this.store, this.status)
      this.listLoading = true
      getStoreListByPagination(this.store, this.status, this.size, this.page).then(response => {
        console.log(response)
        this.list = response.data.items
        this.listLoading = false
        this.total = response.data.total
      })
    },
    handleCurrentChange(val) {
      this.listLoading = true
      this.page = val
      getStoreListByPagination(this.store, this.status, this.size, this.page).then(response => {
        console.log(response)
        this.list = response.data.items
        this.listLoading = false
        this.total = response.data.total
      })
    }
  }
}
</script>
