<template>
  <div class="app-container">
    <el-form ref="form" :model="form" label-width="120px">
      <el-row>
        <el-col :span="6">
          <el-form-item label="手机号码">
            <el-input v-model="form.mobile" />
          </el-form-item>
        </el-col>
        <el-col :span="4">
            <el-button type="primary" @click="onSubmit">搜索</el-button>
        </el-col>
      </el-row>

    </el-form>
    <el-table
      v-loading="listLoading"
      :data="list"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >
      <el-table-column align="center" label="订单号">
        <template slot-scope="scope">
          {{ scope.row.number }}
        </template>
      </el-table-column>
      <el-table-column align="center" label="充值时间">
        <template slot-scope="scope">
          {{ scope.row.updatedAt }}
        </template>
      </el-table-column>
      <el-table-column align="center" label="充值金额">
        <template slot-scope="scope">
          {{ scope.row.total }}
        </template>
      </el-table-column>
      <el-table-column align="center" label="充值状态">
        <template slot-scope="scope">
            {{ scope.row.status == 1 ? '未付款' : (scope.row.status == 2 ? '已付款' : (scope.row.status == 4 ? '未取货' : (scope.row.status == 8 ? '已取货' : (scope.row.status == 0 ? '已取消' : (scope.row.status == -1 ? '已删除' : ''))))) }}
        </template>
      </el-table-column>
      <el-table-column align="center" label="操作" width="300">
        <template slot-scope="scope">
          <el-button plain type="success" @click="handleEdit(scope.row.id)">
            查看
          </el-button>
          <!-- <el-button plain type="danger" @click="handleDel(scope.row.id)">
            删除
          </el-button>
          <el-button plain type="primary" @click="handleChange(scope.row.id)">
            编辑
          </el-button> -->
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import { validEmpty } from '@/utils/validate'
import { getList, deleteby } from '@/api/change'
export default {
  data() {
    return {
      form: {
        mobile: ''
      },
      list: null,
      listLoading: false,
      size: 25,
      total: 0,
      page: 1
    }
  },
  methods: {
    onSubmit() {
      // this.$message('submit!')
      if (this.form.mobile) {
        this.listLoading = true
        getList(this.form.mobile, this.size, this.page).then(response => {
          console.log(response)
          this.list = response.data
          this.listLoading = false
          this.total = response.total
        }).catch((error) => {
           this.loading = false
            this.$message({
              message: error.response.data.errors.name,
              type: 'warning'
            })
           
          })
      }
      else {
        this.$message({
          message: '请输入手机号码！',
          type: 'warning'
        })
      }
    },
    handleEdit(id) {
      console.log(id)
      this.$router.push({ name: 'ChangeModify', params: { id: id }})
    },
    handleDel(id){
      deleteby(id).then(res=>{
        this.onSubmit()
      })
    },
    handleChange(id){
      this.$router.push({ name: 'ChangeModify', params: { id: id }})
    },
    onCancel() {
      this.$message({
        message: 'cancel!',
        type: 'warning'
      })
    }
  }
}
</script>

<style scoped>
.line{
  text-align: center;
}
</style>

