<template>
  <div class="app-container">
    <el-form ref="data" :model="data" label-width="130px">
      <el-form-item prop="number" label="编号">
        <el-input v-model="data.number" />
      </el-form-item>
      <el-form-item prop="type" label="订单类型">
        <el-input v-model="data.type" />
      </el-form-item>
      <el-form-item prop="status" label="订单状态">
        <el-input v-model="data.statusText" />
      </el-form-item>
      <el-form-item v-if="data.store" prop="store.name" label="店铺">
        <el-input v-model="data.store.name" />
      </el-form-item>
      <el-form-item v-if="data.user" prop="user.mobile" label="订货人电话">
        <el-input v-model="data.user.mobile" />
      </el-form-item>
      <el-form-item v-if="data.user" prop="user.nickname" label="订货人昵称">
        <el-input v-model="data.user.nickname" />
      </el-form-item>
      <el-form-item prop="user.nickname" label="下订单时间">
        <el-input v-model="data.createdAt" />
      </el-form-item>
      <el-form-item prop="user.nickname" label="订单最后修改时间">
        <el-input v-model="data.updatedAt" />
      </el-form-item>
      <el-form-item label="商品">
        <template v-for="(item, index) in data.goodses">
          {{ item.goods.name }}
          <img :key="index" :src="item.goods.thumbnail[0].url" style="width: 200px; display: block">
          数量：{{ item.number }}
        </template>
      </el-form-item>
    </el-form>
    <template v-if="data.status === 2">
      <el-form ref="form" :rules="rulesOpeartionPick" :model="form" label-width="130px">
        <el-form-item prop="storage" label="货架">
          <el-input v-model="form.storage" />
        </el-form-item>
        <el-form-item prop="number" label="编号">
          <el-input v-model="form.number" />
        </el-form-item>
        <el-form-item>
          <el-button :loading="loading" type="primary" @click="onSubmitOperationPick">未取货</el-button>
        </el-form-item>
      </el-form>
    </template>
    <template v-if="data.status === 4">
      <el-form ref="form" :model="form" label-width="130px">
        <el-form-item>
          <el-button :loading="loading" type="primary" @click="onSubmitOperationFinish">已取货</el-button>
        </el-form-item>
      </el-form>
    </template>
  </div>
</template>

<script>
import { validEmpty } from '@/utils/validate'
import { operation, finish, get } from '@/api/order'

export default {
  data() {
    const validateStorage = (rule, value, callback) => {
      if (!validEmpty(value)) {
        callback(new Error('请输入货架！'))
      } else {
        callback()
      }
    }

    const validateNumber = (rule, value, callback) => {
      if (!validEmpty(value)) {
        callback(new Error('请输入编号！'))
      } else {
        callback()
      }
    }

    return {
      loaded: false,
      orderId: '',
      data: {},
      form: {
        storage: '',
        number: '',
        status: 0,
        orderId: ''
      },
      rulesOpeartionPick: {
        storage: [{ required: true, trigger: 'blur', validator: validateStorage }],
        number: [{ required: true, trigger: 'blur', validator: validateNumber }]
      },
      loading: false
    }
  },
  created() {
    console.log(this.$route.params.id)
    this.orderId = this.$route.params.id
    this.fetch(this.$route.params.id)
  },
  methods: {
    fetch(id) {
      console.log(id)
      get(id).then(response => {
        console.log(response)
        this.data = response.result
        this.data.type = this.data.type === 1 ? '商品' : '充值'
        this.data.statusText = this.data.status === 1 ? '未付款' : (this.data.status === 2 ? '已付款' : (this.data.status === 4 ? '未取货' : (this.data.status === 8 ? '已取货' : (this.data.status === 0 ? '已取消' : (this.data.status === -1 ? '已删除' : '')))))
        this.loaded = true
      })
    },
    onSubmitOperationPick() {
      this.$refs.form.validate(valid => {
        if (valid) {
          this.loading = true
          this.form.status = 4
          this.form.orderId = this.orderId
          operation(this.form).then(response => {
            this.loading = false
            this.$router.push({ path: '/order/list' })
          }).catch((error) => {
            this.$message({
              message: error.response.data.errors.name,
              type: 'warning'
            })
            this.loading = false
          })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    onSubmitOperationFinish() {
      this.$refs.form.validate(valid => {
        if (valid) {
          this.loading = true
          this.form.status = 8
          this.form.orderId = this.orderId
          finish(this.form).then(response => {
            this.loading = false
            this.$router.push({ path: '/order/list' })
          }).catch((error) => {
            this.$message({
              message: error.response.data.errors.name,
              type: 'warning'
            })
            this.loading = false
          })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    }
  }
}
</script>

<style scoped>
.line{
  text-align: center;
}
</style>

