<template>
  <div class="app-container">
    <el-form ref="form" :rules="categoryRules" :model="form" label-width="120px">
       <el-form-item prop="parentId" label="上级分类">
            <el-select filterable v-model="form.parentId" placeholder="请选择" style="width: 100%;">
              <el-option v-for="item in parentsList" :key="item.id" :label="item.name" :value="item.id" />
            </el-select>
      </el-form-item>
      <el-form-item prop="name" label="名称">
        <el-input v-model="form.name" />
      </el-form-item>
      <el-form-item prop="rank" label="排序">
        <el-input v-model="form.rank" min="1" type="number"/>
      </el-form-item>
      <el-form-item prop="description" label="描述">
        <el-input v-model="form.description" type="textarea" />
      </el-form-item>
      <el-form-item prop="thumbnail" style="margin-bottom: 30px;" label="缩略图">
        <Upload v-model="form.thumbnail" @on:input="onUpload" />
      </el-form-item>
       <el-form-item prop="isRecommend" label="是否推荐">
        <el-checkbox v-model="form.isRecommend"></el-checkbox>
      </el-form-item>
      <el-form-item>
        <el-button :loading="loading" type="primary" @click="onSubmit">添加</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import Upload from '@/components/Upload/SingleImage'
import { validEmpty } from '@/utils/validate'
import { create, getList } from '@/api/category'

export default {
  components: { Upload },
  data() {
    const validateName = (rule, value, callback) => {
      if (!validEmpty(value)) {
        callback(new Error('请输入！'))
      } else {
        callback()
      }
    }
    return {
      params:{
        parentId:0,
        size:10000,
        page:1
      },
      parentsList:'',
      form: {
        parentId:'',
        name: '',
        description: '',
        thumbnail: '',
        isRecommend:false
      },
      categoryRules: {
        name: [{ required: true, trigger: 'blur', validator: validateName }]
      },
      loading: false
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
    fetchData() {
      getList(this.params).then(response => {
        this.parentsList = response.data
      })
    },
    onUpload(data) {
      this.form.thumbnail = data
    },
    onSubmit() {
      this.$refs.form.validate(valid => {
        if (valid) {
          this.loading = true
         
          create(this.form).then(response => {
            this.loading = false
            this.$router.push({ path: '/category/list' })
          }).catch((error) => {
            this.$message({
              message: error.response.data,
              type: 'warning'
            })
            this.loading = false
          })
          
        } else {
          console.log('error submit!!')
          return false
        }
      })
    }
  }
}
</script>

<style scoped>
.line{
  text-align: center;
}
</style>

