<template>
  <div class="app-container">
      <el-row style="padding-bottom:3vh" type="flex" justify="space-between">
        <div></div>
        <el-col style="width:215px">
            <el-button style="display:inline-block"  :loading="loading" plain type="primary" @click="onPicking()">
                分拣提货
            </el-button>
            <el-button style="display:inline-block" :loading="loading" plain type="primary" @click="onSubmit()">
                分拣上架
            </el-button>
        </el-col>
    </el-row>
    <div class="filter-container">
        <div class="mainsubmit">
            <div class="subtop">
                <div class="textA">货单商品:<span  class="textE">{{goodsNumber}}</span></div>
                <div class="textB">订单日期:<span>{{orderInfo.updatedAt}}</span></div>
            </div>
            
            <div class="subbottom">
                <div class="textC">货架编号:</div>
                <div><el-input :disabled="true" width v-model="form.number" style="width: 30%" /></div>
            </div>
        </div>
  </div>
    <!-- <el-form class="form" ref="form" :rules="operationRules" :model="form">
        <el-row :gutter="20">
            <el-col :span="11" :offset="1">
                <el-form-item class="textA">
                    货单商品 : <span class="textE">  {{goodsNumber}}</span>
                </el-form-item>
            </el-col>
            <el-col :span="11">
                <el-form-item class="textB">
                    订单日期 : {{orderInfo.updatedAt}}
                </el-form-item>
            </el-col>
        </el-row>
        <el-row class="row_A"></el-row>
        <el-row :gutter="20">
            <el-col  :span="11" :offset="1">
                <div class="textC">货架编号:</div>
                <el-form-item >
                    <el-input :disabled="true" width v-model="form.number" style="width: 30%" />
                </el-form-item>
            </el-col>
            <el-col :span="11">
                <el-form-item class="textD">
                
                </el-form-item>
            </el-col>
        </el-row>
    </el-form> -->
    <el-table
      :data="orderInfo.goodses"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >
       <el-table-column align="center" label="商品编号">
        <template slot-scope="scope">
          {{ scope.row.id }}
        </template>
      </el-table-column>
      <el-table-column  label="商品名称" align="center">
        <template v-if="scope.row.detail" slot-scope="scope">
          {{scope.row.detail.name}}
        </template>
      </el-table-column>
      <el-table-column  label="货品单价" align="center">
        <template slot-scope="scope">
          ¥{{scope.row.price.toFixed(2)}}
        </template>
      </el-table-column>
      <el-table-column  label="货品规格" align="center">
        <template slot-scope="scope" v-if="scope.row.detail">
          {{scope.row.detail.weight}}{{scope.row.detail.weightUnit}}
        </template>
      </el-table-column>
      <el-table-column  label="订货量" align="center">
        <template slot-scope="scope">
          {{scope.row.number}}
        </template>
      </el-table-column>
    </el-table>
    <submit :orderdata="choosedata" ref="Settlement" @transfer="submitsuccsece"></submit>
  </div>
</template>

<script>
import submit from '../pickUp/submit';
//import { validEmpty } from '@/utils/validate'
import { create,getManagerList } from '@/api/operation'
//import { getList } from '@/api/store'
import { getinfo } from '@/api/order'
import Cookies from 'js-cookie'
import checkManagerPermission from '@/utils/checkmanager'
import checkPermission from '@/utils/permission' 
export default {
  components: { submit },
  data() {
    // const validateName = (rule, value, callback) => {
    //   if (!validEmpty(value)) {
    //     callback(new Error('请输入！'))
    //   } else {
    //     callback()
    //   }
    // }
    return {
        goodsNumber:0,
        choosedata:'',
      statuslist:[
         {id:0,name:'已取消'},
         {id:1,name:'未付款'},
          {id:2,name:'已付款'},
          {id:4,name:'未取货'},
          {id:8,name:'已取货'},
      ],
      params:{
        size:10000,
        page:1
      },
      orderInfo:'',
      managerlist:[],
      storelist:[],
      storeId:'',
      orderlist:[],
      form: {
        managerId: '',
        orderId: '',
        status: '',
        message: '',
        number:''
      },
      operationRules: {
        // managerId:[{ required: true, trigger: 'blur', validator: validateName }],
        // orderId:[{ required: true, trigger: 'blur', validator: validateName }],
        //message:[{ required: true, trigger: 'blur', validator: validateName }]
      },
      loading: false
    }
  },
  created() {
    this.form.number = 'A011012'
    this.checkmanager();
    this.form.status=4;
    this.form.managerId = JSON.parse(Cookies.get('userinfo')).id
    this.form.orderId = this.$router.currentRoute.params.orderId
    console.log(this.form.orderId);
    // getList(this.params).then(e=>{
    //   this.storelist=e.data;
    //   // this.storeId=e.data[0].id;
    //   getListByPagination(this.storeId,-1,0,1000000, 1,).then(response => {
    //     this.orderlist = response.data
    //   })
    // })
     this.fetchData()
  },
  methods: {
    checkPermission,
    submitsuccsece(msg){
      console.log(msg);
      if(msg==true){
        this.$router.push({ name: 'manifestSorting'})
      }
    },
    checkmanager(){
      if(checkManagerPermission(['manager'])){
       //店长 
       this.form.managerId = JSON.parse(Cookies.get('userinfo')).id
     console.log(JSON.parse(Cookies.get('userinfo')));  
      }
    },
    fetchData() {
      if(checkPermission(['admin'])){
        getManagerList().then(res=>{
            this.managerlist = res.data
        })
      }
     
       getinfo(this.form.orderId).then(res=>{
         this.orderInfo = res.data
         if(this.orderInfo.goodses){
            this.goodsNumber = this.orderInfo.goodses.length
         }
         this.storeId=this.orderInfo.storeId;
        this.form.status = res.data.status
      })
    },
    changeOrderId(value){
      if(value){
        console.log(value)
        this.orderlist.forEach(item=>{
          if(item.id === value){
            this.form.status = item.status
          }
        })
      }
    },
    onUpload(data) {
      this.form.thumbnail = data
    },
    onSubmit() {
          // this.loading = true
          this.form.status=4;
          create(this.form).then(response => {
            console.log(response)
            this.loading = false
            this.$router.push({ name: 'manifestSorting'})
          }).catch((error) => {
            this.$message({
              message: error.response.data,
              type: 'warning'
            })
            // this.loading = false
          })
    },
    onPicking() {
        this.choosedata = this.orderInfo
        this.$refs.Settlement.isShow(this.form.number)
    }
  }
}
</script>

<style scoped>
.line{
    text-align: center;
}
.textA{
    font-family: MicrosoftYaHeiLight;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0;
}
.textB{
    font-family: MicrosoftYaHeiLight;
    font-size: 14px;
    color: #656D7F;
    letter-spacing: 0;
    text-align: right
}
.textC{
    font-family: MicrosoftYaHeiLight;
    font-size: 14px;
    color: #3B414E;
    letter-spacing: 0;
}
.textD{
    font-family: MicrosoftYaHeiLight;
    font-size: 14px;
    color: #656D7F;
    letter-spacing: 0;
}
.textE{
    font-family: Impact;
    font-size: 16px;
    color: #3B414E;
    letter-spacing: 0;
}
.row_A{
    height: 1px;
    background: #CBCED7;
}
.el-form-item {
    margin-bottom: 0px;
}
.mainsubmit{
    background: #f0f2f5;
    border-radius: 5px;
}
.mainsubmit .subtop{
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #cbced7;
    line-height: 50px;
}
.mainsubmit .subbottom{
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
}
</style>