<template>
  <div class="app-container">
    <el-row style="padding:15px;" justify="space-between">
       <el-col :span="3" >
        <el-select :disabled="isDisabled" v-model="storeId" filterable @change="fetchData" style="width: 100%">
          <el-option v-for="item in stores" :key="item.id" :label="item.name" :value="item.id" />
        </el-select>
      </el-col>  
       <!-- <el-col :span="2" style="margin-left: 1vw;">
        <el-select  v-model="storeType" filterable @change="typeSelect" style="width: 100%">
          <el-option v-for="item in types" :key="item.id" :label="item.name" :value="item.id" />
        </el-select>
      </el-col> -->
      <el-col :span="2" style="margin-left: 1vw;">
        <el-select  v-model="storeStatus" filterable @change="statusSelect" style="width: 100%">
          <el-option v-for="item in statuslist" :key="item.id" :label="item.name" :value="item.id" />
        </el-select>
      </el-col>
      <el-col :span="5" style="margin-left: 1vw;">
        <el-autocomplete
          v-model="orderId"
          clearable
          :fetch-suggestions="querySearchAsync"
          placeholder="请输入订单号"
          @select="handleSelect"
         @keyup.enter.native="selectbyserch" 
          @input="valueIsNo"
        ></el-autocomplete>
     
      </el-col>  
    </el-row>
    <el-table
      v-loading="listLoading"
      :data="list"
      element-loading-text="Loading"
      :border="isBorder"
      fit
      highlight-current-row
    >
      <el-table-column align="center" label="订单号">
        <template slot-scope="scope">
          {{ scope.row.number }}
        </template>
      </el-table-column>
      <el-table-column type="expand" align="left">
        <template slot-scope="scope" v-if="scope.row.goodses">
            <el-form label-position="left">
                <el-form-item v-for="(item,index) in scope.row.goodses" :key="index">
                    <el-row v-if="item.detail">
                        <el-col class="goodsDetail" :span="3" :offset="3">{{item.detail.name}}</el-col>
                        <el-col class="goodsNumber" :span="1">X{{item.number}}</el-col>
                    </el-row>
                    <el-row v-else>
                        商品数据异常
                    </el-row>
                </el-form-item>
            </el-form>
        </template>
      </el-table-column>
      <el-table-column align="center" prop="goodses" label="商品" width="300">
        <template slot-scope="scope" v-if="scope.row.goodses.length!=0">
          <template v-if="scope.row.goodses[0].detail">
          <span>{{scope.row.goodses[0].detail.name}}</span>{{scope.row.goodses.length === 1 ? '':'...等'+scope.row.goodses.length+'件'}}
        </template>
        <template v-else>
          商品数据异常
        </template>
        </template>
      </el-table-column>
      <el-table-column align="center" prop="created_at" label="下单时间">
        <template slot-scope="scope">
          <i class="el-icon-time" />
          <span>{{ scope.row.updatedAt }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="订单金额">
        <template slot-scope="scope" >
          <span v-if="scope.row.total">
            ¥{{scope.row.total.toFixed(2)}}
          </span>
         <span v-else>
          用户数据异常
         </span>
        </template>
      </el-table-column>
      <!-- <el-table-column align="center" prop="goodses" label="商品名称">
        <template slot-scope="scope" v-if="scope.row.goodses">
          <el-row v-for="(item,index) in scope.row.goodses" :key="index" class="itemStyle">
            <el-col v-if="item.detail" :span="24">{{item.detail.name}}</el-col>
          </el-row>
        </template>
      </el-table-column>
      <el-table-column align="center" prop="goodses" label="下单数量">
        <template slot-scope="scope">
          <el-row v-for="(item,index) in scope.row.goodses" :key="index" class="itemStyle">
            <el-col :span="24">{{item.number}}</el-col>
          </el-row>
        </template>
      </el-table-column> -->
      <el-table-column align="center" label="下单手机号">
        <template slot-scope="scope" >
          <span v-if="scope.row.user">
 {{scope.row.user.mobile}}
          </span>
         <span v-else>
          用户数据异常
         </span>
        </template>
      </el-table-column>
      <!-- <el-table-column label="订单类型" align="center">
        <template slot-scope="scope">
          {{ scope.row.type == 1 ? '商品' : '充值' }}
        </template>
      </el-table-column> -->
      <el-table-column label="订单状态" align="center">
        <template slot-scope="scope">
          {{ backstatus(scope.row.status)
           
             }}
        </template>
      </el-table-column>
      <el-table-column align="center" label="操作" width="185">
        <template slot-scope="scope">
          <div style="display:flex;justify-content: space-around;padding:0 10px;">
             <div class="iconButton" v-if="checkPermission(['admin','manager'])" title="支付宝支付"  @click="payBy('ail',scope.row.number)">
          <img src="../../../../static/alipay.svg" style="height:20px;width:30px; cursor: pointer;"/>
          </div>
          <div class="iconButton" v-if="checkPermission(['admin','manager'])" title="微信支付"  @click="payBy('weixin',scope.row.number)">
          <img src="../../../../static/weixin.svg" style="height:20px;width:30px; cursor: pointer;"/>
          </div>
          </div>
         
          <el-button plain type="primary" v-if="checkPermission(['admin','manager'])"  @click="handleEdit(scope.row.id)">
          查看
          </el-button>
          <el-button plain type="danger" v-if="checkPermission(['admin'])" @click="toDelete(scope.row.id)">
          删除
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <div class="block">
      <!-- <el-pagination
        @current-change="handleCurrentChange"
        :current-page.sync="page"
        :page-sizes="[100, 500, 1000, 2000]" 
       :page.sync="params.page" :limit.sync="params.size"
        layout="prev, pager, next, jumper"
        :total="total">
      </el-pagination> -->
       <pagination v-show="total>0"   :total="total" :page-sizes="[50, 100, 500, 1000]" :page.sync="params.page" :limit.sync="params.size" @pagination="handleCurrentChange(params)" />
    </div>
  </div>
</template>

<script>
import { getStoreId, getRoles } from '@/utils/getCookiesData'
import { getListByPagination, deleteby, getinfo ,getserch,PaymentInquiry} from '@/api/order'
import { getList} from '@/api/store'
import Pagination from '@/components/Pagination'
import permission from '@/directive/permission/index.js' // 权限判断指令
import checkPermission from '@/utils/permission' // 权限
import { serchbysingle } from '../../../api/purchaseApi'
export default {
  components: { Pagination },
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'gray',
        deleted: 'danger'
      }
      return statusMap[status]
    }
  },
  directives: { permission },
  data() {
    return {
      isBorder:false,
      params:{
        size:50,
        page:1
      },
      storeId:'',
      storeStatus:'',
      stores:[],
      types:[
      {id:0,name:'全部'},
            {id:1,name:'商品'},
         {id:2,name:'充值'},
      ],

      statuslist:[
          {id:-1,name:'全部'},
            {id:0,name:'已取消'},
         {id:1,name:'未付款'},
          {id:2,name:'已付款'},
          {id:4,name:'未取货'},
          {id:8,name:'已取货'},
      ],
      list: null,
      listLoading: true,
      size: 50,
      total: 0,
      storeType:0,
      page: 1,
      type:1,
      allOrder:[],
      orderId:'',
      isDisabled:true
    }
  },
  created() {
    if(getRoles() === 'admin'){
      this.isDisabled = false
    }
    getList(this.params).then(e=>{
      this.stores=e.data;
      if(getStoreId()){
        this.storeId = getStoreId();
      }else{
        this.storeId = this.stores[0].id
      }
      this.storeStatus=this.statuslist[0].id;
      this.fetchData()
      getListByPagination(this.storeId,this.storeType,this.storeStatus,this.size, 1).then(response => {
        this.allOrder = response.data
      })
    })
  },
  methods: {
    checkPermission,
    selectbyserch(data){
 this.list=[];
       this.listLoading = true
     getserch(this.storeId,this.orderId).then(rs=>{
       this.list = rs.data
          this.listLoading = false
          this.total = rs.total
     })
    },
    fetchData() {
      this.listLoading = true
      getListByPagination(this.storeId,this.storeType,this.storeStatus,this.size, this.page).then(response => {
        console.log(response)
        this.list = response.data
        this.listLoading = false
        this.total = response.total
      })
    },
    backstatus(data){
      // console.log(data);
      let str=''
      switch (data){
        case 0:
          str='已取消';
          break;
           case 1:
             str='未付款';
          break;
          case 2:
             str='已付款';
          break;
          case 4:
             str='未取货';
          break;
           case 6:
             str='待提货';
          break;
           case 8:
             str='已取货';
          break;
      }
      // console.log(str);
      return str
      //  scope.row.status == 1 ? '未付款' : (scope.row.status == 6 ? '待提货' : (scope.row.status == 8 ? '已取货'  :''))
    },
    statusSelect() {
      console.log("状态筛选")
      console.log('*****'+this.storeId)
      console.log('*****'+this.storeStatus);
      console.log(0!='')
    
    
        this.listLoading = true
       this.list=[];
        getListByPagination(this.storeId,this.storeType,this.storeStatus,this.size, this.page).then(response => {
          console.log(response)
          this.list = response.data
          this.listLoading = false
          this.total = response.total
        })
    
    },
    typeSelect(){
        this.list=[];
        this.listLoading = true
        getListByPagination(this.storeId,this.storeType,this.storeStatus,this.size, this.page).then(response => {
          console.log(response)
          this.list = response.data
          this.listLoading = false
          this.total = response.total
        })
    
    },
    handleEdit(id) {
      console.log(id)
      this.$router.push({ path: '../../operation/list', query: { id: id }})
    },
    toDelete(id) {
      deleteby(id).then(rs=>{
        if(rs.success==true){
        this.$message({
          message:rs.message,
          type: 'success'
        });
         this.fetchData(this.params);
        }
      }).catch((error) => {
            this.$message({
              message: error.response.data,
              type: 'warning'
            })
            this.loading = false
          })
    },
    handleCurrentChange(val) {
      this.listLoading = true
      this.page = val
      console.log(this.page);
      getListByPagination( this.storeId,this.storeType,this.storeStatus,this.page.size, this.page.page).then(response => {
        console.log(response)
        this.page=response.page;
        this.list = response.data
        this.listLoading = false
        this.total = response.total
      })
    },
    querySearchAsync(queryString, cb){
      var allOrder = this.allOrder;
      for (let i of this.list) {
        i.value = i.number
      }
      var results = queryString ? this.list.filter(this.createStateFilter(queryString)) : this.list
      cb(results)
    },
    createStateFilter(queryString) {
      return (state) => {
        return (state.value.indexOf(queryString) === 0)
      }
    },
    handleSelect(item){
      console.log(item);
      this.list=[];
       this.listLoading = true
     getserch(this.storeId,this.orderId).then(rs=>{
       this.list = rs.data
          this.listLoading = false
          this.total = rs.total
     })
    },
    valueIsNo(value){
      if(value === ''){
        this.fetchData()
      }
    },
    payBy(e,number) {
      if(e === 'ail'){
        PaymentInquiry('alipay',number).then(res=>{
          this.list=[];
        this.listLoading = true
        getListByPagination(this.storeId,this.storeType,this.storeStatus,this.size, this.page).then(response => {
          console.log(response)
          this.list = response.data
          this.listLoading = false
          this.total = response.total
        })
        })
      }else{
        PaymentInquiry('wechat',number).then(res=>{
          this.list=[];
        this.listLoading = true
        getListByPagination(this.storeId,this.storeType,this.storeStatus,this.size, this.page).then(response => {
          console.log(response)
          this.list = response.data
          this.listLoading = false
          this.total = response.total
        })
        })
      }
    }
  }
}
</script>
<style scoped>
.itemStyle{
  height: 40px;
  line-height: 40px;
  text-align: left;
  border: 1px solid rgb(216,224,231)
}
.iconButton{
  display: inline-block;
  
  padding-top: 8px;
  padding-right: 18px;
  padding-bottom: 8px;
  padding-left: 18px;
}
</style>
