<template>
  <div class="app-container">
    <el-form ref="form" :rules="messageRules" :model="form" label-width="120px">
      <el-form-item prop="toUserId" label="用户">
        <el-select filterable v-model="form.toUserId"  placeholder="请选择" style="width: 100%">
          <el-option v-for="item in users" :key="item.id" :label="item.name" :value="item.id" />
        </el-select>
      </el-form-item>
      <el-form-item prop="title" label="标题">
        <el-input v-model="form.title" />
      </el-form-item>
      <el-form-item prop="content" label="内容">
        <el-input v-model="form.content" type="textarea" />
      </el-form-item>
     
      <el-form-item>
        <el-button :loading="loading" type="primary" @click="onSubmit">添加</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import Upload from '@/components/Upload/SingleImage'
import { validEmpty } from '@/utils/validate'
import { create ,getmessageinfo,getUserList} from '@/api/message'
import Cookies from 'js-cookie'

export default {
  components: { Upload },
  data() {
    const validateName = (rule, value, callback) => {
      if (!validEmpty(value)) {
        callback(new Error('请输入！'))
      } else {
        callback()
      }
    }
    return {
      form: {
        name: '',
        description: '',
        thumbnail: ''
      },
      users:[],
      messageRules: {
        name: [{ required: true, trigger: 'blur', validator: validateName }]
      },
      loading: false
    }
  },
  created(){
getUserList(1).then(rs=>{
  this.users=rs.data;
})
// this.messageinfo(JSON.parse(Cookies.get('userinfo')).id)
  },
  methods: {
    messageinfo(e){
   getmessageinfo(e).then(rs=>{
     console.log(rs);
   })
    },
    onUpload(data) {
      this.form.thumbnail = data
    },
    onSubmit() {
      this.$refs.form.validate(valid => {
        if (valid) {
          this.loading = true
          create(this.form).then(response => {
            if(response.success==true){
                   this.$message({
          message:response.message,
          type: 'success'
        });
          this.loading = false
            this.$router.push({ path: '/message/list' })
              }
          }).catch((error) => {
            this.$message({
              message: error.response.data,
              type: 'warning'
            })
            this.loading = false
          })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    }
  }
}
</script>

<style scoped>
.line{
  text-align: center;
}
</style>

